Repository aws-powertools/powertools-lambda-python, pull requests merged in 2020-11, with the labels that each got.

#204 docs: add minimal permission set for using layer
  docs/content/index.mdx
Labels: documentation

#202 docs: add faq section
  docs/content/core/logger.mdx
Labels: documentation

#205 chore: update docs dependencies
  docs/content/dummy.md
  docs/yarn.lock
Labels: dependencies

#207 feat: Add sns notification support to Parser utility #206
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/sns.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/sns.py
  tests/events/snsEvent.json
  tests/functional/parser/schemas.py
  tests/functional/parser/test_sns.py
  tests/functional/test_lambda_trigger_events.py
  tests/functional/validator/conftest.py
Labels: area/utilities, enhancement

#211 feat: include new EventBridge replay-name field in parser and data_classes utilities
  aws_lambda_powertools/utilities/data_classes/event_bridge_event.py
  aws_lambda_powertools/utilities/parser/models/event_bridge.py
  tests/events/eventBridgeEvent.json
  tests/functional/parser/test_eventbridge.py
  tests/functional/test_lambda_trigger_events.py
Labels: area/utilities, enhancement

#214 feat: Add Ses lambda event support to Parser utility #213
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/ses.py
  poetry.lock
  pyproject.toml
  tests/functional/parser/test_ses.py
Labels: area/utilities, enhancement

#222 docs: fix broken link for github
  docs/src/gatsby-theme-apollo-docs/components/page-content.js
Labels: documentation

#223 docs: add source code link in nav bar
  docs/src/gatsby-theme-apollo-docs/components/page-content.js
Labels: documentation
