Repository aws-powertools/powertools-lambda-python, pull requests merged in 2020-06, with the labels that each got.

#57 feat: add security and complexity baseline #33
  .github/workflows/python_build.yml
Labels: enhancement

#59 feat: add codecov service
  .github/workflows/python_build.yml
  Makefile
Labels: enhancement

#60 improv: update metrics interface to resemble other core utils
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metric.py
  aws_lambda_powertools/metrics/metrics.py
  docs/content/core/metrics.mdx
  docs/content/index.mdx
  example/README.md
  example/template.yaml
  tests/functional/test_metrics.py
Labels: area/metrics, breaking-change, enhancement

#62 improv: Better namespace/dimension handling for Metrics
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metric.py
  aws_lambda_powertools/metrics/metrics.py
  docs/content/core/metrics.mdx
  docs/content/index.mdx
  example/README.md
  example/template.yaml
  tests/functional/test_metrics.py
Labels: area/metrics, enhancement

#65 chore: rename Makefile target docs-dev to docs-local
  Makefile
Labels: documentation

#63 improv: include example tests in `make tests`
  example/README.md
  example/tests/__init__.py
  example/tests/test_handler.py
  poetry.lock
  pyproject.toml
  pytest.ini
Labels: enhancement

#64 feat: add pre-commit hooks
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/rfc.md
  .pre-commit-config.yaml
  CHANGELOG.md
  LICENSE
  Makefile
  aws_lambda_powertools/metrics/schema.json
  aws_lambda_powertools/middleware_factory/factory.py
  bandit.baseline
  docs/content/core/logger.mdx
  docs/content/core/metrics.mdx
  docs/content/core/tracer.mdx
  docs/content/dummy.md
  docs/content/index.mdx
  docs/content/utilities/middleware_factory.mdx
  docs/gatsby-config.js
  docs/src/assets/aws-logo.svg
  docs/src/components/Note/index.js
  docs/src/gatsby-theme-apollo-docs/components/header-button.js
  example/.gitignore
  example/README.md
  example/hello_world/app.py
  example/pytest.ini
  poetry.lock
  pyproject.toml
  pytest.ini
Labels: enhancement

#58 feat: automate publishing to pypi
  .github/workflows/publish.yml
Labels: enhancement

#67 feat: add capture_cold_start_metric for log_metrics
  aws_lambda_powertools/metrics/metrics.py
  docs/content/core/metrics.mdx
  tests/functional/test_metrics.py
Labels: area/metrics, enhancement

#70 feat: add high level imports
  .flake8
  .pre-commit-config.yaml
  Makefile
  aws_lambda_powertools/__init__.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/metrics/__init__.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metric.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/middleware_factory/factory.py
  aws_lambda_powertools/package_logger.py
  aws_lambda_powertools/tracing/tracer.py
  docs/content/core/logger.mdx
  docs/content/core/metrics.mdx
  docs/content/core/tracer.mdx
  docs/content/utilities/middleware_factory.mdx
  example/hello_world/app.py
  example/tests/test_handler.py
  poetry.lock
  pyproject.toml
  tests/functional/test_aws_lambda_logging.py
  tests/functional/test_logger.py
  tests/functional/test_metrics.py
  tests/functional/test_tracing.py
  tests/unit/test_tracing.py
Labels: area/logger, area/metrics, area/tracer, enhancement

#71 feat: improve error handling for log_metrics decorator
  aws_lambda_powertools/metrics/metrics.py
  docs/content/core/metrics.mdx
  tests/functional/test_metrics.py
Labels: area/metrics, enhancement

#73 docs: fix major WCAG contrast issues
  docs/src/styles/global.css
Labels: documentation

#77 docs: customize contributing guide
  CONTRIBUTING.md
  example/hello_world/app.py
Labels: documentation

#78 chore: remove deprecated code before GA
  aws_lambda_powertools/helper/__init__.py
  aws_lambda_powertools/helper/models.py
  aws_lambda_powertools/logging/__init__.py
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/lambda_context.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/metrics/__init__.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/exceptions.py
  aws_lambda_powertools/metrics/metric.py
  tests/functional/test_logger.py
  tests/functional/test_metrics.py
Labels: enhancement

#79 chore: cleanup tests
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/tracing/tracer.py
  pyproject.toml
  tests/functional/test_logger.py
  tests/functional/test_metrics.py
  tests/functional/test_tracing.py
  tests/unit/test_tracing.py
Labels: enhancement

#81 feat: add metrics metadata
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metrics.py
  docs/content/core/metrics.mdx
  tests/functional/test_metrics.py
Labels: enhancement

#82 feat: docs anonymized page view
  docs/gatsby-browser.js
  docs/package-lock.json
  docs/package.json
  docs/src/config.js
Labels: documentation
