Repository aws-powertools/powertools-lambda-python, pull requests merged in 2020-08, with the labels that each got.

#99 feat: logger inheritance
  CHANGELOG.md
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  docs/content/core/logger.mdx
  tests/functional/test_aws_lambda_logging.py
  tests/functional/test_logger.py
Labels: area/logger, enhancement

#106 fix: regression 104 and revert docstring
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Labels: area/logger

#109 docs: clarify Tracer auto_patch as per #108
  CHANGELOG.md
  docs/content/core/tracer.mdx
Labels: documentation

#110 improv: logger autocomplete for PyCharm
  CHANGELOG.md
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Labels: area/logger

#116 fix: remove root logger handler set by Lambda #115
  CHANGELOG.md
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Labels: area/logger

#113 feat: add support for tracing of generators using capture_method decorator
  aws_lambda_powertools/tracing/tracer.py
  docs/content/core/tracer.mdx
  example/tests/test_handler.py
  tests/functional/test_tracing.py
  tests/unit/test_tracing.py
Labels: area/tracer, enhancement

#130 docs: readability improvements
  docs/content/core/logger.mdx
  docs/content/core/metrics.mdx
  docs/content/core/tracer.mdx
  docs/content/index.mdx
Labels: documentation

#129 feat: add workflow to trigger external pipeline for publishing lambda layers
  .github/workflows/publish.yml
  docs/content/index.mdx
Labels: enhancement

#142 docs: minor edit to letter case part 2
  docs/content/index.mdx
  docs/gatsby-config.js
  docs/package.json
Labels: documentation

#140 feat(logger): customizing logger output
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_aws_lambda_logging.py
Labels: area/logger, enhancement

#148 docs: new section "Migrating from other Loggers"
  docs/content/core/logger.mdx
  docs/content/core/metrics.mdx
  tests/functional/test_aws_lambda_logging.py
Labels: area/logger, documentation
