Repository aws-powertools/powertools-lambda-python, pull requests merged in 2020-10, with the labels that each got.

#118 feat: Advanced parser utility (pydantic)
  Makefile
  aws_lambda_powertools/utilities/advanced_parser/__init__.py
  aws_lambda_powertools/utilities/advanced_parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/advanced_parser/envelopes/base.py
  aws_lambda_powertools/utilities/advanced_parser/envelopes/dynamodb.py
  aws_lambda_powertools/utilities/advanced_parser/envelopes/envelopes.py
  aws_lambda_powertools/utilities/advanced_parser/envelopes/event_bridge.py
  aws_lambda_powertools/utilities/advanced_parser/envelopes/sqs.py
  aws_lambda_powertools/utilities/advanced_parser/parser.py
  aws_lambda_powertools/utilities/advanced_parser/schemas/__init__.py
  aws_lambda_powertools/utilities/advanced_parser/schemas/dynamodb.py
  aws_lambda_powertools/utilities/advanced_parser/schemas/event_bridge.py
  aws_lambda_powertools/utilities/advanced_parser/schemas/sqs.py
  poetry.lock
  pyproject.toml
  tests/events/eventBridgeEvent.json
  tests/events/sqsEvent.json
  tests/functional/parser/__init__.py
  tests/functional/parser/schemas.py
  tests/functional/parser/test_dynamodb.py
  tests/functional/parser/test_eventbridge.py
  tests/functional/parser/test_sqs.py
  tests/functional/parser/utils.py
Labels: area/utilities, feature

#188 test(parser): Add missing test coverage and lint changes
  aws_lambda_powertools/utilities/advanced_parser/envelopes/base.py
  aws_lambda_powertools/utilities/advanced_parser/envelopes/dynamodb.py
  aws_lambda_powertools/utilities/advanced_parser/schemas/dynamodb.py
  aws_lambda_powertools/utilities/advanced_parser/schemas/sqs.py
  tests/functional/parser/test_dynamodb.py
  tests/functional/parser/test_eventbridge.py
  tests/functional/parser/test_sqs.py
  tests/functional/parser/utils.py
Labels: area/utilities, enhancement

#186 feat(data_classes): case insensitive header lookup
  aws_lambda_powertools/utilities/data_classes/common.py
  tests/functional/test_lambda_trigger_events.py
Labels: area/utilities, enhancement

#190 improv: Update README.md
  README.md
Labels: documentation

#189 chore: ease maintenance of upcoming parser #118
  aws_lambda_powertools/utilities/advanced_parser/__init__.py
  aws_lambda_powertools/utilities/advanced_parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/advanced_parser/envelopes/base.py
  aws_lambda_powertools/utilities/advanced_parser/envelopes/dynamodb.py
  aws_lambda_powertools/utilities/advanced_parser/envelopes/envelopes.py
  aws_lambda_powertools/utilities/advanced_parser/envelopes/event_bridge.py
  aws_lambda_powertools/utilities/advanced_parser/envelopes/sqs.py
  aws_lambda_powertools/utilities/advanced_parser/parser.py
  aws_lambda_powertools/utilities/advanced_parser/schemas/__init__.py
  aws_lambda_powertools/utilities/advanced_parser/schemas/dynamodb.py
  aws_lambda_powertools/utilities/advanced_parser/schemas/sqs.py
  aws_lambda_powertools/utilities/parser/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/base.py
  aws_lambda_powertools/utilities/parser/envelopes/dynamodb.py
  aws_lambda_powertools/utilities/parser/envelopes/event_bridge.py
  aws_lambda_powertools/utilities/parser/envelopes/sqs.py
  aws_lambda_powertools/utilities/parser/exceptions.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
  aws_lambda_powertools/utilities/parser/models/event_bridge.py
  aws_lambda_powertools/utilities/parser/models/sqs.py
  aws_lambda_powertools/utilities/parser/parser.py
  aws_lambda_powertools/utilities/parser/pydantic.py
  poetry.lock
  pyproject.toml
  tests/functional/parser/conftest.py
  tests/functional/parser/schemas.py
  tests/functional/parser/test_dynamodb.py
  tests/functional/parser/test_eventbridge.py
  tests/functional/parser/test_parser.py
  tests/functional/parser/test_sqs.py
Labels: area/utilities, enhancement

#197 fix: move from npm to yarn to fix peer deps vuln with resolutions feature
  .github/workflows/python_docs.yml
  Makefile
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
Labels: internal

#192 docs: new parser utility
  aws_lambda_powertools/utilities/parser/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/base.py
  aws_lambda_powertools/utilities/parser/envelopes/dynamodb.py
  aws_lambda_powertools/utilities/parser/envelopes/event_bridge.py
  aws_lambda_powertools/utilities/parser/envelopes/sqs.py
  aws_lambda_powertools/utilities/parser/exceptions.py
  aws_lambda_powertools/utilities/parser/parser.py
  aws_lambda_powertools/utilities/parser/types.py
  docs/content/utilities/parser.mdx
  docs/gatsby-config.js
  tests/functional/parser/conftest.py
  tests/functional/parser/test_dynamodb.py
  tests/functional/parser/test_eventbridge.py
  tests/functional/parser/test_parser.py
  tests/functional/parser/test_sqs.py
Labels: area/utilities, documentation

#198 improv: add log filter in root handler to prevent child log records duplication
  aws_lambda_powertools/logging/filters.py
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Labels: area/logger, bug

#199 docs: add more info on conditional keys #195
  docs/content/core/logger.mdx
Labels: area/logger, documentation

#200 chore: bump to 1.7.0
  CHANGELOG.md
  pyproject.toml
Labels: internal
