Repository aws-powertools/powertools-lambda-python, pull requests merged in 2020-12, with the labels that each got.

#229 feat: Add alb lambda event support to Parser utility
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/alb.py
  docs/content/utilities/parser.mdx
  tests/functional/parser/test_alb.py
Labels: area/utilities, feature

#231 feat: Add cloudwatch lambda event support to Parser utility
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/cloudwatch.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/cloudwatch.py
  docs/content/utilities/parser.mdx
  tests/functional/parser/schemas.py
  tests/functional/parser/test_cloudwatch.py
Labels: area/utilities, feature

#225 feat: Add S3 lambda event support to Parser utility #224
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/s3.py
  docs/content/utilities/parser.mdx
  tests/events/s3EventGlacier.json
  tests/functional/parser/test_s3.py
Labels: area/utilities, feature

#227 feat: Add Kinesis lambda event support to Parser utility
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/kinesis.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/kinesis.py
  docs/content/utilities/parser.mdx
  tests/functional/parser/schemas.py
  tests/functional/parser/test_kinesis.py
Labels: area/utilities, feature

#232 test(general): Add missing tests for parser
  tests/events/s3EventDecodedKey.json
  tests/functional/parser/test_cloudwatch.py
  tests/functional/test_lambda_trigger_events.py
  tests/unit/test_tracing.py
Labels: area/utilities, enhancement

#233 improv: Added __eq__ function to DictWrapper for better equality checks
  aws_lambda_powertools/utilities/data_classes/common.py
Labels: area/metrics, enhancement

#234 test: DictWrapper equals method
  tests/functional/test_lambda_trigger_events.py
Labels: internal

#237 feat: PEP-561 compliance
  aws_lambda_powertools/py.typed
  pyproject.toml
Labels: feature

#235 chore: implement phony targets correctly
  Makefile
Labels: internal

#250 fix: prevent touching preconfigured loggers #249
  CHANGELOG.md
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_aws_lambda_logging.py
  tests/functional/test_logger.py
Labels: area/logger, bug
