Repository aws-powertools/powertools-lambda-python, pull requests merged in 2020-09, with the labels that each got.

#150 feat: add xray_trace_id key when tracing is active #137
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  docs/content/core/logger.mdx
  tests/functional/test_aws_lambda_logging.py
Labels: area/logger, feature

#151 docs: add troubleshooting section
  CONTRIBUTING.md
Labels: documentation

#100 feat: SQS Partial failure
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/middlewares.py
  aws_lambda_powertools/utilities/batch/sqs.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  docs/content/index.mdx
  docs/content/utilities/batch.mdx
  docs/gatsby-config.js
  tests/functional/test_utilities_batch.py
  tests/unit/test_utilities_batch.py
Labels: area/utilities, feature

#155 fix: batch processing util
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/exceptions.py
  aws_lambda_powertools/utilities/batch/middlewares.py
  aws_lambda_powertools/utilities/batch/sqs.py
  docs/content/utilities/batch.mdx
  tests/functional/test_utilities_batch.py
  tests/unit/test_utilities_batch.py
Labels: area/utilities, bug

#149 feat: Static Types for AWS Lambda
  aws_lambda_powertools/utilities/typing/__init__.py
  aws_lambda_powertools/utilities/typing/lambda_client_context.py
  aws_lambda_powertools/utilities/typing/lambda_client_context_mobile_client.py
  aws_lambda_powertools/utilities/typing/lambda_cognito_identity.py
  aws_lambda_powertools/utilities/typing/lambda_context.py
  docs/content/index.mdx
  docs/content/media/utilities_typing.png
  docs/content/utilities/typing.mdx
  docs/gatsby-config.js
  tests/functional/test_utilities_typing.py
Labels: area/utilities, feature

#153 feat: simple JSON Schema validator utility
  CHANGELOG.md
  Makefile
  aws_lambda_powertools/utilities/validation/__init__.py
  aws_lambda_powertools/utilities/validation/base.py
  aws_lambda_powertools/utilities/validation/envelopes.py
  aws_lambda_powertools/utilities/validation/exceptions.py
  aws_lambda_powertools/utilities/validation/jmespath_functions.py
  aws_lambda_powertools/utilities/validation/validator.py
  docs/content/utilities/validation.mdx
  docs/gatsby-config.js
  poetry.lock
  pyproject.toml
  tests/functional/validator/__init__.py
  tests/functional/validator/conftest.py
  tests/functional/validator/test_validator.py
Labels: area/utilities, feature

#167 feat: emf multiple metric values
  CHANGELOG.md
  aws_lambda_powertools/metrics/base.py
  tests/functional/test_metrics.py
Labels: area/metrics, feature

#159 feat(trigger): data class and helper functions for lambda trigger events
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_logs_event.py
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  aws_lambda_powertools/utilities/data_classes/event_bridge_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_stream_event.py
  aws_lambda_powertools/utilities/data_classes/s3_event.py
  aws_lambda_powertools/utilities/data_classes/ses_event.py
  aws_lambda_powertools/utilities/data_classes/sns_event.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/events/albEvent.json
  tests/events/apiGatewayProxyEvent.json
  tests/events/apiGatewayProxyV2Event.json
  tests/events/cloudWatchLogEvent.json
  tests/events/cognitoCustomMessageEvent.json
  tests/events/cognitoPostAuthenticationEvent.json
  tests/events/cognitoPostConfirmationEvent.json
  tests/events/cognitoPreAuthenticationEvent.json
  tests/events/cognitoPreSignUpEvent.json
  tests/events/cognitoPreTokenGenerationEvent.json
  tests/events/cognitoUserMigrationEvent.json
  tests/events/dynamoStreamEvent.json
  tests/events/eventBridgeEvent.json
  tests/events/kinesisStreamEvent.json
  tests/events/s3Event.json
  tests/events/sesEvent.json
  tests/events/snsEvent.json
  tests/events/sqsEvent.json
  tests/functional/test_lambda_trigger_events.py
Labels: area/utilities, feature

#170 fix: remove DeleteMessageBatch call to SQS api if there are no messages to delete
  aws_lambda_powertools/utilities/batch/sqs.py
  tests/functional/test_utilities_batch.py
Labels: area/utilities, bug

#174 docs: add testing tips, increase content width, and improve log sampling wording
  docs/content/core/logger.mdx
  docs/content/core/metrics.mdx
  docs/src/gatsby-theme-apollo-core/components/flex-wrapper.js
  docs/src/styles/global.css
Labels: documentation

#171 docs: Data Classes Utility
  README.md
  docs/content/index.mdx
  docs/content/media/utilities_data_classes.png
  docs/content/utilities/data_classes.mdx
  docs/gatsby-config.js
Labels: area/utilities, documentation

#176 fix: accessing boolean value in dynamodb utility class
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
Labels: area/utilities, bug
