Repository aws-powertools/powertools-lambda-python, pull requests merged in 2021-01, with the labels that each got.

#254 docs: add missing parser models
  docs/content/utilities/parser.mdx
Labels: documentation

#256 chore: docs npm high vuln.
  docs/package.json
  docs/yarn.lock
Labels: internal

#247 feat: support custom formats in JSON Schema validation
  aws_lambda_powertools/utilities/validation/base.py
  aws_lambda_powertools/utilities/validation/validator.py
  docs/content/utilities/validation.mdx
  tests/functional/validator/conftest.py
  tests/functional/validator/test_validator.py
Labels: area/utilities, enhancement

#255 chore: general simplifications and cleanup
  aws_lambda_powertools/logging/filters.py
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/tracing/tracer.py
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parser/envelopes/cloudwatch.py
  aws_lambda_powertools/utilities/parser/envelopes/dynamodb.py
  aws_lambda_powertools/utilities/parser/envelopes/kinesis.py
  aws_lambda_powertools/utilities/parser/envelopes/sns.py
  aws_lambda_powertools/utilities/parser/envelopes/sqs.py
Labels: internal

#257 feat: support extra parameter in Logger messages
  aws_lambda_powertools/logging/formatter.py
  docs/content/core/logger.mdx
  tests/functional/test_logger.py
Labels: area/logger, feature

#259 improv: override Tracer auto-capture response/exception via env vars
  aws_lambda_powertools/shared/__init__.py
  aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/tracing/tracer.py
  docs/content/core/tracer.mdx
  docs/content/index.mdx
  tests/functional/test_shared_functions.py
  tests/unit/test_tracing.py
Labels: area/tracer, enhancement

#236 feat: Add AppConfig parameter provider
  aws_lambda_powertools/utilities/parameters/__init__.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  docs/content/utilities/parameters.mdx
  tests/functional/test_utilities_parameters.py
Labels: area/utilities, feature

#267 docs: fix import
  docs/content/utilities/data_classes.mdx
Labels: documentation

#264 chore: move env names to constant file
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/middleware_factory/factory.py
  aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/tracing/tracer.py
  tests/functional/test_logger.py
  tests/functional/test_shared_functions.py
  tests/unit/test_tracing.py
Labels: internal

#269 improv: add support for custom lambda handlers with kwargs #242
  aws_lambda_powertools/tracing/tracer.py
  tests/functional/test_tracing.py
Labels: area/tracer, enhancement

#268 feat: toggle to disable log deduplication locally for pytest live log #262
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/shared/constants.py
  docs/content/core/logger.mdx
  docs/content/index.mdx
  tests/functional/test_logger.py
Labels: area/logger, enhancement

#270 chore: bump to 1.10.0
  CHANGELOG.md
  docs/content/utilities/parameters.mdx
  pyproject.toml
Labels: internal

#272 feat: add support for SNS->SQS protocol
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/sns.py
  aws_lambda_powertools/utilities/parser/models/sns.py
  docs/content/utilities/parser.mdx
  tests/events/snsSqsEvent.json
  tests/functional/parser/test_sns.py
Labels: area/utilities, enhancement

#274 chore: typo in parser docs
  docs/content/utilities/parser.mdx
Labels: documentation

#271 docs(appconfig): Use correct import for docstring
  aws_lambda_powertools/utilities/parameters/appconfig.py
Labels: area/utilities, documentation
