Repository aws-powertools/powertools-lambda-python, pull requests merged in 2021-08, with the labels that each got.

#577 docs(readme): add code coverage badge
  README.md
Labels: documentation, size/XS

#563 refactor(feature_flags): optimize UX and maintenance
  .pre-commit-config.yaml
  aws_lambda_powertools/shared/jmespath_functions.py
  aws_lambda_powertools/shared/jmespath_utils.py
  aws_lambda_powertools/utilities/feature_flags/__init__.py
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/feature_flags/base.py
  aws_lambda_powertools/utilities/feature_flags/exceptions.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  aws_lambda_powertools/utilities/feature_toggles/__init__.py
  aws_lambda_powertools/utilities/feature_toggles/appconfig_fetcher.py
  aws_lambda_powertools/utilities/feature_toggles/configuration_store.py
  aws_lambda_powertools/utilities/feature_toggles/exceptions.py
  aws_lambda_powertools/utilities/feature_toggles/schema.py
  aws_lambda_powertools/utilities/feature_toggles/schema_fetcher.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/validation/base.py
  aws_lambda_powertools/utilities/validation/validator.py
  docs/utilities/feature_flags.md
  mkdocs.yml
  tests/functional/feature_flags/__init__.py
  tests/functional/feature_flags/test_feature_flags.py
  tests/functional/feature_flags/test_schema_validation.py
  tests/functional/feature_toggles/test_feature_toggles.py
  tests/functional/feature_toggles/test_schema_validation.py
  tests/functional/idempotency/conftest.py
Labels: area/utilities, documentation, feature, internal, size/XXL, tests

#588 docs(feature-toggles): correct docs and typing
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/feature_flags/base.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
Labels: area/utilities, internal, size/M

#590 refactor(feature-flags): add debug for all features evaluation"
  .github/release-drafter.yml
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
Labels: area/utilities, feature, internal, size/S

#592 fix(deps): bump poetry to latest
  Makefile
Labels: internal, size/XS

#589 feat(feature flags): Add not_in action and rename contains to in
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  tests/functional/feature_flags/test_feature_flags.py
  tests/functional/feature_flags/test_schema_validation.py
Labels: area/utilities, feature, size/M, tests

#594 docs(feature-flags): create concrete documentation
  README.md
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  docs/index.md
  docs/media/feat_flags_evaluation_workflow.png
  docs/utilities/feature_flags.md
  tests/functional/feature_flags/test_feature_flags.py
Labels: documentation, area/utilities, size/XL, tests

#598 feat(tracer): disable tracer when for non-Lambda envs
  aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/tracing/tracer.py
  tests/functional/test_tracing.py
  tests/unit/test_tracing.py
Labels: area/tracer, size/M, tests

#573 docs(parameters): auto-transforming values based on suffix
  docs/utilities/parameters.md
Labels: documentation, area/utilities, size/M

#599 fix(feature-flags): bug handling multiple conditions
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  tests/functional/feature_flags/test_feature_flags.py
Labels: area/utilities, size/M, tests

#601 fix(feature-toggles): correct cdk example
  docs/utilities/feature_flags.md
Labels: documentation, area/utilities, size/L

#603 chore(docs): correct markdown based on markdown lint
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  docs/index.md
  docs/utilities/batch.md
  docs/utilities/data_classes.md
  docs/utilities/feature_flags.md
  docs/utilities/idempotency.md
  docs/utilities/middleware_factory.md
  docs/utilities/parameters.md
  docs/utilities/parser.md
  docs/utilities/validation.md
Labels: documentation, size/XXL

#610 feat(data-classes): AppSync Lambda authorizer event
  aws_lambda_powertools/logging/correlation_paths.py
  aws_lambda_powertools/utilities/data_classes/appsync_authorizer_event.py
  docs/utilities/data_classes.md
  tests/events/appSyncAuthorizerEvent.json
  tests/events/appSyncAuthorizerResponse.json
  tests/functional/test_data_classes.py
Labels: documentation, area/logger, area/utilities, feature, size/L, tests, area/event_sources

#613 chore(shared): fix cyclic import & refactor data extraction fn
  aws_lambda_powertools/exceptions/__init__.py
  aws_lambda_powertools/shared/jmespath_utils.py
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/validation/exceptions.py
  aws_lambda_powertools/utilities/validation/validator.py
  pyproject.toml
  tests/functional/idempotency/conftest.py
Labels: dependencies, area/utilities, size/M, tests

#616 refactor(event_handler): match to match_results; 3.10 new keyword
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/utilities/data_classes/appsync_authorizer_event.py
Labels: area/utilities, internal, size/S, area/event_handlers

#579 feat(event-handler): prefixes to strip for custom mappings
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: feature, size/M, area/event_handlers, tests, missing/docs

#612 chore(api-docs): enable allow_reuse to fix the docs
  aws_lambda_powertools/utilities/parser/models/apigw.py
  aws_lambda_powertools/utilities/parser/models/cloudwatch.py
  aws_lambda_powertools/utilities/parser/models/kinesis.py
  aws_lambda_powertools/utilities/parser/models/sns.py
Labels: area/utilities, internal, size/XS

#622 fix(api-gateway): strip stage name from request path
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  tests/functional/event_handler/test_api_gateway.py
Labels: bug, area/utilities, size/S, area/event_handlers, tests

#626 feat(general): support for Python 3.9
  .github/workflows/python_build.yml
  pyproject.toml
Labels: dependencies, feature, internal, size/XS

#628 feat(data-classes): data_as_bytes prop KinesisStreamRecordPayload
  aws_lambda_powertools/utilities/data_classes/kinesis_stream_event.py
  tests/functional/test_data_classes.py
Labels: area/utilities, feature, size/XS, tests

#630 docs(data-classes): make authorizer concise; use enum
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  docs/utilities/data_classes.md
  tests/functional/data_classes/test_api_gateway_authorizer.py
Labels: documentation, area/utilities, size/L, tests

#625 feat(idempotency): support for any synchronous function
  aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/shared/types.py
  aws_lambda_powertools/tracing/tracer.py
  aws_lambda_powertools/utilities/idempotency/__init__.py
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  docs/utilities/idempotency.md
  pyproject.toml
  tests/functional/idempotency/test_idempotency.py
Labels: documentation, dependencies, area/tracer, area/utilities, size/XL, tests

#635 chore(license): add third party license
  MANIFEST.in
Labels: internal, size/XS

#637 chore: setup codespaces
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: internal, size/M

#636 chore: markdown linter fixes
  docs/core/event_handler/api_gateway.md
  docs/utilities/data_classes.md
  docs/utilities/idempotency.md
Labels: documentation, size/S

#639 fix(idempotency): sorting keys before hashing
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
Labels: bug, area/utilities, size/M, tests

#641 chore(license): Add THIRD-PARTY-LICENSES to pyproject.toml
  pyproject.toml
Labels: dependencies, size/XS
