Repository aws-powertools/powertools-lambda-python, pull requests merged in 2021-12, with the labels that each got.

#864 docs(apigateway): fix sample layout provided
  docs/core/event_handler/api_gateway.md
Labels: documentation, size/M, area/event_handlers

#862 chore(deps): support arm64 when developing locally
  poetry.lock
  pyproject.toml
Labels: dependencies, size/XL

#869 fix(idempotency): include decorated fn name in hash
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
Labels: bug, area/utilities, size/M, tests, area/idempotency

#865 fix(metrics): explicit type to single_metric ctx manager
  aws_lambda_powertools/metrics/metric.py
Labels: enhancement, area/metrics, size/XS, mypy

#878 fix(event-sources): handle claimsOverrideDetails set to null
  aws_lambda_powertools/metrics/metric.py
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  tests/functional/test_data_classes.py
Labels: bug, area/metrics, area/utilities, size/S, tests

#883 fix(parser): mypy support for payload type override as models
  aws_lambda_powertools/utilities/parser/models/alb.py
  aws_lambda_powertools/utilities/parser/models/apigw.py
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  aws_lambda_powertools/utilities/parser/models/cloudwatch.py
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
  aws_lambda_powertools/utilities/parser/models/event_bridge.py
  aws_lambda_powertools/utilities/parser/models/kinesis.py
  aws_lambda_powertools/utilities/parser/models/s3.py
  aws_lambda_powertools/utilities/parser/models/s3_object_event.py
  aws_lambda_powertools/utilities/parser/models/sns.py
  aws_lambda_powertools/utilities/parser/models/sqs.py
  docs/utilities/parser.md
Labels: bug, documentation, area/utilities, size/M, mypy

#897 fix(event-sources): Pass authorizer data to APIGatewayEventAuthorizer
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  tests/events/apiGatewayProxyEventPrincipalId.json
  tests/functional/test_data_classes.py
Labels: bug, area/utilities, size/M, tests, area/event_sources

#898 feat(apigateway): add exception_handler support
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: feature, size/L, area/event_handlers, tests

#907 fix(parser): kinesis sequence number is str, not int
  aws_lambda_powertools/utilities/parser/models/kinesis.py
  tests/functional/parser/test_kinesis.py
Labels: bug, area/utilities, internal, size/XS, tests, area/parser

#885 fix(parser): overload parse when using envelope
  aws_lambda_powertools/utilities/parser/envelopes/base.py
  aws_lambda_powertools/utilities/parser/parser.py
  aws_lambda_powertools/utilities/parser/types.py
Labels: bug, area/utilities, size/M, area/parser, mypy

#886 feat(batch): new BatchProcessor for SQS, DynamoDB, Kinesis
  .pre-commit-config.yaml
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/exceptions.py
  docs/utilities/batch.md
  tests/functional/test_utilities_batch.py
  tests/functional/utils.py
  tests/utils.py
Labels: documentation, area/utilities, feature, internal, size/XXL, tests

#912 chore: minor housekeeping before release
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/exceptions.py
  aws_lambda_powertools/utilities/parser/parser.py
  pyproject.toml
  tests/functional/idempotency/test_idempotency.py
  tests/functional/test_utilities_batch.py
Labels: dependencies, area/utilities, internal, size/M, tests

#913 feat(logger): allow handler with custom kwargs signature
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Labels: area/logger, feature, size/S, tests

#914 docs: external reference to cloudformation custom resource helper
  mkdocs.yml
Labels: documentation, size/XS

#915 docs(apigateway): add new not_found feature
  docs/core/event_handler/api_gateway.md
  mkdocs.yml
Labels: documentation, size/M

#921 fix(warning): future distutils deprecation
  aws_lambda_powertools/shared/functions.py
Labels: internal, size/S

#909 feat(event-sources): cache parsed json in data class
  aws_lambda_powertools/utilities/data_classes/active_mq_event.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/rabbit_mq_event.py
  tests/functional/data_classes/test_amazon_mq.py
  tests/functional/test_data_classes.py
Labels: area/utilities, feature, size/M, tests, p1, area/event_sources

#910 feat(tracer): ignore tracing for certain hostname(s) or url(s)
  aws_lambda_powertools/tracing/tracer.py
  tests/unit/test_tracing.py
Labels: area/tracer, feature, size/M, tests, p1

#908 feat(idempotency): support dataclasses & pydantic models payloads
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  docs/utilities/idempotency.md
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/utils.py
Labels: documentation, area/utilities, feature, size/L, tests, p1

#930 docs: Added GraphQL Sample API to Examples section of README.md
  README.md
Labels: documentation, size/XS

#926 fix(apigateway): support @app.not_found() syntax & housekeeping
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/test_shared_functions.py
Labels: bug, area/utilities, internal, size/L, area/event_handlers, tests

#929 fix(event-sources): handle dynamodb null type as none, not bool
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  tests/functional/test_data_classes.py
Labels: bug, area/utilities, size/XS, tests, area/event_sources

#919 docs: consistency around admonitions and snippets
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  docs/index.md
  docs/stylesheets/extra.css
  docs/utilities/batch.md
  docs/utilities/data_classes.md
  docs/utilities/feature_flags.md
  docs/utilities/idempotency.md
  docs/utilities/jmespath_functions.md
  docs/utilities/middleware_factory.md
  docs/utilities/parameters.md
  docs/utilities/parser.md
  docs/utilities/typing.md
  docs/utilities/validation.md
Labels: documentation, size/XXL

#804 feat(feature_flags): support beyond boolean values (JSON values)
  aws_lambda_powertools/shared/types.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  docs/media/feat_flags_evaluation_workflow.png
  docs/media/feature_flags_diagram.png
  docs/utilities/feature_flags.md
  tests/functional/feature_flags/test_feature_flags.py
  tests/functional/feature_flags/test_schema_validation.py
Labels: documentation, area/utilities, feature, size/XL, tests, p1, area/feature_flags

#920 feat(logger): support use_datetime_directive for timestamps
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  docs/utilities/feature_flags.md
  tests/functional/test_logger.py
Labels: documentation, area/logger, feature, size/M, tests

#931 docs(tracer): new ignore_endpoint feature
  docs/core/tracer.md
Labels: documentation, area/tracer, size/S
