Repository aws-powertools/powertools-lambda-python, pull requests merged in 2021-05, with the labels that each got.

#412 refactor(event-handler): Add ResponseBuilder and more docs
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  mkdocs.yml
  tests/functional/event_handler/test_api_gateway.py
Labels: area/utilities, feature

#415 docs(logger): improvements extensibility & new features
  aws_lambda_powertools/logging/formatter.py
  docs/core/logger.md
Labels: area/logger, documentation

#417 refactor: simplify custom formatter for minor changes
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/tracing/tracer.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/event_bridge_event.py
  aws_lambda_powertools/utilities/data_classes/s3_object_event.py
  aws_lambda_powertools/utilities/data_classes/sns_event.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  docs/core/logger.md
  tests/functional/test_metrics.py
Labels: area/logger, enhancement

#420 refactor(event-handler): api gateway handler review changes
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/test_api_gateway.py
Labels: area/event_handlers, enhancement

#418 docs(api_gateway): new event handler for API Gateway and ALB
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  docs/core/logger.md
  tests/functional/event_handler/test_api_gateway.py
Labels: area/event_handlers, documentation

#419 fix(parser): Improve types for parser.py
  aws_lambda_powertools/utilities/parser/parser.py
  docs/utilities/parser.md
Labels: area/utilities, bug

#421 feat(event-handler): allow for `cors=None` setting
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: area/event_handlers, enhancement

#424 fix(docs): Use updated names for ProxyEventType
  docs/core/event_handler/api_gateway.md
Labels: documentation

#426 fix(logger): Support .info("foo %s", "bar") formatting
  aws_lambda_powertools/logging/formatter.py
  tests/functional/test_logger_powertools_formatter.py
Labels: area/logger, enhancement

#416 feat(data-classes): support for code pipeline job event
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  docs/utilities/data_classes.md
  tests/events/codePipelineEvent.json
  tests/events/codePipelineEventData.json
  tests/functional/test_data_classes.py
Labels: area/utilities, feature

#425 feat(data-classes): decode base64 encoded body
  aws_lambda_powertools/utilities/data_classes/common.py
  tests/functional/test_data_classes.py
Labels: area/utilities, enhancement

#437 feat(parser): security issue in Pydantic #436
  poetry.lock
  pyproject.toml
Labels: area/utilities, bug/upstream, dependencies

#441 feat(parser): add support for API Gateway HTTP API #434
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/apigwv2.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  docs/utilities/parser.md
  tests/events/apiGatewayProxyV2Event.json
  tests/events/apiGatewayProxyV2IamEvent.json
  tests/events/apiGatewayProxyV2LambdaAuthorizerEvent.json
  tests/functional/parser/test_apigwv2.py
  tests/functional/test_data_classes.py
Labels: area/utilities, documentation, feature

#443 chore: assited changelog pre-generation, auto-label PR
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .github/auto-label.json
  .github/boring-cyborg.yml
  .github/workflows/publish.yml
  .gitignore
  Makefile
Labels: internal, size/L

#444 chore: enable dependabot for dep upgrades
  .github/auto-label_yml.inactive
  .github/dependabot.yml
Labels: internal, size/M

#450 chore: enable mergify
  .github/mergify.yml
Labels: internal, size/S

#452 docs: include new public roadmap
  README.md
  mkdocs.yml
Labels: documentation, size/XS
