Repository aws-powertools/powertools-lambda-python, pull requests merged in 2021-07, with the labels that each got.

#498 fix(validator): handle built-in custom formats correctly
  aws_lambda_powertools/utilities/validation/base.py
  tests/functional/validator/conftest.py
  tests/functional/validator/test_validator.py
Labels: area/utilities, bug, size/M, tests

#499 docs(tracer): additional scenario when to disable auto-capture
  docs/core/tracer.md
Labels: area/tracer, documentation, size/XS

#500 docs: add Layers example for Serverless framework & CDK
  docs/index.md
Labels: documentation, size/M

#501 docs(logger): add FAQ for cross-account searches
  docs/core/logger.md
Labels: area/logger, documentation, size/XS

#502 chore: bump 1.17.1
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  CHANGELOG.md
  pyproject.toml
Labels: dependencies, internal, size/M

#504 fix(data-classes): include milliseconds in scalar types
  aws_lambda_powertools/utilities/data_classes/appsync/scalar_types_utils.py
  tests/functional/test_data_classes.py
Labels: area/utilities, bug, size/M, tests

#506 feat(api-gateway): add common service errors
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/content_types.py
  aws_lambda_powertools/event_handler/exceptions.py
  tests/functional/event_handler/test_api_gateway.py
Labels: area/event_handlers, feature, size/L, tests

#507 feat(api-gateway): add debug mode
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/content_types.py
  aws_lambda_powertools/shared/constants.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/py.typed
Labels: area/event_handlers, feature, size/L, tests

#508 feat(mypy): add mypy support to makefile
  Makefile
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/utilities/validation/base.py
  mypy.ini
  poetry.lock
  pyproject.toml
Labels: area/logger, area/utilities, dependencies, internal, size/M

#494 feat(feat-toggle): New simple feature toggles rule engine (WIP)
  aws_lambda_powertools/utilities/feature_toggles/__init__.py
  aws_lambda_powertools/utilities/feature_toggles/appconfig_fetcher.py
  aws_lambda_powertools/utilities/feature_toggles/configuration_store.py
  aws_lambda_powertools/utilities/feature_toggles/exceptions.py
  aws_lambda_powertools/utilities/feature_toggles/schema.py
  aws_lambda_powertools/utilities/feature_toggles/schema_fetcher.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  tests/functional/feature_toggles/__init__.py
  tests/functional/feature_toggles/test_feature_toggles.py
  tests/functional/feature_toggles/test_schema_validation.py
Labels: area/utilities, feature, tests

#521 fix(mypy): fixes to resolve no implicit optional errors
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metric.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/middleware_factory/factory.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/tracing/base.py
  aws_lambda_powertools/tracing/tracer.py
  aws_lambda_powertools/utilities/idempotency/config.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/validation/base.py
  aws_lambda_powertools/utilities/validation/validator.py
  mypy.ini
Labels: area/event_handlers, area/logger, area/metrics, area/tracer, area/utilities, size/L

#532 fix(parser): Make ApiGateway version, authorizer fields optional
  aws_lambda_powertools/utilities/parser/models/apigw.py
  tests/events/apiGatewayProxyEvent_noVersionAuth.json
  tests/functional/test_data_classes.py
Labels: area/utilities, tests

#529 fix(tracer): mypy generic to preserve decorated method signature
  aws_lambda_powertools/tracing/tracer.py
Labels: area/tracer, bug

#533 fix(api-gateway): non-greedy route pattern regex
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: area/event_handlers, bug, tests

#516 feat(logger): add get_correlation_id method
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Labels: area/logger, feature, size/M, tests

#530 refactor(feature-toggles): Code coverage and housekeeping
  Makefile
  aws_lambda_powertools/utilities/feature_toggles/__init__.py
  aws_lambda_powertools/utilities/feature_toggles/appconfig_fetcher.py
  aws_lambda_powertools/utilities/feature_toggles/configuration_store.py
  aws_lambda_powertools/utilities/feature_toggles/exceptions.py
  aws_lambda_powertools/utilities/feature_toggles/schema.py
  aws_lambda_powertools/utilities/feature_toggles/schema_fetcher.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  mypy.ini
  tests/functional/feature_toggles/test_feature_toggles.py
  tests/functional/feature_toggles/test_schema_validation.py
Labels: area/utilities, internal, tests

#526 feat(event-handler): Support AppSyncResolverEvent subclassing
  aws_lambda_powertools/event_handler/appsync.py
  docs/core/event_handler/appsync.md
  tests/functional/event_handler/test_appsync.py
Labels: area/event_handlers, documentation, feature, tests

#545 docs(logger): document new get_correlation_id method
  docs/core/logger.md
Labels: area/logger, documentation

#546 docs(api-gateway): document new HTTP service error exceptions
  docs/core/event_handler/api_gateway.md
  docs/index.md
Labels: area/event_handlers, documentation

#547 chore: bump 1.18.0
  .chglog/CHANGELOG.tpl.md
  CHANGELOG.md
  pyproject.toml
Labels: dependencies, internal

#560 feat(data-classes): decode json_body if based64 encoded
  aws_lambda_powertools/utilities/data_classes/common.py
  tests/functional/test_data_classes.py
Labels: area/utilities, feature, size/S, tests

#553 fix(parser): apigw wss validation check_message_id; housekeeping
  aws_lambda_powertools/tracing/tracer.py
  aws_lambda_powertools/utilities/feature_toggles/appconfig_fetcher.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parser/models/apigw.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/parser/test_apigw.py
Labels: area/tracer, area/utilities, bug, size/M, tests

#567 feat(params): expose high level max_age, raise_on_transform_error
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
Labels: area/utilities, feature, size/M

#568 feat(api-gateway): add support for custom serializer
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: area/event_handlers, feature, size/M, tests
