Repository aws-powertools/powertools-lambda-python, pull requests merged in 2021-06, with the labels that each got.

#456 chore: update mergify to require approval on dependabot
  .github/mergify.yml
Labels: internal, size/XS

#442 feat(data-classes): decorator to instantiate data_classes and docs updates
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/event_source.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  docs/utilities/data_classes.md
  tests/functional/idempotency/test_idempotency.py
  tests/functional/test_data_classes.py
Labels: area/utilities, documentation, size/XL, tests

#462 feat(data-classes): add AttributeValueType to DynamoDBStreamEvent
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  tests/functional/test_data_classes.py
Labels: area/utilities, size/L, tests

#467 feat(logger): add option to clear state per invocation
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  tests/functional/test_logger.py
Labels: area/logger, documentation, size/L, tests

#471 docs: enable dark mode switch
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: documentation, size/S
