Repository aws-powertools/powertools-lambda-python, pull requests merged in 2021-03, with the labels that each got.

#297 feat(idempotency): Add raise_on_no_idempotency_key flag
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  docs/utilities/idempotency.md
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
Labels: area/utilities

#296 test(general): Add some missing code coverage
  tests/functional/test_lambda_trigger_events.py
  tests/functional/test_utilities_parameters.py
Labels: internal

#304 feat(data-classes): Add connect contact flow event
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/connect_contact_flow_event.py
  tests/events/connectContactFlowEventAll.json
  tests/events/connectContactFlowEventMin.json
  tests/functional/test_lambda_trigger_events.py
Labels: area/utilities

#305 docs(idempotent): Fix typos and code formatting
  docs/utilities/idempotency.md
Labels: documentation

#302 feat(idempotent): Add support for jmespath_options
  aws_lambda_powertools/shared/jmespath_functions.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/validation/base.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
Labels: area/utilities, enhancement

#307 refactor(metrics): optimize validation and serialization
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metric.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/schema.py
  poetry.lock
  tests/functional/test_metrics.py
  tests/performance/conftest.py
  tests/performance/test_metrics.py
Labels: area/metrics, enhancement

#308 docs(batch): add example on how to integrate with sentry.io
  docs/utilities/batch.md
Labels: documentation

#306 refactor(idempotent): Change UX to use a config class for non-persistence related features
  Makefile
  aws_lambda_powertools/tracing/extensions.py
  aws_lambda_powertools/utilities/idempotency/__init__.py
  aws_lambda_powertools/utilities/idempotency/config.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  docs/utilities/idempotency.md
  examples/__init__.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
Labels: area/utilities, enhancement

#309 docs(idempotency): tidy up doc before release
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  docs/utilities/idempotency.md
  mkdocs.yml
  tests/functional/idempotency/test_idempotency.py
Labels: documentation

#310 docs(dataclasses): new Connect Contact Flow
  docs/utilities/data_classes.md
Labels: area/utilities, documentation

#311 chore: bump 1.11.0
  CHANGELOG.md
  pyproject.toml
Labels: internal

#312 docs(idempotency): Correct examples and line highlights
  README.md
  docs/utilities/idempotency.md
  examples/__init__.py
Labels: documentation

#313 fix(idempotency): Correctly handle save_inprogress errors
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  tests/functional/idempotency/test_idempotency.py
Labels: area/utilities, bug

#314 docs(metrics): Corrections to the docstrings code examples
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metric.py
  aws_lambda_powertools/metrics/metrics.py
Labels: area/utilities, documentation

#315 fix(idempotency): TypeError when calling is_missing_idempotency_key with an int
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  tests/functional/idempotency/test_idempotency.py
Labels: area/utilities, bug

#316 docs(metrics): Correct code examples in markdown
  docs/core/metrics.md
Labels: area/metrics, documentation

#317 docs: Correct code examples
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/middleware_factory/exceptions.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/sqs.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  docs/utilities/data_classes.md
  docs/utilities/idempotency.md
Labels: area/logger, area/utilities, documentation

#319 refactor(parameters): Consistently reference env
  aws_lambda_powertools/tracing/tracer.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  docs/utilities/parameters.md
Labels: area/tracer, area/utilities, internal

#320 feat(logging): Include exception_name
  aws_lambda_powertools/logging/formatter.py
  docs/core/logger.md
  tests/functional/test_logger.py
Labels: area/logger, feature

#323 feat(data-classes): AppSync Resolver Event
  aws_lambda_powertools/logging/correlation_paths.py
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/appsync/__init__.py
  aws_lambda_powertools/utilities/data_classes/appsync/resolver_utils.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  docs/core/logger.md
  docs/utilities/data_classes.md
  tests/events/appSyncDirectResolver.json
  tests/events/appSyncResolverEvent.json
  tests/functional/appsync/test_appsync_resolver_utils.py
  tests/functional/test_lambda_trigger_events.py
Labels: area/utilities, feature

#326 feat(idempotent): Include function name in the idempotent key
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
Labels: area/utilities, feature

#339 feat(data-classes): Add appsync scalar_types_utils and add support for timezone offsets
  aws_lambda_powertools/utilities/data_classes/appsync/resolver_utils.py
  aws_lambda_powertools/utilities/data_classes/appsync/scalar_types_utils.py
  tests/functional/appsync/test_appsync_resolver_utils.py
Labels: area/utilities, feature

#340 docs(data-classes): Add more cognito code examples
  aws_lambda_powertools/utilities/data_classes/common.py
  docs/utilities/data_classes.md
  tests/functional/test_lambda_trigger_events.py
Labels: documentation

#341 feat(parameters): Add force_fetch option
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  tests/functional/test_utilities_parameters.py
Labels: area/utilities

#344 docs: surface new 1.12.0 features and enhancements
  docs/core/logger.md
  docs/utilities/data_classes.md
  docs/utilities/idempotency.md
  docs/utilities/parameters.md
Labels: documentation

#345 docs(tracer): Fix Tracer typing hinting for Pycharm
  aws_lambda_powertools/tracing/tracer.py
Labels: area/tracer, bug

#350 docs: Fix layers example template config
  docs/index.md
Labels: documentation

#352 fix(lint): Move `tests/THIRD-PARTY-LICENSES` to root
  THIRD-PARTY-LICENSES
Labels: internal

#353 feat(data-classes): Add S3 Object Lambda Event
  aws_lambda_powertools/logging/correlation_paths.py
  aws_lambda_powertools/utilities/data_classes/s3_object_event.py
  docs/utilities/data_classes.md
  tests/events/s3ObjectEventIAMUser.json
  tests/events/s3ObjectEventTempCredentials.json
  tests/functional/test_lambda_trigger_events.py
Labels: area/utilities, feature

#354 fix(deps): Bump dependencies and fix some of the dev tooling
  Makefile
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/batch/sqs.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/connect_contact_flow_event.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  aws_lambda_powertools/utilities/parser/envelopes/dynamodb.py
  aws_lambda_powertools/utilities/parser/envelopes/sns.py
  aws_lambda_powertools/utilities/typing/__init__.py
  aws_lambda_powertools/utilities/validation/exceptions.py
  poetry.lock
  pyproject.toml
  pytest.ini
  tests/functional/test_shared_lazy_loader.py
  tests/functional/test_utilities_parameters.py
Labels: internal

#357 fix(metrics): AttributeError raised by MediaManager and Typing and docs
  aws_lambda_powertools/logging/lambda_context.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metric.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/sqs.py
  aws_lambda_powertools/utilities/data_classes/appsync/resolver_utils.py
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  aws_lambda_powertools/utilities/parser/types.py
  aws_lambda_powertools/utilities/validation/base.py
  aws_lambda_powertools/utilities/validation/validator.py
  docs/utilities/data_classes.md
  tests/functional/test_metrics.py
Labels: area/metrics, bug

#365 fix(tracer): Correct type hint for MyPy
  aws_lambda_powertools/tracing/tracer.py
Labels: area/tracer, enhancement

#368 build(pre-commit): Add pre-commit to `make pr`
  Makefile
Labels: internal

#362 feat(parser): Add S3 Object Lambda Event
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/s3_object_event.py
  docs/utilities/parser.md
  tests/functional/parser/test_s3 object_event.py
Labels: area/utilities, feature

#373 fix(data-classes): Add missing operationName
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  tests/functional/test_lambda_trigger_events.py
Labels: area/utilities, enhancement

#375 fix(parser): S3Model support empty keys
  aws_lambda_powertools/utilities/parser/models/s3.py
  poetry.lock
  pyproject.toml
  tests/functional/parser/test_s3.py
Labels: area/utilities, bug

#376 feat(parameter): add dynamodb_endpoint_url for local_testing
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  docs/utilities/parameters.md
Labels: area/utilities, enhancement

#363 feat(event-handler): Add AppSync handler decorator
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/appsync/resolver_utils.py
  docs/core/event_handler.md
  docs/index.md
  docs/utilities/data_classes.md
  mkdocs.yml
  tests/functional/event_handler/__init__.py
  tests/functional/event_handler/test_appsync.py
  tests/functional/test_data_classes.py
Labels: area/utilities, feature
