Repository aws-powertools/powertools-lambda-python, pull requests merged in 2021-11, with the labels that each got.

#740 improv: Support a composite primary key in DynamoDBPersistenceLayer
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  tests/functional/idempotency/test_idempotency.py
Labels: area/utilities, feature, size/M, tests

#807 fix: change supported python version from 3.6.1 to 3.6.2, bump black
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/M

#808 docs(idempotency): add support for DynamoDB composite keys
  docs/utilities/idempotency.md
Labels: documentation, size/M, area/idempotency

#767 docs(api-gateway): add support for new router feature
  docs/core/event_handler/api_gateway.md
Labels: documentation, size/L, tests

#816 feat(logger): add ALB correlation ID support
  aws_lambda_powertools/logging/correlation_paths.py
Labels: area/logger, feature, size/XS

#820 fix(parser): body/QS can be null or omitted in apigw v1/v2
  aws_lambda_powertools/utilities/parser/models/apigw.py
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  tests/functional/parser/test_apigw.py
  tests/functional/parser/test_apigwv2.py
Labels: bug, area/utilities, size/S, tests

#822 docs: use higher contrast font
  mkdocs.yml
Labels: documentation, size/XS

#821 docs(appsync): add new router feature
  docs/core/event_handler/appsync.md
Labels: documentation, size/M, area/event_handlers

#826 docs(apigateway): re-add sample layout, add considerations
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  docs/media/micro-function.png
  docs/media/monolithic-function.png
Labels: documentation, size/L, area/event_handlers

#838 fix(apigateway): allow list of HTTP methods in route method
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/test_api_gateway.py
Labels: bug, documentation, size/L, area/event_handlers, tests

#842 feat(apigateway): access parent api resolver from router
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: feature, size/S, area/event_handlers, tests

#851 fix(tracer): add warm start annotation (ColdStart=False)
  aws_lambda_powertools/tracing/tracer.py
  tests/unit/test_tracing.py
Labels: bug, area/tracer, size/M, tests
