Repository aws-powertools/powertools-lambda-python, pull requests merged in 2021-02, with the labels that each got.

#278 chore: fix immer and socket.io CVEs
  docs/package.json
  docs/yarn.lock
Labels: dependencies

#276 fix: batch processing exceptions
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/exceptions.py
  aws_lambda_powertools/utilities/batch/sqs.py
  tests/functional/test_utilities_batch.py
  tests/unit/test_utilities_batch.py
Labels: area/utilities, bug

#281 fix: remove unnecessary typing-extensions for py3.8
  CHANGELOG.md
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
  aws_lambda_powertools/utilities/parser/models/kinesis.py
  aws_lambda_powertools/utilities/parser/models/s3.py
  aws_lambda_powertools/utilities/parser/models/ses.py
  aws_lambda_powertools/utilities/parser/models/sns.py
  aws_lambda_powertools/utilities/parser/models/sqs.py
  aws_lambda_powertools/utilities/parser/types.py
  pyproject.toml
  tests/functional/parser/schemas.py
Labels: area/utilities, enhancement

#284 fix: disable batching of X-Ray subsegments
  aws_lambda_powertools/tracing/tracer.py
Labels: area/tracer

#261 test: add benchmark on AWS Lambda
  benchmark/.gitignore
  benchmark/README.md
  benchmark/benchmark.sh
  benchmark/src/instrumented/main.py
  benchmark/src/instrumented/requirements.txt
  benchmark/src/reference/main.py
  benchmark/src/reference/requirements.txt
  benchmark/template.yaml
Labels: feature

#287 chore: bump to 1.10.3
  CHANGELOG.md
  pyproject.toml
Labels: internal

#245 feat: Idempotency helper utility
  aws_lambda_powertools/shared/cache_dict.py
  aws_lambda_powertools/shared/json_encoder.py
  aws_lambda_powertools/utilities/idempotency/__init__.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/__init__.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  docs/diagram_src/idempotent_sequence.puml
  docs/diagram_src/idempotent_sequence_exception.puml
  docs/index.md
  docs/media/idempotent_sequence.png
  docs/media/idempotent_sequence_exception.png
  docs/utilities/idempotency.md
  mkdocs.yml
  tests/events/apiGatewayProxyV2Event.json
  tests/functional/idempotency/__init__.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/unit/test_json_encoder.py
  tests/unit/test_lru_cache.py
Labels: documentation, feature

#295 fix: correct behaviour to avoid caching "INPROGRESS" records
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  docs/utilities/idempotency.md
  tests/functional/idempotency/test_idempotency.py
  tests/unit/test_json_encoder.py
Labels: area/utilities, bug

#299 docs(data-classes): Correct import for DynamoDBRecordEventName
  docs/utilities/data_classes.md
Labels: documentation
