Repository aws-powertools/powertools-lambda-python, pull requests merged in 2021-10, with the labels that each got.

#716 docs: Terraform reference for SAR Lambda Layer
  docs/index.md
Labels: documentation, size/M

#718 fix(mypy): a few return types, type signatures, and untyped areas
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metric.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/middleware_factory/factory.py
  aws_lambda_powertools/shared/jmespath_utils.py
  aws_lambda_powertools/tracing/tracer.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/validation/base.py
  mypy.ini
Labels: bug, area/tracer, area/metrics, area/logger, area/utilities, size/M, area/middleware_factory

#717 feat: boto3 sessions in batch, parameters & idempotency
  aws_lambda_powertools/utilities/batch/sqs.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  docs/utilities/batch.md
  docs/utilities/idempotency.md
  docs/utilities/parameters.md
Labels: documentation, area/utilities, size/L, area/parameters, area/batch

#720 feat(feature-flags): get_raw_configuration property in Store
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/feature_flags/base.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  docs/utilities/feature_flags.md
  tests/functional/feature_flags/test_feature_flags.py
Labels: documentation, area/utilities, feature, size/L, tests, area/feature_flags

#719 feat(idempotency): makes customers unit testing easier
  aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  docs/utilities/idempotency.md
  tests/functional/idempotency/test_idempotency.py
Labels: documentation, area/utilities, feature, size/L, tests, area/idempotency

#710 feat(feature-flags): improve "IN/NOT_IN"; new rule actions
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  docs/utilities/feature_flags.md
  tests/functional/feature_flags/test_feature_flags.py
  tests/functional/feature_flags/test_schema_validation.py
Labels: documentation, area/utilities, feature, size/L, tests, area/feature_flags

#709 feat(feature-flags): Bring your own logger for debug
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  docs/utilities/feature_flags.md
Labels: documentation, area/utilities, feature, size/M

#722 fix(idempotency): sorting keys before hashing
  aws_lambda_powertools/logging/formatter.py
Labels: bug, area/logger, size/XS

#724 fix(feature-flags): rules should evaluate with an AND op
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  tests/functional/feature_flags/test_feature_flags.py
Labels: bug, area/utilities, size/S, tests, area/feature_flags

#721 feat(feature_flags): Added inequality conditions
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  docs/utilities/feature_flags.md
  tests/functional/feature_flags/test_feature_flags.py
Labels: documentation, area/utilities, feature, size/L, tests, area/feature_flags

#736 feat: expose jmespath powertools functions
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/jmespath_utils/__init__.py
  aws_lambda_powertools/utilities/jmespath_utils/envelopes.py
  aws_lambda_powertools/utilities/validation/validator.py
  docs/utilities/idempotency.md
  docs/utilities/jmespath_functions.md
  tests/functional/feature_flags/test_feature_flags.py
  tests/functional/idempotency/conftest.py
Labels: documentation, area/logger, area/utilities, feature, size/L, tests

#645 feat(apigateway): add Router to allow large routing composition
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: feature, size/L, area/event_handlers, tests

#754 docs: add amplify-cli instructions for public layer
  docs/index.md
Labels: documentation, size/S
