Repository aws-powertools/powertools-lambda-python, pull requests merged in 2021-09, with the labels that each got.

#647 fix: Fix issue with strip_prefixes
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/test_api_gateway.py
Labels: bug, documentation, size/S, area/event_handlers, tests

#666 fix(data-classes): use correct asdict funciton
  docs/utilities/data_classes.md
Labels: documentation, size/XS

#643 refactor(data-classes): clean up internal logic for APIGatewayAuthorizerResponse
  .pylintrc
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  docs/utilities/data_classes.md
  tests/functional/data_classes/test_api_gateway_authorizer.py
Labels: documentation, enhancement, size/L, area/event_handlers, tests

#686 feat(validator): include missing data elements from a validation error
  aws_lambda_powertools/utilities/validation/base.py
  aws_lambda_powertools/utilities/validation/exceptions.py
  tests/functional/validator/test_validator.py
Labels: area/utilities, feature, size/M, tests, area/validator

#697 fix(idempotency): use ExpressionAttributeNames in DynamoDBPersistenceLayer _put_record
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  tests/functional/idempotency/conftest.py
Labels: enhancement, area/utilities, size/XS, tests, area/idempotency

#705 docs(event-handler): document catch-all routes
  docs/core/event_handler/api_gateway.md
Labels: documentation, size/M

#661 docs(idempotency): fix misleading idempotent examples
  docs/utilities/idempotency.md
  docs/utilities/jmespath_functions.md
  docs/utilities/validation.md
  mkdocs.yml
Labels: documentation, size/L
