Repository aws-powertools/powertools-lambda-python, pull requests merged in 2021-04, with the labels that each got.

#378 fix(idempotent): Correctly raise IdempotencyKeyError
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  tests/functional/idempotency/test_idempotency.py
Labels: area/utilities, bug

#374 docs: enable versioning feature
  .github/workflows/publish.yml
  .github/workflows/python_docs.yml
  .gitignore
  404.html
  Makefile
  mkdocs.yml
  poetry.lock
  pyproject.toml
Labels: documentation, feature

#384 fix: lock X-Ray SDK to 2.6.0 due to regression
  poetry.lock
  pyproject.toml
Labels: area/tracer, bug

#380 docs: Fix doc links and line highlights
  docs/core/event_handler.md
  docs/core/logger.md
  docs/core/tracer.md
  docs/utilities/batch.md
  docs/utilities/idempotency.md
  docs/utilities/middleware_factory.md
  docs/utilities/parameters.md
  docs/utilities/parser.md
  docs/utilities/validation.md
Labels: documentation

#388 docs: introduce event handlers utility section
  docs/core/event_handler.md
  docs/core/event_handler/appsync.md
  docs/shared/getting_started_schema.graphql
  mkdocs.yml
Labels: documentation

#389 docs(validator): include more complete examples & intro to JSON Schema
  docs/shared/validation_basic_eventbridge_event.json
  docs/shared/validation_basic_jsonschema.py
  docs/utilities/validation.md
Labels: documentation

#390 docs: Correct link targets and line highlights
  docs/core/event_handler/appsync.md
  docs/index.md
  docs/utilities/middleware_factory.md
  docs/utilities/validation.md
Labels: documentation

#391 docs(idempotency): add default table configuration for those not using IaC
  docs/utilities/idempotency.md
Labels: documentation

#395 docs(tracer): Fix line highlighting
  docs/core/tracer.md
Labels: area/tracer, documentation

#405 fix(validator): event type annotation as any in validate fn
  aws_lambda_powertools/utilities/validation/validator.py
Labels: area/utilities, bug

#403 feat(parser): Support for API GW v1 proxy schema & envelope
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/apigw.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/apigw.py
  docs/utilities/parser.md
  tests/events/apiGatewayProxyEvent.json
  tests/functional/parser/schemas.py
  tests/functional/parser/test_apigw.py
Labels: area/utilities, feature

#408 fix(docs): workflow to include api ref in latest alias
  .github/workflows/publish.yml
Labels: documentation

#404 refactor(logger): BYOFormatter and Handler, UTC support, and more
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
  tests/functional/test_logger_powertools_formatter.py
Labels: area/logger, feature

#410 feat: add support to persist default dimensions
  aws_lambda_powertools/metrics/metrics.py
  docs/core/metrics.md
  tests/functional/test_metrics.py
Labels: area/metrics, feature

#369 feat(event-handler): add http ProxyEvent handler
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_appsync.py
  tests/functional/idempotency/conftest.py
  tests/functional/parser/test_alb.py
  tests/functional/parser/test_apigw.py
  tests/functional/parser/test_cloudwatch.py
  tests/functional/parser/test_dynamodb.py
  tests/functional/parser/test_eventbridge.py
  tests/functional/parser/test_kinesis.py
  tests/functional/parser/test_s3 object_event.py
  tests/functional/parser/test_s3.py
  tests/functional/parser/test_ses.py
  tests/functional/parser/test_sns.py
  tests/functional/parser/test_sqs.py
  tests/functional/parser/utils.py
  tests/functional/test_data_classes.py
  tests/functional/utils.py
Labels: feature

#413 fix(deps): Bump aws-xray-sdk from 2.6.0 to 2.8.0
  poetry.lock
  pyproject.toml
Labels: area/tracer, dependencies
