Repository aws-powertools/powertools-lambda-python, pull requests merged in 2022-01, with the labels that each got.

#927 feat(logger): clone powertools logger config to any Python logger
  aws_lambda_powertools/logging/utils.py
  docs/core/logger.md
  tests/functional/test_logger_utils.py
Labels: documentation, area/logger, feature, size/L, tests

#938 docs(batch): fix typo in context manager keyword
  docs/utilities/batch.md
Labels: documentation, size/XS, area/batch

#934 fix(parameters): appconfig internal _get docstrings
  aws_lambda_powertools/utilities/parameters/appconfig.py
Labels: bug, documentation, area/utilities, size/XS

#950 docs(homepage): link to typescript version
  README.md
Labels: documentation, size/XS

#937 fix(data-classes): docstring typos and clean up
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  aws_lambda_powertools/utilities/data_classes/s3_object_event.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
Labels: enhancement, area/utilities, size/M, area/event_handlers

#769 docs(tutorial): add new tutorial covering core features
  README.md
  docs/media/cloudwatch_logs_insight_example.png
  docs/media/metrics_utility_showcase.png
  docs/media/tracer_utility_showcase_2.png
  docs/media/tracer_utility_showcase_3.png
  docs/media/tracer_xray_sdk_enriched.png
  docs/media/tracer_xray_sdk_enriched_2.png
  docs/media/tracer_xray_sdk_showcase.png
  docs/tutorial.md
  mkdocs.yml
Labels: documentation, size/XXL

#952 docs(logger): fix code block syntax in FAQ
  docs/core/logger.md
Labels: documentation, size/XS

#959 docs(nav): make REST and GraphQL event handlers more explicit
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  docs/tutorial/idempotency.md
  docs/tutorial/index.md
  mkdocs.yml
Labels: documentation, size/XXL

#951 docs(batch): snippet typo on batch processed messages iteration
  docs/utilities/batch.md
Labels: documentation, size/XS, area/batch

#961 docs(batch): snippet typo in custom batch processor
  docs/utilities/batch.md
Labels: documentation, size/XS

#963 docs(tutorial): fix path to images
  docs/tutorial/index.md
Labels: documentation, internal, size/S

#967 fix(batch): report multiple failures
  aws_lambda_powertools/utilities/batch/base.py
  tests/functional/test_utilities_batch.py
Labels: bug, area/utilities, size/L, tests

#969 fix(data-classes): underscore support in api gateway authorizer resource name
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  tests/functional/data_classes/test_api_gateway_authorizer.py
Labels: bug, area/utilities, size/S, tests

#943 feat(mypy): complete mypy support for the entire codebase
  .github/workflows/python_build.yml
  CONTRIBUTING.md
  Makefile
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/batch/exceptions.py
  aws_lambda_powertools/utilities/batch/sqs.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  aws_lambda_powertools/utilities/parser/envelopes/apigw.py
  aws_lambda_powertools/utilities/parser/envelopes/apigwv2.py
  aws_lambda_powertools/utilities/parser/envelopes/event_bridge.py
  aws_lambda_powertools/utilities/parser/envelopes/kinesis.py
  aws_lambda_powertools/utilities/parser/envelopes/sns.py
  aws_lambda_powertools/utilities/parser/models/alb.py
  aws_lambda_powertools/utilities/parser/models/apigw.py
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  aws_lambda_powertools/utilities/parser/models/cloudwatch.py
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
  aws_lambda_powertools/utilities/parser/models/event_bridge.py
  aws_lambda_powertools/utilities/parser/models/kinesis.py
  aws_lambda_powertools/utilities/parser/models/s3_object_event.py
  aws_lambda_powertools/utilities/parser/models/sns.py
  aws_lambda_powertools/utilities/parser/models/sqs.py
  mypy.ini
  tests/functional/idempotency/test_idempotency.py
  tests/functional/test_metrics.py
Labels: dependencies, area/metrics, area/utilities, feature, size/L, area/event_handlers, tests

#984 feat(logger): log_event support event data classes (e.g. S3Event)
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Labels: area/logger, feature, size/S, tests, p2

#987 fix(apigateway): remove indentation in debug_mode
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/test_api_gateway.py
Labels: bug, documentation, size/S, area/event_handlers, tests

#988 fix(docs): indentation in tutorial snippets
  docs/tutorial/index.md
Labels: bug, documentation, size/L
