Repository aws-powertools/powertools-lambda-python, pull requests merged in 2022-12, with the labels that each got.

#1776 docs(idempotency): fix, improve, and increase visibility for batch integration
  docs/utilities/idempotency.md
Labels: documentation, size/L

#1777 docs(validation): fix broken link; enrich built-in jmespath links
  docs/utilities/validation.md
Labels: documentation, size/XS

#1778 feat(logger): unwrap event from common models if asked to log
  aws_lambda_powertools/logging/logger.py
Labels: feature, size/XS, logger

#1793 fix(event_handlers): omit explicit None HTTP header values
  aws_lambda_powertools/shared/headers_serializer.py
  tests/functional/test_headers_serializer.py
Labels: bug, size/M, tests, commons
