Repository aws-powertools/powertools-lambda-python, pull requests merged in 2022-09, with the labels that each got.

#1492 refactor(batch): remove legacy sqs_batch_processor
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/exceptions.py
  aws_lambda_powertools/utilities/batch/sqs.py
  docs/upgrade.md
  docs/utilities/batch.md
  tests/functional/test_utilities_batch.py
  tests/unit/test_utilities_batch.py
Labels: documentation, internal, size/XXL, tests, area/batch

#1493 chore(maintenance): add discord link to first PR and first issue
  .github/boring-cyborg.yml
Labels: internal, size/XS, github-actions

#1487 feat(event_handler): add cookies as 1st class citizen in v2
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/shared/cookies.py
  aws_lambda_powertools/shared/headers_serializer.py
  docs/core/event_handler/api_gateway.md
  docs/upgrade.md
  examples/event_handler_rest/src/fine_grained_responses.py
  examples/event_handler_rest/src/fine_grained_responses_output.json
  tests/e2e/event_handler/handlers/alb_handler.py
  tests/e2e/event_handler/handlers/api_gateway_http_handler.py
  tests/e2e/event_handler/handlers/api_gateway_rest_handler.py
  tests/e2e/event_handler/handlers/lambda_function_url_handler.py
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/event_handler/test_header_serializer.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_lambda_function_url.py
Labels: documentation, feature, size/L, area/event_handlers, tests, area/commons

#1485 feat(data-classes): add KafkaEvent and KafkaEventRecord
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  docs/utilities/data_classes.md
  tests/events/kafkaEventMsk.json
  tests/events/kafkaEventSelfManaged.json
  tests/functional/test_data_classes.py
Labels: documentation, feature, size/L, tests

#1499 feat(parser): add KafkaMskEventModel and KafkaSelfManagedEventModel
  CHANGELOG.md
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/kafka.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/kafka.py
  docs/utilities/parser.md
  tests/events/kafkaEventSelfManaged.json
  tests/functional/parser/schemas.py
  tests/functional/parser/test_kafka.py
  tests/functional/test_data_classes.py
Labels: documentation, feature, size/L, tests, area/commons

#1517 chore(core): expose modules in the Top-level package
  aws_lambda_powertools/__init__.py
Labels: internal, size/S

#1524 fix(deps): bump dev dep mako version to address CVE-2022-40023
  poetry.lock
  pyproject.toml
Labels: bug, dependencies, size/XL

#1501 chore(ci): migrate E2E tests to CDK CLI and off Docker
  .github/workflows/run-e2e-tests.yml
  .gitignore
  MAINTAINERS.md
  aws_lambda_powertools/tracing/tracer.py
  package-lock.json
  package.json
  parallel_run_e2e.py
  poetry.lock
  pyproject.toml
  tests/e2e/conftest.py
  tests/e2e/event_handler/conftest.py
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/logger/conftest.py
  tests/e2e/logger/infrastructure.py
  tests/e2e/metrics/conftest.py
  tests/e2e/metrics/infrastructure.py
  tests/e2e/tracer/conftest.py
  tests/e2e/tracer/handlers/async_capture.py
  tests/e2e/tracer/handlers/basic_handler.py
  tests/e2e/tracer/handlers/same_function_name.py
  tests/e2e/tracer/infrastructure.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/Dockerfile
  tests/e2e/utils/asset.py
  tests/e2e/utils/base.py
  tests/e2e/utils/constants.py
  tests/e2e/utils/infrastructure.py
  tests/e2e/utils/lambda_layer/__init__.py
  tests/e2e/utils/lambda_layer/base.py
  tests/e2e/utils/lambda_layer/powertools_layer.py
Labels: dependencies, area/tracer, internal, size/XXL, area/event_handlers, tests, github-actions, area/commons

#1534 fix(typing): level arg in copy_config_to_registered_loggers
  aws_lambda_powertools/logging/utils.py
  tests/functional/test_logger_utils.py
Labels: bug, area/logger, size/S, tests

#1526 docs(parser): add JSON string field extension example
  docs/utilities/parser.md
  examples/parser/src/extending_built_in_models_with_json_mypy.py
  examples/parser/src/extending_built_in_models_with_json_validator.py
Labels: documentation, size/M

#1535 feat(idempotency): support methods with the same name (ABCs) by including fully qualified name in v2
  aws_lambda_powertools/utilities/idempotency/base.py
  docs/upgrade.md
  docs/utilities/idempotency.md
  tests/e2e/idempotency/__init__.py
  tests/e2e/idempotency/conftest.py
  tests/e2e/idempotency/handlers/parallel_execution_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_expiration_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_timeout_handler.py
  tests/e2e/idempotency/infrastructure.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/utils/data_fetcher/__init__.py
  tests/e2e/utils/data_fetcher/idempotency.py
  tests/e2e/utils/functions.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
Labels: documentation, feature, size/L, tests

#1516 fix(event_sources): implement Mapping protocol on DictWrapper for better interop with existing middlewares
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  tests/functional/test_data_classes.py
Labels: bug, internal, size/M, area/event_handlers, tests, area/commons

#1560 fix(apigateway): update Response class to require status_code only
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: bug, size/S, area/event_handlers, tests
