Repository aws-powertools/powertools-lambda-python, pull requests merged in 2022-03, with the labels that each got.

#1046 fix(metrics): flush upon a single metric 100th data point
  aws_lambda_powertools/metrics/base.py
  tests/functional/test_metrics.py
Labels: bug, area/metrics, size/M, tests

#1061 docs(parser): APIGatewayProxyEvent to APIGatewayProxyEventModel
  docs/utilities/parser.md
Labels: documentation, size/S, area/parser

#1070 docs(plugin): add mermaid to create diagram as code
  mkdocs.yml
Labels: documentation, size/XS

#1072 fix(logger): ensure state is cleared for custom formatters
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  tests/functional/test_logger.py
Labels: bug, documentation, area/logger, size/L, tests

#1075 fix(logger): Ensure external loggers doesn't propagate logs
  aws_lambda_powertools/logging/utils.py
  tests/functional/test_logger_utils.py
Labels: bug, area/logger, size/M, tests

#1080 fix(logger-utils): regression on exclude set leading to no formatter
  aws_lambda_powertools/logging/utils.py
  tests/functional/test_logger_utils.py
Labels: bug, area/logger, size/S, tests
