Repository aws-powertools/powertools-lambda-python, pull requests merged in 2022-07, with the labels that each got.

#1271 docs(logger): document enriching logs with logrecord attributes
  docs/core/logger.md
  examples/logger/src/append_and_remove_keys.json
  examples/logger/src/append_and_remove_keys.py
  examples/logger/src/cloning_logger_config.py
Labels: documentation, area/logger, size/M

#1264 fix(logger): preserve std keys when using custom formatters
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Labels: bug, size/M, tests, logger

#1279 docs(event-handler): snippets split, improved, and lint
  docs/core/event_handler/api_gateway.md
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  examples/event_handler_rest/sam/template.yaml
  examples/event_handler_rest/src/accessing_request_details.py
  examples/event_handler_rest/src/accessing_request_details_headers.py
  examples/event_handler_rest/src/assert_http_response.py
  examples/event_handler_rest/src/assert_http_response_module.py
  examples/event_handler_rest/src/binary_responses.json
  examples/event_handler_rest/src/binary_responses.py
  examples/event_handler_rest/src/binary_responses_logo.svg
  examples/event_handler_rest/src/binary_responses_output.json
  examples/event_handler_rest/src/compressing_responses.json
  examples/event_handler_rest/src/compressing_responses.py
  examples/event_handler_rest/src/compressing_responses_output.json
  examples/event_handler_rest/src/custom_api_mapping.json
  examples/event_handler_rest/src/custom_api_mapping.py
  examples/event_handler_rest/src/custom_serializer.py
  examples/event_handler_rest/src/debug_mode.py
  examples/event_handler_rest/src/dynamic_routes.json
  examples/event_handler_rest/src/dynamic_routes.py
  examples/event_handler_rest/src/dynamic_routes_catch_all.json
  examples/event_handler_rest/src/dynamic_routes_catch_all.py
  examples/event_handler_rest/src/exception_handling.py
  examples/event_handler_rest/src/fine_grained_responses.py
  examples/event_handler_rest/src/fine_grained_responses_output.json
  examples/event_handler_rest/src/getting_started_alb_api_resolver.py
  examples/event_handler_rest/src/getting_started_http_api_resolver.py
  examples/event_handler_rest/src/getting_started_rest_api_resolver.json
  examples/event_handler_rest/src/getting_started_rest_api_resolver.py
  examples/event_handler_rest/src/getting_started_rest_api_resolver_output.json
  examples/event_handler_rest/src/http_methods.json
  examples/event_handler_rest/src/http_methods.py
  examples/event_handler_rest/src/http_methods_multiple.py
  examples/event_handler_rest/src/not_found_routes.py
  examples/event_handler_rest/src/raising_http_errors.py
  examples/event_handler_rest/src/setting_cors.py
  examples/event_handler_rest/src/setting_cors_output.json
  examples/event_handler_rest/src/split_route.py
  examples/event_handler_rest/src/split_route_module.py
  examples/event_handler_rest/src/split_route_prefix.py
  examples/event_handler_rest/src/split_route_prefix_module.py
Labels: documentation, size/XXL, area/event_handlers

#1286 docs(core): match code snippet name with filename
  docs/core/event_handler/api_gateway.md
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  examples/logger/src/append_and_remove_keys_output.json
  examples/logger/src/set_correlation_id_jmespath.json
  examples/logger/src/set_correlation_id_method.json
  examples/tracer/src/tracer_reuse.py
  examples/tracer/src/tracer_reuse_module.py
Labels: documentation, size/L

#1287 docs(graphql): snippets split, improved, and lint
  .pre-commit-config.yaml
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/sam/template.yaml
  examples/event_handler_graphql/src/amplify_graphql_transformer_schema.graphql
  examples/event_handler_graphql/src/assert_async_graphql_response.json
  examples/event_handler_graphql/src/assert_async_graphql_response.py
  examples/event_handler_graphql/src/assert_async_graphql_response_module.py
  examples/event_handler_graphql/src/assert_graphql_response.json
  examples/event_handler_graphql/src/assert_graphql_response.py
  examples/event_handler_graphql/src/assert_graphql_response_module.py
  examples/event_handler_graphql/src/async_resolvers.py
  examples/event_handler_graphql/src/custom_models.py
  examples/event_handler_graphql/src/getting_started_get_todo.json
  examples/event_handler_graphql/src/getting_started_graphql_api_resolver.py
  examples/event_handler_graphql/src/getting_started_list_todos.json
  examples/event_handler_graphql/src/getting_started_schema.graphql
  examples/event_handler_graphql/src/graphql_transformer_common_field.json
  examples/event_handler_graphql/src/graphql_transformer_find_merchant.json
  examples/event_handler_graphql/src/graphql_transformer_list_locations.json
  examples/event_handler_graphql/src/graphql_transformer_merchant_info.py
  examples/event_handler_graphql/src/graphql_transformer_search_merchant.py
  examples/event_handler_graphql/src/nested_mappings.py
  examples/event_handler_graphql/src/nested_mappings_schema.graphql
  examples/event_handler_graphql/src/scalar_functions.py
  examples/event_handler_graphql/src/split_operation.py
  examples/event_handler_graphql/src/split_operation_module.py
  examples/event_handler_rest/sam/template.yaml
Labels: documentation, internal, size/XXL, area/event_handlers

#1247 chore(ci): add end to end testing mechanism
  .github/scripts/label_related_issue.js
  .github/workflows/run-e2e-tests.yml
  MAINTAINERS.md
  Makefile
  poetry.lock
  pyproject.toml
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/logger/__init__.py
  tests/e2e/logger/handlers/basic_handler.py
  tests/e2e/logger/handlers/no_context_handler.py
  tests/e2e/logger/test_logger.py
  tests/e2e/metrics/__init__.py
  tests/e2e/metrics/handlers/basic_handler.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/tracer/__init__.py
  tests/e2e/tracer/handlers/basic_handler.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/Dockerfile
  tests/e2e/utils/__init__.py
  tests/e2e/utils/helpers.py
  tests/e2e/utils/infrastructure.py
  tests/e2e/utils/py.typed
Labels: dependencies, internal, size/XXL, tests, github-actions

#1300 chore(ci): automatically add area label based on title
  .github/scripts/constants.js
  .github/scripts/label_pr_based_on_title.js
Labels: internal, size/M

#1301 chore(ci): lockdown 3rd party workflows to pin sha
  .github/workflows/publish.yml
  .github/workflows/publish_layer.yml
  .github/workflows/python_build.yml
  .github/workflows/python_docs.yml
  .github/workflows/rebuild_latest_docs.yml
  .github/workflows/release-drafter.yml
  .github/workflows/reusable_deploy_layer_stack.yml
  .github/workflows/secure_workflows.yml
Labels: internal, size/L, github-actions

#1302 fix(ci): fixes typos and small issues on github scripts
  .github/scripts/label_pr_based_on_title.js
  .github/scripts/label_related_issue.js
  .github/scripts/save_pr_details.js
Labels: bug, size/M, github-actions

#1299 fix(parser): raise ValidationError when SNS->SQS keys are intentionally missing
  aws_lambda_powertools/utilities/parser/models/sns.py
  tests/functional/parser/test_sns.py
Labels: bug, internal, size/M, tests, area/parser, utilities

#1297 chore(ci): increase release automation and limit to one manual step
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .github/scripts/post_release.js
  .github/workflows/publish.yml
  .github/workflows/python_docs.yml
  MAINTAINERS.md
  Makefile
Labels: internal, size/L, github-actions

#1311 chore(ci): adds caching when installing python dependencies
  .github/workflows/publish.yml
  .github/workflows/python_build.yml
  .github/workflows/python_docs.yml
  .github/workflows/rebuild_latest_docs.yml
  .github/workflows/run-e2e-tests.yml
Labels: internal, size/S, github-actions

#1315 fix(ci): install poetry before calling setup/python with cache
  .github/workflows/publish.yml
  .github/workflows/publish_layer.yml
  .github/workflows/python_build.yml
  .github/workflows/python_docs.yml
  .github/workflows/rebuild_latest_docs.yml
  .github/workflows/run-e2e-tests.yml
Labels: bug, size/S, github-actions

#1317 fix(ci): remove additional quotes in PR action
  .github/scripts/constants.js
Labels: bug, size/XS

#1316 fix(ci): lambda layer workflow release version and conditionals
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_deploy_layer_stack.yml
  layer/layer/layer_stack.py
Labels: bug, internal, size/M, github-actions

#1322 fix(deps): correct mypy types as dev dependency
  poetry.lock
  pyproject.toml
Labels: bug, dependencies, size/M

#1326 chore(governance): add new maintenance issue template for tech debt and governance
  .github/ISSUE_TEMPLATE/maintenance.yml
  MAINTAINERS.md
Labels: internal, size/L, github-templates

#1329 chore(layers): replace layers account secret
  .github/workflows/publish_layer.yml
Labels: internal, size/XS, github-actions

#1350 chore(ci): lockdown workflow_run by origin
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/reusable_export_pr_details.yml
Labels: internal, size/XS, github-actions

#1352 chore(ci): introduce codeowners
  .github/CODEOWNERS
Labels: size/XS, github-actions

#1355 chore(ci): use OIDC and encrypt release secrets
  .github/workflows/publish.yml
Labels: internal, size/S, github-actions

#1358 chore(ci): remove core group from codeowners
  .github/CODEOWNERS
Labels: internal, size/XS, github-actions

#1356 chore(ci): use gh environment for beta and prod layer deploy
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_deploy_layer_stack.yml
Labels: internal, size/S, github-actions

#1325 fix(event_handlers): handle lack of headers when using auto-compression feature
  aws_lambda_powertools/utilities/data_classes/common.py
  tests/functional/event_handler/test_api_gateway.py
Labels: bug, size/S, tests, utilities

#1366 chore(ci): add conditional to skip pypi release
  .github/workflows/publish.yml
Labels: internal, size/XS, github-actions

#1388 fix(event_handlers): ImportError when importing Response from top-level event_handler
  aws_lambda_powertools/event_handler/__init__.py
Labels: bug, size/XS, event_handlers

#1392 chore(maintainers): add Ruben as a maintainer
  MAINTAINERS.md
Labels: internal, size/S

#1395 chore(ci): drop 3.6 from workflows
  .github/workflows/python_build.yml
Labels: internal, size/XS, github-actions

#1393 docs(examples): enforce and fix all mypy errors
  Makefile
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/tracing/base.py
  aws_lambda_powertools/tracing/tracer.py
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/assert_async_graphql_response.py
  examples/event_handler_graphql/src/assert_async_graphql_response_module.py
  examples/event_handler_graphql/src/assert_graphql_response_module.py
  examples/event_handler_graphql/src/async_resolvers.py
  examples/event_handler_graphql/src/custom_models.py
  examples/event_handler_graphql/src/getting_started_graphql_api_resolver.py
  examples/event_handler_graphql/src/graphql_transformer_merchant_info.py
  examples/event_handler_graphql/src/graphql_transformer_search_merchant.py
  examples/event_handler_graphql/src/nested_mappings.py
  examples/event_handler_graphql/src/scalar_functions.py
  examples/event_handler_graphql/src/split_operation_module.py
  examples/event_handler_rest/src/binary_responses.py
  examples/event_handler_rest/src/exception_handling.py
  examples/event_handler_rest/src/split_route_module.py
  examples/event_handler_rest/src/split_route_prefix_module.py
  examples/logger/src/bring_your_own_formatter_from_scratch.py
  mypy.ini
  poetry.lock
  pyproject.toml
Labels: documentation, dependencies, internal, size/L, typing, event_handlers, tracer

#1387 feat(idempotency): handle lambda timeout scenarios for INPROGRESS records
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/config.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  docs/media/idempotent_sequence.png
  docs/media/idempotent_sequence_exception.png
  docs/utilities/idempotency.md
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
Labels: documentation, feature, size/XL, tests, area/idempotency, utilities
