Repository aws-powertools/powertools-lambda-python, pull requests merged in 2022-08, with the labels that each got.

#1403 chore(governance): add pre-configured dev environment with GitPod.io to ease contributions
  .gitpod.Dockerfile
  .gitpod.yml
  CONTRIBUTING.md
  Makefile
Labels: internal, size/M

#1411 chore(governance): remove devcontainer in favour of gitpod.io
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: internal, size/M

#1409 chore(docs): remove pause sentence from roadmap
  docs/roadmap.md
Labels: documentation, internal, size/XS

#1408 feat(event_handlers): Add support for Lambda Function URLs
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/logging/correlation_paths.py
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/lambda_function_url_event.py
  docs/core/event_handler/api_gateway.md
  docs/index.md
  docs/utilities/data_classes.md
  examples/event_handler_lambda_function_url/sam/template.yaml
  examples/event_handler_lambda_function_url/src/getting_started_lambda_function_url_resolver.json
  examples/event_handler_lambda_function_url/src/getting_started_lambda_function_url_resolver.py
  tests/events/lambdaFunctionUrlEvent.json
  tests/functional/data_classes/test_lambda_function_url.py
  tests/functional/event_handler/test_lambda_function_url.py
Labels: documentation, feature, size/L, area/event_handlers, tests, area/event_sources, utilities, logger, event_handlers

#1418 feat(ci): create reusable changelog generation
  .github/workflows/publish.yml
  .github/workflows/python_docs.yml
  .github/workflows/rebuild_latest_docs.yml
  .github/workflows/reusable_publish_changelog.yml
Labels: feature, size/M, github-actions

#1417 feat(metrics): update max user-defined dimensions from 9 to 29
  aws_lambda_powertools/metrics/base.py
  docs/core/metrics.md
  tests/functional/test_metrics.py
Labels: documentation, area/metrics, feature, size/S, tests, metrics

#1421 fix(event_sources): add test for Function URL AuthZ
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  tests/events/lambdaFunctionUrlEvent.json
  tests/events/lambdaFunctionUrlIAMEvent.json
  tests/functional/data_classes/test_lambda_function_url.py
  tests/functional/event_handler/test_lambda_function_url.py
Labels: bug, area/utilities, internal, size/L, tests, utilities

#1426 docs(apigateway): removes duplicate admonition
  docs/core/event_handler/api_gateway.md
Labels: documentation, size/XS

#1427 docs(parser): minor grammar fix
  docs/utilities/parser.md
Labels: documentation, size/XS

#1446 fix(jmespath_util): snappy as dev dep and typing example
  aws_lambda_powertools/utilities/data_classes/lambda_function_url_event.py
  examples/jmespath_functions/src/powertools_json_idempotency_jmespath.py
  mypy.ini
  poetry.lock
  pyproject.toml
Labels: bug, dependencies, area/utilities, size/M, area/typing

#1442 feat(parser): add support for Lambda Function URL
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/lambda_function_url.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  aws_lambda_powertools/utilities/parser/models/lambda_function_url.py
  docs/utilities/parser.md
  tests/functional/parser/schemas.py
  tests/functional/parser/test_lambda_function_url.py
Labels: documentation, feature, size/L, tests, area/parser

#1460 chore(tests): refactor E2E logger to ease maintenance, writing tests and parallelization
  aws_lambda_powertools/shared/constants.py
  poetry.lock
  pyproject.toml
  tests/e2e/logger/conftest.py
  tests/e2e/logger/handlers/basic_handler.py
  tests/e2e/logger/handlers/no_context_handler.py
  tests/e2e/logger/infrastructure.py
  tests/e2e/logger/test_logger.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/utils/data_fetcher/logs.py
  tests/e2e/utils/data_fetcher/metrics.py
Labels: dependencies, internal, size/L, tests, area/commons

#1463 chore(batch): deprecate sqs_batch_processor
  aws_lambda_powertools/utilities/batch/sqs.py
  docs/overrides/main.html
  docs/utilities/batch.md
  mkdocs.yml
Labels: documentation, internal, size/S

#1466 chore(tests): build and deploy Lambda Layer stack once
  Makefile
  poetry.lock
  pyproject.toml
  tests/e2e/conftest.py
  tests/e2e/logger/conftest.py
  tests/e2e/logger/infrastructure.py
  tests/e2e/metrics/conftest.py
  tests/e2e/metrics/infrastructure.py
  tests/e2e/tracer/conftest.py
  tests/e2e/tracer/infrastructure.py
  tests/e2e/utils/Dockerfile
  tests/e2e/utils/asset.py
  tests/e2e/utils/infrastructure.py
  tests/utils.py
Labels: dependencies, internal, size/XL, tests

#1468 chore(governance): add Leandro as maintainer
  MAINTAINERS.md
Labels: internal, size/S

#1471 fix(docs): add discord invitation link
  README.md
Labels: size/XS

#1470 chore(tests): enable end-to-end test workflow
  .github/workflows/run-e2e-tests.yml
  CONTRIBUTING.md
  MAINTAINERS.md
  aws_lambda_powertools/event_handler/appsync.py
  poetry.lock
  pyproject.toml
  tests/unit/test_tracing.py
  tests/unit/test_utilities_batch.py
Labels: dependencies, internal, size/XXL, area/event_handlers, tests, github-actions

#1475 fix(ci): calculate parallel jobs based on infrastructure needs
  .github/workflows/run-e2e-tests.yml
  Makefile
  parallel_run_e2e.py
  tox.ini
Labels: bug, internal, size/M, github-actions

#1478 chore(ci): prevent concurrent git update in critical workflows
  .github/workflows/build_changelog.yml
  .github/workflows/on_release_notes.yml
  .github/workflows/reusable_publish_changelog.yml
Labels: internal, size/M, github-actions

#1451 docs(middleware-factory): snippets split, improved, and lint
  docs/media/middleware_factory_tracer_1.png
  docs/media/middleware_factory_tracer_2.png
  docs/utilities/middleware_factory.md
  examples/middleware_factory/sam/combining_powertools_utilities_template.yaml
  examples/middleware_factory/src/advanced_middleware_tracer_function.py
  examples/middleware_factory/src/advanced_middleware_tracer_payload.json
  examples/middleware_factory/src/combining_powertools_utilities_event.json
  examples/middleware_factory/src/combining_powertools_utilities_function.py
  examples/middleware_factory/src/combining_powertools_utilities_schema.py
  examples/middleware_factory/src/getting_started_middleware_after_logic_function.py
  examples/middleware_factory/src/getting_started_middleware_after_logic_payload.json
  examples/middleware_factory/src/getting_started_middleware_before_logic_function.py
  examples/middleware_factory/src/getting_started_middleware_before_logic_payload.json
  examples/middleware_factory/src/getting_started_middleware_tracer_function.py
  examples/middleware_factory/src/getting_started_middleware_tracer_payload.json
  examples/middleware_factory/src/getting_started_middleware_with_params_function.py
  examples/middleware_factory/src/getting_started_middleware_with_params_payload.json
Labels: documentation, size/XL

#1465 docs(typing): snippets split, improved, and lint
  docs/media/utilities_typing.png
  docs/media/utilities_typing_1.png
  docs/media/utilities_typing_2.png
  docs/media/utilities_typing_3.png
  docs/utilities/typing.md
  examples/typing/src/getting_started_typing_function.py
  examples/typing/src/working_with_context_function.py
Labels: documentation, size/M

#1479 chore(ci): add linter for GitHub Actions as pre-commit hook
  .github/workflows/build_changelog.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/python_build.yml
  .github/workflows/reusable_deploy_layer_stack.yml
  .github/workflows/reusable_export_pr_details.yml
  .pre-commit-config.yaml
Labels: internal, size/S, github-actions

#1480 chore(ci): add workflow to suggest splitting large PRs
  .github/scripts/comment_on_large_pr.js
  .github/workflows/on_label_added.yml
Labels: feature, internal, size/M, github-actions

#1474 feat(event_sources): add CloudWatch dashboard custom widget event
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_custom_widget_event.py
  docs/utilities/data_classes.md
  tests/events/cloudWatchDashboardEvent.json
  tests/functional/test_data_classes.py
Labels: documentation, feature, size/L, tests, area/event_sources

#1482 chore(ci): create reusable docs publishing workflow
  .github/workflows/on_push_docs.yml
  .github/workflows/on_release_notes.yml
  .github/workflows/python_docs.yml
  .github/workflows/rebuild_latest_docs.yml
  .github/workflows/reusable_publish_docs.yml
Labels: internal, size/L, github-actions

#1455 feat(event_handler): improved support for headers and cookies in v2
  .gitignore
  aws_lambda_powertools/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/shared/headers_serializer.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  docs/core/event_handler/api_gateway.md
  docs/upgrade.md
  examples/event_handler_rest/src/binary_responses_output.json
  examples/event_handler_rest/src/compressing_responses_output.json
  examples/event_handler_rest/src/fine_grained_responses.py
  examples/event_handler_rest/src/fine_grained_responses_output.json
  examples/event_handler_rest/src/getting_started_rest_api_resolver_output.json
  examples/event_handler_rest/src/setting_cors_output.json
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/e2e/event_handler/__init__.py
  tests/e2e/event_handler/conftest.py
  tests/e2e/event_handler/handlers/alb_handler.py
  tests/e2e/event_handler/handlers/api_gateway_http_handler.py
  tests/e2e/event_handler/handlers/api_gateway_rest_handler.py
  tests/e2e/event_handler/handlers/lambda_function_url_handler.py
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/event_handler/test_header_serializer.py
  tests/e2e/utils/data_fetcher/__init__.py
  tests/e2e/utils/data_fetcher/common.py
  tests/e2e/utils/infrastructure.py
  tests/events/albMultiValueHeadersEvent.json
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_lambda_function_url.py
  tests/functional/test_headers_serializer.py
Labels: documentation, dependencies, feature, internal, size/XXL, area/event_handlers, tests, area/commons
