Repository aws-powertools/powertools-lambda-python, pull requests merged in 2022-04, with the labels that each got.

#1088 fix(logger): clear_state regression on absent standard keys
  aws_lambda_powertools/logging/formatter.py
  tests/functional/test_logger.py
Labels: bug, area/logger, size/M, tests

#1090 fix(idempotency): pass by value on idem key to guard inadvert mutations
  aws_lambda_powertools/utilities/idempotency/base.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
  tests/functional/utils.py
Labels: bug, area/utilities, size/M, tests, Idempotency

#1095 fix(logger): clear_state should keep custom key formats
  aws_lambda_powertools/logging/formatter.py
  tests/functional/test_logger.py
Labels: bug, area/logger, size/S, tests

#1066 fix(middleware_factory): ret type annotation for handler dec
  aws_lambda_powertools/middleware_factory/factory.py
Labels: bug, area/utilities, size/XS, area/middleware_factory, mypy

#1099 fix(api_gateway): allow whitespace in routes' path parameter
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: bug, size/M, area/event_handlers, tests

#1077 docs(install): instructions to reduce pydantic package size
  docs/utilities/parser.md
Labels: documentation, size/XS, area/parser

#1135 docs(layer): remove link from clipboard button
  docs/index.md
Labels: documentation, size/M

#1139 fix(deps): update jmespath marker to support 1.0 and py3.6
  poetry.lock
  pyproject.toml
Labels: bug, dependencies, size/M

#1148 fix(deps-dev): remove jmespath due to dev deps conflict
  poetry.lock
  pyproject.toml
Labels: bug, dependencies, size/S

#1151 fix(deps): ignore boto3 updates until needed
  .github/dependabot.yml
Labels: bug, internal, size/XS

#1159 fix(event_handler): Allow for event_source support
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: bug, size/M, area/event_handlers, tests

#1194 feat(parameters): add clear_cache method for providers
  aws_lambda_powertools/utilities/parameters/__init__.py
  aws_lambda_powertools/utilities/parameters/base.py
  docs/utilities/parameters.md
  tests/functional/test_utilities_parameters.py
Labels: documentation, area/utilities, feature, size/L, tests
