Repository aws-powertools/powertools-lambda-python, pull requests merged in 2022-02, with the labels that each got.

#971 fix(logger): test generates logfile
  tests/functional/test_logger_utils.py
Labels: bug, size/M, tests, p3

#978 feat(event-handler): new resolvers to fix current_event typing
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  docs/tutorial/idempotency.md
  docs/tutorial/index.md
  docs/utilities/feature_flags.md
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/test_metrics.py
Labels: bug, documentation, feature, size/XXL, area/event_handlers, tests, p1

#1000 docs(tutorial): fix broken internal links
  aws_lambda_powertools/event_handler/__init__.py
  docs/tutorial/index.md
Labels: documentation, size/M, area/event_handlers

#1001 fix(logger): exclude source_logger in copy_config_to_registered_loggers
  aws_lambda_powertools/logging/utils.py
  tests/functional/test_logger_utils.py
Labels: bug, area/logger, size/S, tests

#996 docs(event-handler): improve testing section for graphql
  docs/core/event_handler/appsync.md
Labels: documentation, size/M, area/event_handlers

#1002 docs(theme): upgrade mkdocs-material to 8.x
  .gitignore
  docs/index.md
  docs/overrides/assets/images/powertools_docs_thumbnail.png
  docs/overrides/main.html
  mkdocs.yml
  poetry.lock
  pyproject.toml
Labels: documentation, dependencies, internal, size/M

#994 chore(metrics): fix tests when warnings are disabled
  tests/functional/test_metrics.py
Labels: size/XS, tests

#818 fix(batch): delete >10 messages in legacy sqs processor
  aws_lambda_powertools/utilities/batch/sqs.py
  tests/functional/test_utilities_batch.py
  tests/unit/test_utilities_batch.py
Labels: bug, help wanted, area/utilities, size/M, tests, p1, area/batch

#1017 docs(parameters): add testing your code section
  docs/utilities/parameters.md
Labels: documentation, size/M, area/parameters

#1004 docs: fix syntax errors and line highlights
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  docs/tutorial/index.md
  docs/utilities/feature_flags.md
Labels: documentation, size/L

#1022 fix(batch): bugfix to clear exceptions between executions
  aws_lambda_powertools/utilities/batch/base.py
  tests/functional/test_utilities_batch.py
Labels: bug, area/utilities, size/S, tests

#1019 fix(event_handler): docs snippets, high-level import CorsConfig
  aws_lambda_powertools/event_handler/__init__.py
  docs/core/event_handler/api_gateway.md
Labels: bug, documentation, size/S, area/event_handlers
