Repository aws-powertools/powertools-lambda-python, pull requests merged in 2022-11, with the labels that each got.

#1676 feat(metrics): add EphemeralMetrics as a non-singleton option
  aws_lambda_powertools/metrics/__init__.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metric.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/shared/functions.py
  docs/core/metrics.md
  examples/metrics/src/ephemeral_metrics.py
  tests/functional/test_metrics.py
Labels: documentation, feature, size/XL, tests, metrics, commons

#1678 feat(parameters): add get_parameters_by_name for SSM params in distinct paths
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/parameters/__init__.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  aws_lambda_powertools/utilities/parameters/types.py
  docs/utilities/parameters.md
  pyproject.toml
  tests/e2e/parameters/handlers/parameter_ssm_get_parameters_by_name.py
  tests/e2e/parameters/infrastructure.py
  tests/e2e/parameters/test_ssm.py
  tests/functional/test_utilities_parameters.py
Labels: documentation, dependencies, feature, size/XXL, tests, commons

#1695 docs(homepage): update default value for `POWERTOOLS_DEV`
  docs/index.md
Labels: documentation, size/XS

#1688 docs(apigateway): add all resolvers in testing your code section for accuracy
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/assert_alb_api_resolver_response.py
  examples/event_handler_rest/src/assert_alb_api_response_module.py
  examples/event_handler_rest/src/assert_function_url_api_resolver_response.py
  examples/event_handler_rest/src/assert_function_url_api_response_module.py
  examples/event_handler_rest/src/assert_http_api_resolver_response.py
  examples/event_handler_rest/src/assert_http_api_response_module.py
  examples/event_handler_rest/src/assert_rest_api_resolver_response.py
  examples/event_handler_rest/src/assert_rest_api_response_module.py
Labels: documentation, size/L, event_handlers

#1707 feat(apigateway): multiple exceptions in exception_handler
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/test_api_gateway.py
Labels: documentation, feature, size/M, tests, event_handlers

#1709 fix(apigateway): support nested router decorators
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/events/apiGatewayProxyEventAnotherPath.json
  tests/functional/event_handler/test_api_gateway.py
Labels: bug, size/L, tests, event_handlers

#1717 fix(parameters): get_secret correctly return SecretBinary value
  aws_lambda_powertools/utilities/parameters/secrets.py
  tests/functional/test_utilities_parameters.py
Labels: bug, size/M, tests, parameters

#1710 feat(event_sources): extract CloudWatch Logs in Kinesis streams
  aws_lambda_powertools/utilities/data_classes/kinesis_stream_event.py
  docs/utilities/data_classes.md
  tests/events/kinesisStreamCloudWatchLogsEvent.json
  tests/functional/test_data_classes.py
Labels: documentation, feature, size/L, tests

#1726 feat(parser): extract CloudWatch Logs in Kinesis streams
  aws_lambda_powertools/utilities/parser/models/kinesis.py
  tests/functional/parser/test_kinesis.py
Labels: feature, size/M, tests

#1727 feat(logger): log uncaught exceptions via system's exception hook
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  examples/logger/src/logging_uncaught_exceptions.py
  examples/logger/src/logging_uncaught_exceptions_output.json
  tests/functional/test_logger.py
Labels: documentation, feature, size/M, tests, logger

#1728 feat(parser): export Pydantic.errors through escape hatch
  aws_lambda_powertools/utilities/parser/pydantic.py
Labels: feature, size/XS

#1732 docs(idempotency): add missing Lambda Context; note on thread-safe
  docs/utilities/idempotency.md
Labels: documentation, size/M

#1737 fix(apigateway): support dynamic routes with equal sign (RFC3986)
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: bug, size/XS, tests, event_handlers

#1719 feat(streaming): add new s3 streaming utility
  .github/boring-cyborg.yml
  README.md
  aws_lambda_powertools/utilities/streaming/__init__.py
  aws_lambda_powertools/utilities/streaming/_s3_seekable_io.py
  aws_lambda_powertools/utilities/streaming/compat.py
  aws_lambda_powertools/utilities/streaming/s3_object.py
  aws_lambda_powertools/utilities/streaming/transformations/__init__.py
  aws_lambda_powertools/utilities/streaming/transformations/base.py
  aws_lambda_powertools/utilities/streaming/transformations/csv.py
  aws_lambda_powertools/utilities/streaming/transformations/gzip.py
  aws_lambda_powertools/utilities/streaming/transformations/zip.py
  docs/index.md
  docs/utilities/streaming.md
  examples/streaming/src/assert_transformation.py
  examples/streaming/src/assert_transformation_module.py
  examples/streaming/src/non_uniform_sample.csv
  examples/streaming/src/s3_basic_stream.py
  examples/streaming/src/s3_basic_stream_with_version.py
  examples/streaming/src/s3_csv_stream_non_uniform_seek.py
  examples/streaming/src/s3_csv_stream_seek.py
  examples/streaming/src/s3_json_transform.py
  examples/streaming/src/s3_transform.py
  examples/streaming/src/s3_transform_common.py
  examples/streaming/src/s3_transform_in_place.py
  examples/streaming/src/s3_transform_lzma.py
  examples/streaming/src/s3_transform_tsv.py
  examples/streaming/src/s3_transform_zipfile.py
  examples/streaming/src/uniform_sample.csv
  mkdocs.yml
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/e2e/streaming/__init__.py
  tests/e2e/streaming/assets/csv.txt
  tests/e2e/streaming/assets/csv.txt.gz
  tests/e2e/streaming/assets/fileset.zip
  tests/e2e/streaming/assets/fileset.zip.lzma
  tests/e2e/streaming/assets/plain.txt
  tests/e2e/streaming/assets/plain.txt.gz
  tests/e2e/streaming/conftest.py
  tests/e2e/streaming/handlers/s3_object_handler.py
  tests/e2e/streaming/infrastructure.py
  tests/e2e/streaming/test_s3_object.py
  tests/functional/streaming/__init__.py
  tests/functional/streaming/test_s3_object.py
  tests/functional/streaming/test_s3_seekable_io.py
Labels: documentation, dependencies, feature, size/XXL, tests, github-actions, typing

#1747 docs(idempotency): fix register_lambda_context order
  docs/utilities/idempotency.md
Labels: documentation, size/XS
