Repository aws-powertools/powertools-lambda-python, pull requests merged in 2022-10, with the labels that each got.

#1548 feat(logger): pretty-print JSON when POWERTOOLS_DEV is set
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/shared/constants.py
  docs/core/logger.md
  tests/functional/test_logger_powertools_formatter.py
Labels: documentation, area/logger, feature, size/M, tests, area/commons

#1561 feat(batch): inject lambda_context if record handler signature accepts it
  aws_lambda_powertools/utilities/batch/base.py
  tests/functional/test_utilities_batch.py
Labels: feature, size/M, tests

#1567 feat(event-handler): context support to share data between routers
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/appsync.py
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/split_operation_append_context.py
  examples/event_handler_graphql/src/split_operation_append_context_module.py
  examples/event_handler_rest/src/split_route_append_context.py
  examples/event_handler_rest/src/split_route_append_context_module.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_appsync.py
Labels: documentation, feature, size/L, area/event_handlers, tests

#1570 chore(multiple): localize powertools_dev env logic and warning
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/shared/functions.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/test_api_gateway.py
Labels: documentation, area/logger, internal, size/M, area/event_handlers, tests, area/commons

#1568 feat(logger): include logger name attribute when copy_config_to_registered_logger is used
  aws_lambda_powertools/logging/utils.py
  docs/core/logger.md
  tests/functional/test_logger_utils.py
Labels: documentation, area/logger, feature, size/S, tests

#1572 feat(logger): introduce POWERTOOLS_DEBUG for internal debugging
  aws_lambda_powertools/package_logger.py
  aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/shared/functions.py
  docs/index.md
  tests/functional/test_logger.py
  tests/functional/test_shared_functions.py
Labels: documentation, area/logger, feature, size/L, tests, area/commons

#1569 docs(homepage): introduce POWERTOOLS_DEV env var
  docs/index.md
Labels: documentation, size/M

#1558 feat(layers): add support for publishing v2 layer
  .github/workflows/publish_v2_layer.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  Makefile
  layer/app.py
  layer/layer/canary/app.py
  layer/layer/canary_stack.py
  layer/layer/layer_stack.py
  layer/poetry.lock
  layer/pyproject.toml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tests/e2e/utils/infrastructure.py
  tests/e2e/utils/lambda_layer/powertools_layer.py
Labels: dependencies, feature, internal, size/XL, tests, github-actions

#1574 docs(v2): document optional dependencies and local dev
  README.md
  docs/core/tracer.md
  docs/index.md
  docs/utilities/parser.md
  docs/utilities/validation.md
Labels: documentation, dependencies, internal, size/L, tests, github-actions

#1581 fix(metrics): ensure dimension_set is reused across instances (pointer)
  aws_lambda_powertools/metrics/metrics.py
  tests/functional/test_metrics.py
Labels: bug, area/metrics, size/M, tests

#1587 docs(logger): fix typo.
  docs/core/logger.md
Labels: documentation, size/XS

#1589 docs(governance): new form to allow customers self-nominate as public reference
  .github/ISSUE_TEMPLATE/support_powertools.yml
Labels: documentation, size/M, github-templates

#1588 docs(idempotency) - Update invalid link target.
  docs/utilities/idempotency.md
Labels: documentation, size/XS

#1596 docs(idempotency): "persisntence" typo
  docs/utilities/idempotency.md
Labels: documentation, size/XS

#1593 docs(governance): allow community to suggest feature content
  .github/ISSUE_TEMPLATE/share_your_work.yml
  .github/ISSUE_TEMPLATE/support_powertools.yml
  MAINTAINERS.md
Labels: documentation, internal, size/M, github-templates

#1606 fix(parser): loose validation on SNS fields to support FIFO
  aws_lambda_powertools/utilities/parser/models/sns.py
  tests/events/snsSqsFifoEvent.json
  tests/functional/parser/test_sns.py
Labels: bug, size/M, tests

#1540 feat(data_classes): add KinesisFirehoseEvent
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  docs/utilities/data_classes.md
  examples/event_sources/src/kinesis_firehose_delivery_stream.py
  tests/events/kinesisFirehosePutEvent.json
  tests/functional/test_data_classes.py
Labels: documentation, triage, feature, size/L, tests

#1610 docs(homepage): auto-update Layer ARN on every release
  .github/workflows/publish_v2_layer.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_update_v2_layer_arn_docs.yml
  .pre-commit-config.yaml
  docs/index.md
  docs/stylesheets/extra.css
  layer/scripts/update_layer_arn.sh
Labels: documentation, feature, internal, size/XL, github-actions

#1608 chore(deps): remove email-validator; use Str over EmailStr in SES model
  aws_lambda_powertools/utilities/parser/models/ses.py
  layer/layer/canary/app.py
  poetry.lock
  pyproject.toml
  tox.ini
Labels: dependencies, internal, size/M

#1612 chore(dep): add cfn-lint as a dev dependency
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/L

#1609 feat(apigateway): ignore trailing slashes in routes (APIGatewayRestResolver)
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  tests/e2e/event_handler/handlers/alb_handler.py
  tests/e2e/event_handler/handlers/api_gateway_http_handler.py
  tests/e2e/event_handler/handlers/api_gateway_rest_handler.py
  tests/e2e/event_handler/handlers/lambda_function_url_handler.py
  tests/e2e/event_handler/test_paths_ending_with_slash.py
  tests/events/albEventPathTrailingSlash.json
  tests/events/apiGatewayProxyEventPathTrailingSlash.json
  tests/events/apiGatewayProxyV2EventPathTrailingSlash.json
  tests/events/lambdaFunctionUrlEventPathTrailingSlash.json
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_lambda_function_url.py
Labels: documentation, area/tracer, feature, internal, size/L, area/event_handlers, tests, github-actions, area/commons

#1619 feat(data-classes): replace AttributeValue in DynamoDBStreamEvent with deserialized Python values
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  docs/upgrade.md
  docs/utilities/batch.md
  docs/utilities/data_classes.md
  tests/functional/test_data_classes.py
  tests/functional/test_utilities_batch.py
Labels: documentation, feature, size/XL, tests

#1620 refactor(apigateway): remove POWERTOOLS_EVENT_HANDLER_DEBUG env var
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/shared/constants.py
  docs/index.md
  tests/functional/event_handler/test_api_gateway.py
Labels: documentation, size/M, area/event_handlers, tests, enhancement, area/commons

#1617 chore(ci): remove v1 workflows
  .github/workflows/on_release_notes.yml
  .github/workflows/publish_layer.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/rebuild_latest_docs.yml
  .github/workflows/reusable_deploy_layer_stack.yml
  .github/workflows/reusable_update_v2_layer_arn_docs.yml
  .github/workflows/v2_on_push_docs.yml
  .github/workflows/v2_rebuild_latest_docs.yml
Labels: internal, size/L, github-actions

#1621 chore(ci): prepare CI actions for v1 releases
  .github/workflows/codeql-analysis.yml
  .github/workflows/on_push_docs.yml
  .github/workflows/on_release_notes.yml
  .github/workflows/publish_layer.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/python_build.yml
  .github/workflows/release-drafter.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_publish_changelog.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/v2_on_push_docs.yml
  .github/workflows/v2_rebuild_latest_docs.yml
  .pre-commit-config.yaml
Labels: internal, size/L, github-actions

#1624 feat(ci): release docs as alpha when doing a pre-release
  .github/workflows/on_release_notes.yml
Labels: feature, size/S, github-actions

#1623 docs(upgrade_guide): add latest changes and quick summary
  docs/media/upgrade_idempotency_after.png
  docs/media/upgrade_idempotency_before.png
  docs/upgrade.md
Labels: documentation, internal, size/L

#1633 fix(ci): remove v2 suffix from SAR apps
  .github/workflows/reusable_deploy_v2_sar.yml
  docs/index.md
  layer/sar/template.txt
Labels: bug, documentation, size/S, github-actions

#1638 fix(parser): S3Model Object Deleted omits size and eTag attr
  aws_lambda_powertools/utilities/parser/models/s3.py
  examples/event_sources/src/kinesis_firehose_delivery_stream.py
  tests/events/s3EventDeleteObject.json
  tests/functional/parser/test_s3.py
Labels: bug, size/L, tests

#1643 feat(layers): add layer balancer script
  layer/scripts/layer-balancer/README.md
  layer/scripts/layer-balancer/go.mod
  layer/scripts/layer-balancer/go.sum
  layer/scripts/layer-balancer/main.go
Labels: feature, size/L

#1651 fix(deps): update build system to poetry-core
  poetry.lock
  pyproject.toml
Labels: bug, dependencies, size/L

#1650 docs(we-made-this): new community content section
  docs/we_made_this.md
  mkdocs.yml
Labels: documentation, size/L

#1654 docs(community): fix social handlers for Ran
  docs/we_made_this.md
Labels: documentation, size/XS

#1652 docs(homepage): add Pulumi code example
  docs/index.md
Labels: documentation, size/M

#1658 feat(logger): accept arbitrary keyword=value for ephemeral metadata
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  examples/logger/src/append_keys_kwargs.py
  examples/logger/src/append_keys_kwargs_output.json
  tests/functional/test_logger.py
Labels: documentation, area/logger, feature, size/L, tests

#1669 fix(idempotency): idempotent_function should support standalone falsy values
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  tests/functional/idempotency/test_idempotency.py
Labels: bug, size/M, tests

#1670 fix(logger): fix unknown attributes being ignored by mypy
  aws_lambda_powertools/logging/logger.py
Labels: bug, area/logger, size/S
