Repository aws-powertools/powertools-lambda-python, pull requests merged in 2023-05, with the labels that each got.

#2169 feat(jmespath): new built-in envelopes to unwrap S3 events
  aws_lambda_powertools/utilities/jmespath_utils/envelopes.py
  docs/utilities/jmespath_functions.md
  docs/utilities/validation.md
  examples/jmespath_functions/src/extract_data_from_builtin_envelope.py
Labels: documentation, feature, size/M, jmespath

#2183 feat(logger): add DatadogLogFormatter and observability provider
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/formatters/__init__.py
  aws_lambda_powertools/logging/formatters/datadog.py
  docs/core/logger.md
  examples/logger/src/observability_provider_builtin_formatters.py
  tests/functional/test_logger_powertools_formatter.py
Labels: documentation, feature, size/L, tests, logger

#2189 docs(batch): fixed typo in DynamoDB Streams section
  docs/utilities/batch.md
Labels: documentation, size/XS

#2182 docs(we-made-this): add serverless transactional message app
  docs/we_made_this.md
Labels: documentation, size/S

#2108 feat(parser): add support for SQS-wrapped S3 event notifications
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/s3_event_notification.py
  aws_lambda_powertools/utilities/parser/models/sqs.py
  docs/utilities/parser.md
  tests/events/s3SqsEvent.json
  tests/functional/parser/test_s3.py
  tests/unit/parser/test_s3.py
Labels: documentation, feature, size/L, tests

#2196 chore(governance): add Lambda Powertools for .NET in issue templates
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/ISSUE_TEMPLATE/tech_debt.yml
Labels: internal, size/XS, github-templates

#2200 feat(event_source): support custom json_deserializer; add json_body in SQSEvent
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/events/sqsEvent.json
  tests/functional/test_data_classes.py
Labels: feature, size/L, tests

#2215 chore(ci): enforce zero trust for third party workflows
  .github/workflows/auto-merge.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dispatch_analytics.yml
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_closed_issues.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/python_build.yml
  .github/workflows/record_pr.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_export_pr_details.yml
  .github/workflows/reusable_publish_changelog.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/reusable_update_v2_layer_arn_docs.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/secure_workflows.yml
Labels: internal, size/L, github-actions

#2216 chore(ci): schedule changelog to rebuild daily at 8am, and on release only
  .github/workflows/build_changelog.yml
  .github/workflows/on_push_docs.yml
  .github/workflows/rebuild_latest_docs.yml
Labels: internal, size/M, github-actions

#2224 chore(ci): create pull request on changelog update
  .github/scripts/create_pr_for_staged_changes.sh
  .github/workflows/reusable_publish_changelog.yml
Labels: internal, size/L, github-actions

#2225 chore(ci): skip analytics on forks
  .github/workflows/dispatch_analytics.yml
Labels: internal, size/XS, github-actions

#2238 chore(ci): convert create-pr steps into composite action
  .github/actions/create-pr/action.yml
  .github/actions/create-pr/create_pr_for_staged_changes.sh
  .github/scripts/create_pr_for_staged_changes.sh
  .github/workflows/build_changelog.yml
  .github/workflows/reusable_publish_changelog.yml
Labels: internal, size/L, github-actions

#2240 chore(ci): update layer ARN docs and create PR during release
  .github/actions/create-pr/create_pr_for_staged_changes.sh
  .github/workflows/publish_v2_layer.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/reusable_update_v2_layer_arn_docs.yml
  layer/scripts/update_layer_arn.sh
Labels: internal, size/L, github-actions

#2222 docs(feature_flags): snippets split, improved, and lint
  docs/utilities/feature_flags.md
  examples/feature_flags/sam/template.yaml
  examples/feature_flags/src/appconfig_provider_options.py
  examples/feature_flags/src/appconfig_provider_options_features.json
  examples/feature_flags/src/appconfig_provider_options_payload.json
  examples/feature_flags/src/beyond_boolean.py
  examples/feature_flags/src/beyond_boolean_features.json
  examples/feature_flags/src/beyond_boolean_payload.json
  examples/feature_flags/src/conditions.json
  examples/feature_flags/src/custom_s3_store_provider.py
  examples/feature_flags/src/datetime_feature.py
  examples/feature_flags/src/datetime_features.json
  examples/feature_flags/src/extracting_envelope.py
  examples/feature_flags/src/extracting_envelope_features.json
  examples/feature_flags/src/extracting_envelope_payload.json
  examples/feature_flags/src/feature_with_rules.json
  examples/feature_flags/src/getting_all_enabled_features.py
  examples/feature_flags/src/getting_all_enabled_features_features.json
  examples/feature_flags/src/getting_all_enabled_features_payload.json
  examples/feature_flags/src/getting_started_single_feature_flag.py
  examples/feature_flags/src/getting_started_single_feature_flag_features.json
  examples/feature_flags/src/getting_started_single_feature_flag_payload.json
  examples/feature_flags/src/getting_started_static_flag.py
  examples/feature_flags/src/getting_started_static_flag_features.json
  examples/feature_flags/src/getting_started_static_flag_payload.json
  examples/feature_flags/src/getting_started_with_cache.py
  examples/feature_flags/src/getting_started_with_cache_features.json
  examples/feature_flags/src/getting_started_with_cache_payload.json
  examples/feature_flags/src/getting_started_with_tests.py
  examples/feature_flags/src/getting_stored_features.py
  examples/feature_flags/src/minimal_schema.json
  examples/feature_flags/src/timebased_feature.py
  examples/feature_flags/src/timebased_happyhour_feature.py
  examples/feature_flags/src/working_with_own_s3_store_provider.py
  examples/feature_flags/src/working_with_own_s3_store_provider_features.json
  examples/feature_flags/src/working_with_own_s3_store_provider_payload.json
Labels: documentation, size/XXL

#2271 chore(deps): update mkdocs configuration to support pymdown-extensions 10.0
  mkdocs.yml
Labels: documentation, internal, size/XS

#2290 docs(batch): add encryption at rest for SQS
  examples/batch_processing/sam/kinesis_batch_processing.yaml
  examples/batch_processing/sam/sqs_batch_processing.yaml
Labels: documentation, size/XS

#2277 feat(docs): Move docs to S3
  .github/workflows/on_push_docs.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/rebuild_latest_docs.yml
  .github/workflows/reusable_publish_docs.yml
Labels: documentation, feature, size/M, github-actions, github_actions

#2301 chore(ci): source code tampering protection for release
  .github/actions/download-artifact/action.yml
  .github/actions/upload-artifact/action.yml
  .github/workflows/release.yml
Labels: internal, size/L, github-actions

#2294 feat(parser): add support for parsing SQS events wrapped in Kinesis Firehose
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/kinesis_firehose_sqs.py
  docs/utilities/parser.md
  tests/events/kinesisFirehoseSQSEvent.json
  tests/functional/parser/test_kinesis_firehose.py
Labels: documentation, feature, size/M, tests

#2320 fix(logger): add setLevel function to set level programmatically
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Labels: bug, size/M, tests, logger

#2322 fix(docs): use concrete secrets from settings
  .github/workflows/on_push_docs.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/rebuild_latest_docs.yml
  .github/workflows/reusable_publish_docs.yml
Labels: bug, size/XS, github-actions

#2313 docs(project): rename project to Powertools for AWS Lambda (Python)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/ISSUE_TEMPLATE/share_your_work.yml
  .github/ISSUE_TEMPLATE/static_typing.yml
  .github/ISSUE_TEMPLATE/support_powertools.yml
  .github/ISSUE_TEMPLATE/tech_debt.yml
  .github/actions/create-pr/action.yml
  .github/boring-cyborg.yml
  .github/workflows/release.yml
  CHANGELOG.md
  MAINTAINERS.md
  README.md
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/logging/utils.py
  aws_lambda_powertools/package_logger.py
  aws_lambda_powertools/utilities/validation/exceptions.py
  benchmark/README.md
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  docs/core/logger.md
  docs/core/tracer.md
  docs/index.md
  docs/roadmap.md
  docs/tutorial/index.md
  docs/upgrade.md
  docs/utilities/feature_flags.md
  docs/utilities/idempotency.md
  docs/utilities/jmespath_functions.md
  docs/utilities/middleware_factory.md
  docs/utilities/parser.md
  docs/utilities/validation.md
  docs/we_made_this.md
  examples/event_handler_graphql/sam/template.yaml
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
  layer/README.md
  layer/app.py
  layer/layer/canary/app.py
  layer/pyproject.toml
  layer/scripts/layer-balancer/main.go
  mkdocs.yml
  pyproject.toml
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/parameters/infrastructure.py
  tests/e2e/utils/data_fetcher/logs.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/test_logger.py
  tests/functional/test_logger_utils.py
Labels: documentation, internal, size/L, tests, github-actions, logger, github-templates
