Repository aws-powertools/powertools-lambda-python, pull requests merged in 2023-01, with the labels that each got.

#1813 Fix(idempotency): Log nested exception message
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  tests/functional/idempotency/test_idempotency.py
Labels: size/M, tests

#1826 docs(logger): Add warning of uncaught exceptions
  docs/core/logger.md
Labels: documentation, size/XS

#1827 fix(api_gateway): fixed custom metrics issue when using debug mode
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: bug, size/XS, tests, event_handlers

#1824 (feat): introduce specialized routers for typing
  aws_lambda_powertools/event_handler/router.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/split_route_specialized_router.py
  tests/functional/event_handler/test_router.py
Labels: documentation, feature, size/L, tests, event_handlers

#1830 docs(logger): fix incorrect field names in example structured logs
  examples/logger/src/bring_your_own_formatter_from_scratch_output.json
  examples/logger/src/clear_state_event_one.json
  examples/logger/src/clear_state_event_two.json
  examples/logger/src/inject_lambda_context_output.json
  examples/logger/src/logger_reuse_output.json
  examples/logger/src/sampling_debug_logs_output.json
  examples/logger/src/set_correlation_id_jmespath_output.json
  examples/logger/src/set_correlation_id_output.json
Labels: documentation, size/M

#1846 feat(feature_flags): Add Time based feature flags actions
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  aws_lambda_powertools/utilities/feature_flags/time_conditions.py
  docs/utilities/feature_flags.md
  examples/feature_flags/src/datetime_feature.json
  examples/feature_flags/src/datetime_feature.py
  examples/feature_flags/src/timebased_feature.py
  examples/feature_flags/src/timebased_feature_event.json
  examples/feature_flags/src/timebased_features.json
  examples/feature_flags/src/timebased_happyhour_feature.py
  examples/feature_flags/src/timebased_happyhour_features.json
  poetry.lock
  pyproject.toml
  tests/functional/feature_flags/test_schema_validation.py
  tests/functional/feature_flags/test_time_based_actions.py
Labels: documentation, dependencies, feature, size/XXL, tests

#1853 feat(event_handlers) Add support for returning dict, status-code tuples from resolvers
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/getting_started_return_tuple.py
  tests/functional/event_handler/test_api_gateway.py
Labels: documentation, size/M, tests, event_handlers

#1857 docs(event-source): fix incorrect method in example CloudWatch Logs
  docs/utilities/data_classes.md
Labels: documentation, size/XS

#1861 fix(tests): make sure multiple e2e tests run concurrently
  .github/workflows/run-e2e-tests.yml
  parallel_run_e2e.py
  tests/e2e/event_handler/conftest.py
  tests/e2e/event_handler/test_header_serializer.py
  tests/e2e/event_handler/test_paths_ending_with_slash.py
  tests/e2e/idempotency/conftest.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/logger/conftest.py
  tests/e2e/logger/test_logger.py
  tests/e2e/metrics/conftest.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/parameters/conftest.py
  tests/e2e/parameters/infrastructure.py
  tests/e2e/parameters/test_appconfig.py
  tests/e2e/parameters/test_ssm.py
  tests/e2e/pytest.ini
  tests/e2e/streaming/conftest.py
  tests/e2e/streaming/test_s3_object.py
  tests/e2e/tracer/conftest.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils/functions.py
  tests/e2e/utils/infrastructure.py
Labels: bug, dependencies, size/M, tests, github-actions

#1564 docs(parameters): snippets split, improved, and lint
  docs/utilities/parameters.md
  examples/parameters/sam/sam_dynamodb_custom_fields.yaml
  examples/parameters/sam/sam_dynamodb_table_recursive.yaml
  examples/parameters/sam/sam_dynamodb_table_single.yaml
  examples/parameters/src/appconfig_force_fetch.py
  examples/parameters/src/appconfig_with_cache.py
  examples/parameters/src/builtin_provider_appconfig.py
  examples/parameters/src/builtin_provider_dynamodb_custom_endpoint.py
  examples/parameters/src/builtin_provider_dynamodb_custom_fields.py
  examples/parameters/src/builtin_provider_dynamodb_recursive_parameter.py
  examples/parameters/src/builtin_provider_dynamodb_single_parameter.py
  examples/parameters/src/builtin_provider_secret.py
  examples/parameters/src/builtin_provider_ssm_recursive_parameter.py
  examples/parameters/src/builtin_provider_ssm_single_parameter.py
  examples/parameters/src/builtin_provider_ssm_with_decrypt.py
  examples/parameters/src/builtin_provider_ssm_with_no_recursive.py
  examples/parameters/src/custom_boto3_all_providers.py
  examples/parameters/src/custom_boto_client.py
  examples/parameters/src/custom_boto_config.py
  examples/parameters/src/custom_boto_session.py
  examples/parameters/src/custom_provider_s3.py
  examples/parameters/src/custom_provider_vault.py
  examples/parameters/src/get_parameter_by_name_error_handling.py
  examples/parameters/src/getting_started_appconfig.py
  examples/parameters/src/getting_started_parameter_by_name.py
  examples/parameters/src/getting_started_recursive_ssm_parameter.py
  examples/parameters/src/getting_started_secret.py
  examples/parameters/src/getting_started_single_ssm_parameter.py
  examples/parameters/src/handling_error_transform.py
  examples/parameters/src/recursive_ssm_parameter_force_fetch.py
  examples/parameters/src/recursive_ssm_parameter_with_cache.py
  examples/parameters/src/secret_force_fetch.py
  examples/parameters/src/secret_with_cache.py
  examples/parameters/src/single_ssm_parameter_force_fetch.py
  examples/parameters/src/single_ssm_parameter_with_cache.py
  examples/parameters/src/working_with_auto_transform.py
  examples/parameters/src/working_with_own_provider_s3.py
  examples/parameters/src/working_with_own_provider_vault.py
  examples/parameters/src/working_with_sdk_additional_arguments.py
  examples/parameters/src/working_with_transform_high_level.py
  examples/parameters/src/working_with_transform_provider.py
  examples/parameters/tests/src/__init__.py
  examples/parameters/tests/src/app.py
  examples/parameters/tests/src/single_mock.py
  examples/parameters/tests/test_clear_cache_global.py
  examples/parameters/tests/test_clear_cache_method.py
  examples/parameters/tests/test_single_mock.py
  examples/parameters/tests/test_with_fixture.py
  examples/parameters/tests/test_with_monkeypatch.py
  mypy.ini
  poetry.lock
  pyproject.toml
Labels: documentation, size/XXL
