Repository aws-powertools/powertools-lambda-python, pull requests merged in 2023-02, with the labels that each got.

#1871 fix(license): add MIT-0 license header
  LICENSE
Labels: internal, size/XS, need-issue

#1882 fix(ci): add auth to API HTTP Gateway and Lambda Function Url
  poetry.lock
  pyproject.toml
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/event_handler/test_header_serializer.py
  tests/e2e/event_handler/test_paths_ending_with_slash.py
  tests/e2e/utils/auth.py
Labels: bug, dependencies, size/M, tests

#1883 fix(license): correction to MIT + MIT-0 (no proprietary anymore)
  pyproject.toml
Labels: bug, dependencies, size/XS

#1879 docs(homepage): add banner for end-of-support v1
  docs/overrides/main.html
  docs/upgrade.md
Labels: documentation, size/S

#1880 feat(metrics): add default_dimensions to single_metric
  aws_lambda_powertools/metrics/base.py
  docs/core/metrics.md
  examples/metrics/src/single_metric_default_dimensions.py
  examples/metrics/src/single_metric_default_dimensions_inherit.py
  tests/functional/test_metrics.py
Labels: documentation, feature, size/M, tests, metrics

#1893 docs(homepage): set url for end-of-support in announce block
  docs/overrides/main.html
Labels: documentation, internal, size/XS

#1902 docs(idempotency): add IAM permissions section
  docs/utilities/idempotency.md
Labels: documentation, size/XS

#1912 chore(pypi): add new links to Pypi package homepage
  pyproject.toml
Labels: dependencies, internal, size/XS

#1899 fix(idempotency): make idempotent_function decorator thread safe
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/logging/utils.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  docs/utilities/idempotency.md
  mypy.ini
  tests/e2e/idempotency/handlers/function_thread_safety_handler.py
  tests/e2e/idempotency/handlers/parallel_execution_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_expiration_handler.py
  tests/e2e/idempotency/handlers/ttl_cache_timeout_handler.py
  tests/e2e/idempotency/infrastructure.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/parameters/infrastructure.py
  tests/functional/feature_flags/test_feature_flags.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
Labels: bug, documentation, size/L, tests, typing, logger, event_handlers

#1724 feat(batch): add async_batch_processor for concurrent processing
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  docs/utilities/batch.md
  examples/batch_processing/src/getting_started_async_batch_processor.py
  poetry.lock
  pyproject.toml
  tests/functional/test_utilities_batch.py
Labels: documentation, dependencies, feature, size/XL, tests

#1915 feat(metrics) - add support for high resolution metrics
  aws_lambda_powertools/metrics/__init__.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/exceptions.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/types.py
  docs/core/metrics.md
  examples/metrics/src/add_high_resolution_metric.py
  tests/functional/test_metrics.py
Labels: documentation, size/L, tests, metrics

#1917 docs(homepage): Replace poetry command to add group parameter
  docs/index.md
Labels: documentation, size/XS

#1910 fix(feature-flags): revert RuleAction Enum inheritance on str
  aws_lambda_powertools/utilities/feature_flags/schema.py
Labels: bug, need-more-information, size/XS, do-not-merge

#1930 fix(logger): support exception and exception_name fields at any log level
  aws_lambda_powertools/logging/formatter.py
  tests/functional/test_logger.py
Labels: bug, size/S, tests, logger

#1939 docs(we-made-this): add Feature Flags post
  docs/we_made_this.md
Labels: documentation, size/XS

#1936 docs(event-handler): Fix REST API - HTTP Methods documentation
  docs/core/event_handler/api_gateway.md
Labels: documentation, size/XS, event_handlers

#1934 feat(batch): add support to SQS FIFO queues (SqsFifoPartialProcessor)
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/sqs_fifo_partial_processor.py
  aws_lambda_powertools/utilities/batch/types.py
  docs/utilities/batch.md
  examples/batch_processing/src/sqs_fifo_batch_processor.py
  examples/batch_processing/src/sqs_fifo_batch_processor_context_manager.py
  tests/functional/test_utilities_batch.py
Labels: documentation, feature, size/L, tests, batch

#1940 docs(we-made-this): add CI/CD using Feature Flags video
  docs/we_made_this.md
Labels: documentation, size/S

#1966 docs(parameters): fix typos and inconsistencies
  docs/utilities/parameters.md
Labels: documentation, size/XS
