Repository aws-powertools/powertools-lambda-python, pull requests merged in 2023-12, with the labels that each got.

#3455 fix(event_handler): serialize pydantic/dataclasses in exception handler
  Makefile
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/shared/json_encoder.py
  tests/functional/event_handler/test_api_gateway.py
  tests/unit/test_json_encoder.py
Labels: internal, size/L, tests, event_handlers, commons

#3454 feat(event_sources): add get_context() to standardize API Gateway Lambda Authorizer context in v1 and v2
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  tests/events/apiGatewayProxyV2LambdaAuthorizerEvent.json
  tests/unit/data_classes/test_api_gateway_proxy_event.py
  tests/unit/parser/test_apigwv2.py
Labels: size/M, tests, event_sources

#3460 fix(metrics): lambda_handler typing, and **kwargs preservation all middlewares
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  aws_lambda_powertools/metrics/provider/datadog/metrics.py
  aws_lambda_powertools/middleware_factory/factory.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/parser/parser.py
  aws_lambda_powertools/utilities/validation/validator.py
Labels: size/M, metrics, middleware_factory

#3475 fix(logger): log non-ascii characters as is when JSON stringifying
  aws_lambda_powertools/logging/formatter.py
  tests/functional/test_logger.py
Labels: size/S, tests, logger

#3497 docs(customer-reference): add Transformity as a customer reference
  README.md
  docs/index.md
Labels: documentation, size/XS

#3498 fix(docs): make the Lambda Layer version consistent
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
  layer/scripts/layer-balancer/main.go
Labels: documentation, size/L

#3304 feat(general): add support for Python 3.12
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/static_typing.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/quality_check.yml
  .github/workflows/quality_check_pydanticv2.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
  README.md
  docs/tutorial/index.md
  examples/batch_processing/sam/dynamodb_batch_processing.yaml
  examples/batch_processing/sam/kinesis_batch_processing.yaml
  examples/batch_processing/sam/sqs_batch_processing.yaml
  examples/event_handler_lambda_function_url/sam/template.yaml
  examples/event_handler_rest/sam/micro_function_template.yaml
  examples/event_handler_rest/sam/template.yaml
  examples/idempotency/templates/sam.yaml
  examples/idempotency/templates/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/middleware_factory/sam/combining_powertools_utilities_template.yaml
  examples/tracer/sam/template.yaml
  layer/poetry.lock
  layer/pyproject.toml
  layer/sar/template.txt
  package-lock.json
  poetry.lock
  pyproject.toml
  tests/e2e/utils/infrastructure.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/template.yaml
Labels: documentation, dependencies, size/M, tests, github-actions, github-templates

#3514 fix(event_handler): allow responses and metadata when using Router
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/util.py
  tests/functional/event_handler/test_openapi_params.py
Labels: size/M, tests, event_handlers

#3526 fix(event-handler): upgrade Swagger UI to fix regressions
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui-bundle.min.js
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui.min.css
Labels: size/XS, event_handlers

#3527 fix(event-handler): set default OpenAPI version to 3.0.0
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/models.py
Labels: size/XS, event_handlers

#3534 refactor(parameters): add overload signatures for get_parameter and get_parameters
  aws_lambda_powertools/utilities/parameters/ssm.py
  examples/parameters/src/getting_started_single_ssm_parameter.py
Labels: size/L, parameters

#3543 feat(event_handler): support richer top level Tags
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_openapi_params.py
  tests/functional/event_handler/test_openapi_tags.py
Labels: size/L, tests, event_handlers

#3548 feat(event-handler): add description to request body in OpenAPI schema
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_openapi_params.py
Labels: size/S, tests, event_handlers

#3549 feat(layers): add new comercial region Canada - ca-west-1
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  docs/index.md
  layer/scripts/layer-balancer/main.go
Labels: documentation, size/S, github-actions, layers
