Repository aws-powertools/powertools-lambda-python, pull requests merged in 2023-09, with the labels that each got.

#2951 feat(idempotency): add support to custom serialization/deserialization on idempotency decorator
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/serialization/__init__.py
  aws_lambda_powertools/utilities/idempotency/serialization/base.py
  aws_lambda_powertools/utilities/idempotency/serialization/custom_dict.py
  aws_lambda_powertools/utilities/idempotency/serialization/dataclass.py
  aws_lambda_powertools/utilities/idempotency/serialization/no_op.py
  aws_lambda_powertools/utilities/idempotency/serialization/pydantic.py
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_dataclass_deduced_output_serializer.py
  examples/idempotency/src/working_with_dataclass_explicitly_output_serializer.py
  examples/idempotency/src/working_with_idempotent_function_custom_output_serializer.py
  examples/idempotency/src/working_with_pydantic_deduced_output_serializer.py
  examples/idempotency/src/working_with_pydantic_explicitly_output_serializer.py
  tests/functional/idempotency/test_idempotency.py
Labels: documentation, feature, size/XL, tests

#3049 fix(parser): change ApproximateCreationDateTime field to datetime in DynamoDBStreamChangedRecordModel
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
  tests/events/dynamoStreamEvent.json
  tests/unit/data_classes/test_dynamo_db_stream_event.py
  tests/unit/parser/test_dynamodb.py
Labels: bug, size/S, tests

#3063 docs(event_handler): use correct correlation_id for logger in middleware example
  examples/event_handler_rest/src/middleware_getting_started.py
  examples/event_handler_rest/src/middleware_global_middlewares_module.py
Labels: documentation, size/XS

#3064 docs(event_handler): demonstrate how to combine logger correlation ID and middleware
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/middleware_getting_started.py
  examples/event_handler_rest/src/middleware_global_middlewares_module.py
Labels: documentation, size/S

#3067 docs(idempotency): use tab navigation, improves custom serializer example, and additional explanations
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_dataclass_deduced_output_serializer.py
  examples/idempotency/src/working_with_dataclass_explicitly_output_serializer.py
  examples/idempotency/src/working_with_idempotent_function_custom_output_serializer.py
  examples/idempotency/src/working_with_pydantic_deduced_output_serializer.py
  examples/idempotency/src/working_with_pydantic_explicitly_output_serializer.py
Labels: documentation, size/L

#3066 chore(automation): remove previous labels when PR is updated
  .github/scripts/label_pr_based_on_title.js
  .github/scripts/save_pr_details.js
  .github/workflows/reusable_export_pr_details.yml
Labels: internal, size/M, github-actions

#3090 refactor(parameters): BaseProvider._get to also support Dict
  aws_lambda_powertools/utilities/parameters/base.py
  examples/parameters/src/custom_provider_vault.py
  examples/parameters/src/working_with_own_provider_vault.py
Labels: size/S

#3092 chore(typing): move backwards compat types to shared types
  aws_lambda_powertools/event_handler/middlewares/base.py
  aws_lambda_powertools/logging/types.py
  aws_lambda_powertools/metrics/functions.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/types.py
  aws_lambda_powertools/metrics/types.py
  aws_lambda_powertools/shared/cookies.py
  aws_lambda_powertools/shared/types.py
  aws_lambda_powertools/utilities/batch/types.py
  aws_lambda_powertools/utilities/data_classes/secrets_manager_event.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  aws_lambda_powertools/utilities/parameters/types.py
  aws_lambda_powertools/utilities/parser/models/cloudwatch.py
  aws_lambda_powertools/utilities/parser/types.py
  aws_lambda_powertools/utilities/streaming/s3_object.py
  ruff.toml
Labels: size/L, logger, event_handlers, metrics, commons, streaming

#3029 feat(event_source): add Kinesis Firehose Data Transformation data class
  aws_lambda_powertools/shared/__init__.py
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  aws_lambda_powertools/utilities/serialization.py
  docs/utilities/data_classes.md
  examples/event_sources/src/kinesis_firehose_delivery_stream.py
  examples/event_sources/src/kinesis_firehose_response_drop.py
  examples/event_sources/src/kinesis_firehose_response_exception.py
  tests/unit/data_classes/test_kinesis_firehose_response.py
Labels: documentation, feature, size/XL, tests, commons

#3056 docs(event_handler): add micro function examples
  docs/core/event_handler/api_gateway.md
  docs/utilities/data_classes.md
  examples/event_handler_rest/sam/micro_function_template.yaml
  examples/event_handler_rest/src/micro_function_all_users_route.py
  examples/event_handler_rest/src/micro_function_user_by_id_route.py
Labels: documentation, size/L

#3096 docs(we-made-this): fix broken Twitch video embeds
  docs/we_made_this.md
Labels: documentation, size/XS

#3098 docs(event_handler): fix typing in micro function example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/micro_function_user_by_id_route.py
Labels: documentation, size/XS

#3120 fix(metrics): support additional arguments in functions wrapped with log_metrics decorator
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/provider/base.py
  tests/functional/metrics/test_metrics_cloudwatch_emf.py
  tests/functional/metrics/test_metrics_datadog.py
  tests/functional/metrics/test_metrics_provider.py
Labels: size/M, tests, metrics

#3113 fix(logger): add explicit None return type annotations
  aws_lambda_powertools/logging/filters.py
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
Labels: size/M, typing, logger

#2197 feat(data_masking): add new sensitive data masking utility
  Makefile
  aws_lambda_powertools/utilities/data_masking/__init__.py
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/constants.py
  aws_lambda_powertools/utilities/data_masking/provider/__init__.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
  aws_lambda_powertools/utilities/data_masking/provider/kms/__init__.py
  aws_lambda_powertools/utilities/data_masking/provider/kms/aws_encryption_sdk.py
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/e2e/data_masking/__init__.py
  tests/e2e/data_masking/conftest.py
  tests/e2e/data_masking/handlers/basic_handler.py
  tests/e2e/data_masking/infrastructure.py
  tests/e2e/data_masking/test_e2e_data_masking.py
  tests/e2e/utils/lambda_layer/powertools_layer.py
  tests/functional/data_masking/__init__.py
  tests/functional/data_masking/conftest.py
  tests/functional/data_masking/test_aws_encryption_sdk.py
  tests/performance/data_masking/data_masking_load_test.yaml
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/.gitignore
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/README.md
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/__init__.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/events/hello.json
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1024/__init__.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1024/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1024/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_128/__init__.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_128/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_128/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1769/__init__.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1769/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1769/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/samconfig.toml
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/template.yaml
  tests/performance/data_masking/test_perf_data_masking.py
  tests/unit/data_masking/test_unit_data_masking.py
Labels: dependencies, feature, internal, size/XXL, tests, typing, commons, data-masking

#3151 feat(layers): add arm64 support in more regions
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  docs/index.md
  layer/scripts/layer-balancer/main.go
Labels: documentation, size/M, github-actions
