Repository aws-powertools/powertools-lambda-python, pull requests merged in 2023-11, with the labels that each got.

#3262 feat(data_classes): add support for Bedrock Agents event
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  docs/utilities/data_classes.md
  examples/event_sources/src/bedrock_agent_event.py
  tests/events/bedrockAgentEvent.json
  tests/events/bedrockAgentPostEvent.json
  tests/unit/data_classes/test_bedrock_agent_event.py
Labels: documentation, size/L, tests, event_handlers

#3286 feat(parser): add BedrockEventModel parser and envelope
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/bedrock_agent.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/bedrock_agent.py
  docs/utilities/parser.md
  tests/unit/parser/schemas.py
  tests/unit/parser/test_bedrock_agent.py
Labels: documentation, size/L, tests, parser

#3254 feat(event_handler): add ability to expose a Swagger UI
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/constants.py
  aws_lambda_powertools/event_handler/openapi/models.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/__init__.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui-bundle.min.js
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui.min.css
  aws_lambda_powertools/event_handler/vpc_lattice.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_base_path.py
  tests/functional/event_handler/test_openapi_params.py
  tests/functional/event_handler/test_openapi_swagger.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
  tests/functional/test_utilities_parameters.py
Labels: dependencies, size/XL, tests, event_handlers, commons

#3302 fix(event_handler): Router prefix mismatch regression after Middleware feat
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_api_middlewares.py
Labels: size/M, tests, event_handlers

#3312 fix(event-handler): enable path parameters on Bedrock handler
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/event_handler/openapi/constants.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  tests/events/bedrockAgentEventWithPathParams.json
  tests/functional/event_handler/test_bedrock_agent.py
  tests/functional/event_handler/test_openapi_params.py
Labels: size/L, tests, event_handlers

#3348 feat(logger): Adding support to new env variables
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/shared/constants.py
  benchmark/template.yaml
  docs/core/logger.md
  docs/index.md
  docs/tutorial/index.md
  examples/batch_processing/sam/dynamodb_batch_processing.yaml
  examples/batch_processing/sam/kinesis_batch_processing.yaml
  examples/batch_processing/sam/sqs_batch_processing.yaml
  examples/event_handler_graphql/sam/template.yaml
  examples/event_handler_lambda_function_url/sam/template.yaml
  examples/event_handler_rest/sam/micro_function_template.yaml
  examples/event_handler_rest/sam/template.yaml
  examples/logger/sam/template.yaml
  examples/logger/src/setting_log_level_programmatically.py
  examples/logger/src/setting_log_level_via_constructor.py
  examples/middleware_factory/sam/combining_powertools_utilities_template.yaml
  tests/functional/test_logger.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/template.yaml
Labels: documentation, size/L, tests, logger, commons

#3352 docs(logger): Fix ALC link
  docs/core/logger.md
Labels: documentation, size/XS

#3359 docs(logger): improve ALC messaging in the PT context
  docs/core/logger.md
Labels: documentation, size/M

#3360 chore(ci): lint and type checking removal in Pydantic v2 quality check
  .github/workflows/quality_check_pydanticv2.yml
  Makefile
Labels: internal, size/S, github-actions, commons

#3382 fix(logger): allow custom JMESPath functions to extract correlation ID
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  tests/functional/test_logger.py
Labels: documentation, size/S, tests, logger

#3383 docs(event_handlers): note that CORS and */* binary mime type don't work in API Gateway
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/sam/micro_function_template.yaml
  examples/event_handler_rest/sam/template.yaml
Labels: documentation, size/M, event_handlers

#3394 fix(event_handler): allow fine grained Response with data validation
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/params.py
  tests/functional/event_handler/test_openapi_params.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
Labels: size/M, tests, event_handlers

#3396 feat(event_handler): allow customers to catch request validation errors
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
Labels: size/L, tests, event_handlers

#3397 fix(event_handler): lazy load Pydantic to improve cold start
  aws_lambda_powertools/event_handler/openapi/compat.py
  aws_lambda_powertools/event_handler/openapi/models.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/event_handler/openapi/pydantic_loader.py
  aws_lambda_powertools/event_handler/openapi/types.py
  tests/functional/event_handler/test_bedrock_agent.py
Labels: bug, size/S, tests, event_handlers

#3399 fix(event_handler): fix format for OpenAPI path templating
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  tests/functional/event_handler/test_openapi_params.py
Labels: size/S, tests, event_handlers

#3406 fix(event_handler): hide error details by default
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_bedrock_agent.py
Labels: bug, size/S, tests, event_handlers

#3386 docs(event_handlers): new data validation and OpenAPI feature
  aws_lambda_powertools/event_handler/openapi/params.py
  docs/core/event_handler/api_gateway.md
  docs/media/swagger.png
  examples/event_handler_lambda_function_url/sam/template.yaml
  examples/event_handler_rest/sam/template.yaml
  examples/event_handler_rest/src/customizing_api_metadata.py
  examples/event_handler_rest/src/customizing_api_operations.py
  examples/event_handler_rest/src/customizing_swagger.py
  examples/event_handler_rest/src/customizing_swagger_middlewares.py
  examples/event_handler_rest/src/data_validation.json
  examples/event_handler_rest/src/data_validation.py
  examples/event_handler_rest/src/data_validation_error.json
  examples/event_handler_rest/src/data_validation_error_unsanitized_output.json
  examples/event_handler_rest/src/data_validation_output.json
  examples/event_handler_rest/src/data_validation_sanitized_error.py
  examples/event_handler_rest/src/data_validation_sanitized_error_output.json
  examples/event_handler_rest/src/enabling_swagger.py
  examples/event_handler_rest/src/skip_validating_query_strings.py
  examples/event_handler_rest/src/validating_path.py
  examples/event_handler_rest/src/validating_payload_subset.json
  examples/event_handler_rest/src/validating_payload_subset.py
  examples/event_handler_rest/src/validating_payload_subset_output.json
  examples/event_handler_rest/src/validating_payloads.json
  examples/event_handler_rest/src/validating_payloads.py
  examples/event_handler_rest/src/validating_payloads_output.json
  examples/event_handler_rest/src/validating_query_strings.py
Labels: documentation, size/XXL, event_handlers

#3420 fix(event_handler): fix compress handling
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: size/S, event_handlers

#3424 chore(layers): Update log retention to 10 years
  layer/layer/canary_stack.py
Labels: size/XS
