Repository aws-powertools/powertools-lambda-python, pull requests merged in 2023-07, with the labels that each got.

#2629 fix(docs): ensure version alias is in an array to prevent "you're not viewing the latest version" incorrect message
  .github/workflows/reusable_publish_docs.yml
Labels: bug, size/XS, github-actions

#2639 chore(ci): prevent merging PRs that do not meet minimum requirements
  .github/workflows/on_pr_updates.yml
Labels: internal, size/M, github-actions

#2642 chore(ci): propagate checkout permission to nested workflows
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/on_pr_updates.yml
Labels: size/XS, github-actions

#2644 fix(docs): ensure alias is applied to versioned releases
  .github/workflows/reusable_publish_docs.yml
Labels: bug, size/XS, github-actions

#2662 chore(ci): use deps sha for docs and gitpod images based on ossf findings
  .gitpod.Dockerfile
  docs/Dockerfile
  docs/requirements.in
  docs/requirements.txt
Labels: documentation, internal, size/L

#2646 chore(ci): use sast on every commit on any supported language
  .github/workflows/codeql-analysis.yml
Labels: internal, size/S, github-actions

#2665 chore(deps): migrate from retry to retry2 to address CVE-2022-42969
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/XS

#2692 docs(maintainers): add cicd pipeline diagram
  .github/workflows/dispatch_analytics.yml
  .github/workflows/ossf_scorecard.yml
  MAINTAINERS.md
Labels: documentation, internal, size/L, github-actions

#2694 chore(ci): address ossf scorecard findings on npm, pip, and top-level permission leftover
  .github/workflows/publish_v2_layer.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
  package-lock.json
  package.json
Labels: internal, size/S, github-actions

#2614 chore(user-agent): support patching botocore session
  aws_lambda_powertools/shared/user_agent.py
Labels: internal, size/M, commons

#2714 docs(batch): fix custom batch processor example
  docs/utilities/batch.md
  examples/batch_processing/src/custom_partial_processor.py
Labels: documentation, size/S

#2715 chore(governance): update active maintainers list
  MAINTAINERS.md
Labels: internal, size/XS

#2730 feat(parser): add support to Pydantic v2 - INITIAL DRAFT
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
Labels: feature, size/XS

#2736 fix(logger): ensure logs stream to stdout by default, not stderr
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Labels: bug, size/S, tests, logger

#2748 feat(metrics): support to set default dimension in EphemeralMetrics
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/shared/user_agent.py
  docs/core/metrics.md
  tests/functional/test_metrics.py
Labels: documentation, feature, size/M, tests, metrics, commons

#2746 chore(ci): introduce provenance and attestation in release
  .github/actions/seal-restore/action.yml
  .github/actions/seal/action.yml
  .github/actions/upload-release-provenance/action.yml
  .github/actions/verify-provenance/verify_provenance.sh
  .github/workflows/publish_v2_layer.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/secure_workflows.yml
  MAINTAINERS.md
  SECURITY.md
  docs/media/continuous_deployment_practices.png
  docs/media/continuous_integration_practices.png
  docs/security.md
  mkdocs.yml
Labels: documentation, internal, size/XL, github-actions

#2752 chore(streaming): replace deprecated Version classes from distutils
  aws_lambda_powertools/utilities/streaming/compat.py
Labels: internal, size/XS, streaming

#2764 docs(process): explain our integration automated checks; revamp navigation
  MAINTAINERS.md
  docs/automation.md
  docs/diagram_src/cicd_steps.md
  docs/index.md
  docs/maintainers.md
  docs/security.md
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: documentation, internal, size/XXL

#2784 chore(security): improve debugging for provenance script
  .github/actions/verify-provenance/verify_provenance.sh
Labels: internal, size/M

#2796 fix(docs): remove redundant code
  docs/tutorial/index.md
Labels: bug, documentation, size/S

#2801 docs(customer-reference): add Jit Security as a customer reference
  README.md
  docs/index.md
Labels: documentation, size/XS

#2733 feat(parser): add support for Pydantic v2
  .github/workflows/quality_check_pydanticv2.yml
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/parser/compat.py
  aws_lambda_powertools/utilities/parser/envelopes/base.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/apigw.py
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
  aws_lambda_powertools/utilities/parser/models/kafka.py
  aws_lambda_powertools/utilities/parser/models/kinesis_firehose.py
  aws_lambda_powertools/utilities/parser/models/kinesis_firehose_sqs.py
  aws_lambda_powertools/utilities/parser/models/s3.py
  aws_lambda_powertools/utilities/parser/models/s3_object_event.py
  aws_lambda_powertools/utilities/parser/models/ses.py
  aws_lambda_powertools/utilities/parser/models/sns.py
  aws_lambda_powertools/utilities/parser/models/sqs.py
  aws_lambda_powertools/utilities/parser/parser.py
  docs/utilities/parser.md
  pyproject.toml
  ruff.toml
  tests/functional/batch/sample_models.py
  tests/functional/parser/conftest.py
  tests/functional/parser/test_parser.py
  tests/functional/test_utilities_batch.py
  tests/unit/parser/schemas.py
  tests/unit/parser/test_apigw.py
  tests/unit/parser/test_cloudwatch.py
Labels: documentation, dependencies, feature, need-customer-feedback, size/L, tests, github-actions, commons

#2832 chore(ci): build changelog on a schedule only
  .github/workflows/build_changelog.yml
Labels: internal, size/XS, github-actions

#2828 docs(community): new batch processing article
  docs/we_made_this.md
Labels: documentation, size/XS

#2833 docs(parameters): improve readability on error handling get_parameter…
  aws_lambda_powertools/utilities/parameters/ssm.py
  docs/utilities/parameters.md
  examples/parameters/src/getting_started_recursive_ssm_parameter.py
Labels: documentation, size/M

#2834 chore(ci): add baking time for layer build
  .github/workflows/publish_v2_layer.yml
Labels: internal, size/S, github-actions

#2842 docs(navigation): add nofollow attribute
  docs/automation.md
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  docs/index.md
  docs/maintainers.md
  docs/roadmap.md
  docs/security.md
  docs/tutorial/index.md
  docs/upgrade.md
  docs/utilities/batch.md
  docs/utilities/data_classes.md
  docs/utilities/feature_flags.md
  docs/utilities/idempotency.md
  docs/utilities/jmespath_functions.md
  docs/utilities/middleware_factory.md
  docs/utilities/parameters.md
  docs/utilities/parser.md
  docs/utilities/streaming.md
  docs/utilities/typing.md
  docs/utilities/validation.md
  docs/we_made_this.md
Labels: documentation, internal, size/XL

#2852 fix(logger): strip xray_trace_id when explicitly disabled
  aws_lambda_powertools/logging/formatter.py
  tests/functional/test_logger_powertools_formatter.py
Labels: bug, size/S, tests, logger

#2860 docs(tutorial): add support for Python 3.11
  docs/tutorial/index.md
Labels: documentation, size/XS

#2867 docs(navigation): remove nofollow attribute for internal links
  docs/automation.md
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  docs/index.md
  docs/maintainers.md
  docs/roadmap.md
  docs/security.md
  docs/tutorial/index.md
  docs/upgrade.md
  docs/utilities/batch.md
  docs/utilities/data_classes.md
  docs/utilities/feature_flags.md
  docs/utilities/idempotency.md
  docs/utilities/jmespath_functions.md
  docs/utilities/middleware_factory.md
  docs/utilities/parameters.md
  docs/utilities/parser.md
  docs/utilities/streaming.md
  docs/utilities/typing.md
  docs/utilities/validation.md
Labels: documentation, internal, size/XL

#2868 docs(batch): explain record type discrepancy in failure and success handler
  docs/utilities/batch.md
  examples/batch_processing/src/extending_processor_handlers.py
Labels: documentation, size/S, batch
