Repository aws-powertools/powertools-lambda-python, pull requests merged in 2023-08, with the labels that each got.

#2896 chore(ci): group dependabot updates
  .github/dependabot.yml
Labels: internal, size/M, github-actions

#2910 fix(metrics): proxy service and namespace attrs to provider
  aws_lambda_powertools/metrics/metrics.py
  tests/functional/test_metrics.py
Labels: bug, size/M, tests, metrics

#2912 refactor(e2e): support fail fast in get_lambda_response
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/utils/data_builder/traces.py
  tests/e2e/utils/data_fetcher/common.py
  tests/e2e/utils/functions.py
Labels: bug, size/L, tests, enhancement

#2913 chore(ci): enable protected branch auditing
  .github/workflows/ossf_scorecard.yml
Labels: internal, size/XS, github-actions

#2915 docs(roadmap): update roadmap themes
  docs/index.md
  docs/maintainers.md
  docs/roadmap.md
  docs/tutorial/index.md
  docs/upgrade.md
  docs/utilities/idempotency.md
  docs/utilities/middleware_factory.md
  docs/we_made_this.md
  mkdocs.yml
Labels: documentation, internal, size/L

#2920 chore(docs): disable line length rule using older syntax
  docs/maintainers.md
  docs/utilities/validation.md
Labels: documentation, internal, size/S

#2924 chore(maintenance): enables publishing docs and changelog, running e2e tests only in the main repository
  .github/workflows/reusable_publish_changelog.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
Labels: internal, size/XS, github-actions

#2934 refactor(metrics): move from protocol to ABC; split provider tests
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/functions.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/provider/__init__.py
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/types.py
  aws_lambda_powertools/metrics/provider/cold_start.py
  tests/functional/metrics/conftest.py
  tests/functional/metrics/test_metrics_cloudwatch_emf.py
  tests/functional/metrics/test_metrics_provider.py
Labels: size/XL, tests, enhancement, metrics

#2925 chore(docs): include the environment variables section in the utilities documentation
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  docs/utilities/middleware_factory.md
  docs/utilities/parameters.md
Labels: documentation, internal, size/M

#2954 docs(metrics): update Datadog integration diagram
  docs/core/metrics/datadog.md
Labels: documentation, internal, size/XS

#2960 docs(roadmap): add GovCloud and China region item
  docs/roadmap.md
Labels: documentation, size/S

#2961 fix(parser): API Gateway V2 request context scope field should be optional
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  tests/unit/parser/test_apigwv2.py
Labels: bug, size/XS, tests

#2982 fix(event_handler): make invalid chars a raw str to fix invalid escape sequence
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/unit/data_classes/test_api_gateway_authorizer.py
Labels: bug, size/XS, tests, event_handlers

#2997 fix(metrics): preserve default_tags when metric-specific tag is set in Datadog provider
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  poetry.lock
  pyproject.toml
  tests/functional/metrics/test_metrics_datadog.py
Labels: bug, dependencies, size/M, tests, metrics

#3005 fix(ci): change SAR assume role options
  .github/workflows/reusable_deploy_v2_sar.yml
Labels: bug, size/XS, github-actions

#3010 fix(ci): revert aws credentials action
  .github/workflows/dispatch_analytics.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
Labels: size/S, github-actions

#3023 refactor(batch): type response() method
  aws_lambda_powertools/utilities/batch/base.py
Labels: size/S, enhancement

#3026 fix(event_handler): expanding safe URI characters to include +$&
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: bug, size/XS
