Repository aws-powertools/powertools-lambda-python, pull requests merged in 2023-10, with the labels that each got.

#3153 feat(event_handler): add support to VPC Lattice payload v2
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/vpc_lattice.py
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/vpc_latticev2.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/vpc_latticev2.py
  docs/core/event_handler/api_gateway.md
  docs/utilities/data_classes.md
  docs/utilities/parser.md
  examples/event_handler_rest/src/getting_started_vpclatticev2_resolver.json
  examples/event_handler_rest/src/getting_started_vpclatticev2_resolver.py
  examples/event_sources/src/vpc_lattice_v2.py
  examples/event_sources/src/vpc_lattice_v2_payload.json
  tests/events/vpcLatticeEventV2PathTrailingSlash.json
  tests/events/vpcLatticeV2Event.json
  tests/functional/event_handler/test_vpc_latticev2.py
  tests/unit/data_classes/test_vpc_lattice_eventv2.py
  tests/unit/parser/test_vpc_latticev2.py
Labels: documentation, size/XL, tests, event_handlers, event_sources, parser

#3133 docs(contributing): initial structure for revamped contributing guide
  Makefile
  docs/contributing/conventions.md
  docs/contributing/documentation/rfcs.md
  docs/contributing/getting_started.md
  docs/contributing/setup.md
  docs/roadmap.md
  mkdocs.yml
Labels: documentation, internal, size/L

#3147 feat(logger): new stack_trace field with rich exception details
  .gitignore
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/logging/types.py
  docs/contributing/documentation/rfcs.md
  docs/core/logger.md
  examples/logger/src/logging_stacktrace.py
  examples/logger/src/logging_stacktrace_output.json
  tests/functional/test_logger.py
  tests/functional/test_logger_powertools_formatter.py
Labels: documentation, internal, size/L, tests, logger, commons

#3183 docs(event_handler): add information about case-insensitive header lookup function
  aws_lambda_powertools/utilities/data_classes/common.py
  docs/core/event_handler/api_gateway.md
Labels: documentation, size/XS

#3181 feat(parser): infer model from type hint
  aws_lambda_powertools/utilities/parser/parser.py
  docs/utilities/parser.md
  examples/parser/src/using_the_model_from_event.py
  tests/functional/parser/test_parser.py
Labels: documentation, size/M, tests, parser

#3168 fix(logger): force Logger to use local timezone when UTC flag is not set
  aws_lambda_powertools/logging/formatter.py
  docs/core/logger.md
  examples/logger/src/append_keys_extra_output.json
  examples/logger/src/append_keys_kwargs_output.json
  examples/logger/src/append_keys_output.json
  examples/logger/src/bring_your_own_formatter_output.json
  examples/logger/src/clear_state_event_one.json
  examples/logger/src/clear_state_event_two.json
  examples/logger/src/date_formatting_output.json
  examples/logger/src/inject_lambda_context_output.json
  examples/logger/src/logger_reuse_output.json
  examples/logger/src/logging_exceptions_output.json
  examples/logger/src/logging_uncaught_exceptions_output.json
  examples/logger/src/overriding_log_records_output.json
  examples/logger/src/remove_keys_output.json
  examples/logger/src/reordering_log_keys_output.json
  examples/logger/src/sampling_debug_logs_output.json
  examples/logger/src/set_correlation_id_jmespath_output.json
  examples/logger/src/set_correlation_id_method_output.json
  examples/logger/src/set_correlation_id_output.json
  examples/logger/src/setting_utc_timestamp.py
  examples/logger/src/setting_utc_timestamp_output.json
  examples/logger/src/unserializable_values_output.json
  poetry.lock
  tests/e2e/logger/handlers/tz_handler.py
  tests/e2e/logger/test_logger.py
  tests/functional/test_logger_powertools_formatter.py
Labels: documentation, dependencies, size/L, tests, logger

#3202 refactor(data_masking): move Data Masking utility to a private folder
  aws_lambda_powertools/utilities/_data_masking/__init__.py
  aws_lambda_powertools/utilities/_data_masking/base.py
  aws_lambda_powertools/utilities/_data_masking/constants.py
  aws_lambda_powertools/utilities/_data_masking/provider/__init__.py
  aws_lambda_powertools/utilities/_data_masking/provider/base.py
  aws_lambda_powertools/utilities/_data_masking/provider/kms/__init__.py
  aws_lambda_powertools/utilities/_data_masking/provider/kms/aws_encryption_sdk.py
  aws_lambda_powertools/utilities/data_masking/__init__.py
  aws_lambda_powertools/utilities/data_masking/provider/__init__.py
  aws_lambda_powertools/utilities/data_masking/provider/kms/__init__.py
  tests/e2e/data_masking/handlers/basic_handler.py
  tests/e2e/data_masking/test_e2e_data_masking.py
  tests/functional/data_masking/test_aws_encryption_sdk.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1024/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_128/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1769/app.py
  tests/performance/data_masking/test_perf_data_masking.py
  tests/unit/data_masking/test_unit_data_masking.py
Labels: size/M, tests, data-masking

#3195 fix(parameter): improve AppConfig cached configuration retrieval
  aws_lambda_powertools/utilities/parameters/appconfig.py
Labels: bug, size/S, parameters

#3204 refactor(data-masking): disable e2e tests.
  tests/e2e/data_masking/test_e2e_data_masking.py
Labels: size/XS, tests

#3210 docs(customer-reference): add Vertex Pharmaceuticals as a customer reference
  README.md
  docs/index.md
Labels: documentation, size/XS

#3109 feat(event_handler): generate OpenAPI specifications and validate input/output
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/__init__.py
  aws_lambda_powertools/event_handler/openapi/compat.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  aws_lambda_powertools/event_handler/openapi/encoders.py
  aws_lambda_powertools/event_handler/openapi/exceptions.py
  aws_lambda_powertools/event_handler/openapi/models.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/event_handler/openapi/types.py
  aws_lambda_powertools/event_handler/vpc_lattice.py
  aws_lambda_powertools/shared/types.py
  codecov.yml
  pyproject.toml
  ruff.toml
  tests/functional/event_handler/test_openapi_encoders.py
  tests/functional/event_handler/test_openapi_params.py
  tests/functional/event_handler/test_openapi_responses.py
  tests/functional/event_handler/test_openapi_serialization.py
  tests/functional/event_handler/test_openapi_servers.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
Labels: dependencies, internal, size/XXL, tests, github-actions, event_handlers, commons

#3247 docs(event-handler): fixed SchemaValidationMiddleware link
  docs/core/event_handler/api_gateway.md
Labels: documentation, size/XS, event_handlers

#3241 fix(parameters): Respect POWERTOOLS_PARAMETERS_SSM_DECRYPT environment variable when getting multiple ssm parameters.
  aws_lambda_powertools/utilities/parameters/ssm.py
  tests/functional/test_utilities_parameters.py
Labels: size/M, tests, parameters

#3275 fix(event_source): kinesis subsequenceNumber str type to int
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  aws_lambda_powertools/utilities/parser/models/kinesis_firehose.py
  tests/events/kinesisFirehoseKinesisEvent.json
  tests/unit/parser/test_kinesis_firehose.py
Labels: size/S, tests
