Repository aws-powertools/powertools-lambda-python, pull requests merged in 2023-03, with the labels that each got.

#1964 docs(appsync): add mutation example and infrastructure fix
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/sam/samconfig.toml
  examples/event_handler_graphql/sam/template.yaml
  examples/event_handler_graphql/src/getting_started_create_todo.json
  examples/event_handler_graphql/src/getting_started_graphql_api_resolver.py
  examples/event_handler_graphql/src/getting_started_schema.graphql
  examples/event_handler_graphql/src/requirements.txt
Labels: documentation, size/L

#1971 chore(parser): add workaround to make API GW test button work
  aws_lambda_powertools/utilities/parser/models/apigw.py
Labels: internal, size/XS, parser

#1970 fix(idempotency): revert dict mutation that impacted static_pk_value feature
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
Labels: bug, size/M, tests, idempotency

#1978 docs(homepage): revamp install UX & share how we build Lambda Layer
  docs/index.md
Labels: documentation, size/M

#2004 fix(typing): swap NoReturn with None for methods with no return value
  aws_lambda_powertools/tracing/base.py
Labels: bug, size/S, tracer

#1982 feat(parser): support for S3 Event Notifications via EventBridge
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/event_bridge.py
  aws_lambda_powertools/utilities/parser/models/s3.py
  aws_lambda_powertools/utilities/parser/types.py
  docs/utilities/parser.md
  tests/events/s3EventBridgeNotificationObjectCreatedEvent.json
  tests/events/s3EventBridgeNotificationObjectDeletedEvent.json
  tests/events/s3EventBridgeNotificationObjectExpiredEvent.json
  tests/events/s3EventBridgeNotificationObjectRestoreCompletedEvent.json
  tests/unit/parser/__init__.py
  tests/unit/parser/test_s3.py
Labels: documentation, feature, size/L, tests

#2013 fix(build): auto-generate setup.py for legacy build tools
  pyproject.toml
Labels: bug, dependencies, size/XS

#2017 docs(metrics): fix high-resolution metrics announcement link
  docs/core/metrics.md
Labels: documentation, size/XS

#1999 feat(event_sources): support for custom properties in ActiveMQEvent
  aws_lambda_powertools/utilities/data_classes/active_mq_event.py
  tests/events/activeMQEvent.json
  tests/functional/data_classes/test_amazon_mq.py
Labels: feature, size/S, tests

#2046 docs(logger): warn append_keys on not being thread-safe
  docs/core/logger.md
Labels: documentation, size/XS

#2052 fix(feature_flags): handle expected falsy values in conditions
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  tests/functional/feature_flags/test_schema_validation.py
Labels: bug, size/M, tests

#2074 docs(idempotency): new sequence diagrams, fix idempotency record vs DynamoDB TTL confusion
  docs/utilities/idempotency.md
Labels: documentation, size/L
