Repository aws-powertools/powertools-lambda-python, pull requests merged in 2023-06, with the labels that each got.

#2267 feat(user-agent): add custom header User-Agent to AWS SDK requests
  aws_lambda_powertools/__init__.py
  aws_lambda_powertools/shared/user_agent.py
  aws_lambda_powertools/shared/version.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/streaming/_s3_seekable_io.py
  mypy.ini
  pyproject.toml
Labels: dependencies, feature, size/L, typing, commons, streaming

#2334 refactor(logger): remove subclassing and move unnecessary APIs
  aws_lambda_powertools/logging/compat.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/logging/utils.py
Labels: size/L, logger, enhancement, tech-debt

#2366 fix(shared): skip user agent on much older botocore versions
  aws_lambda_powertools/shared/user_agent.py
Labels: bug, size/XS, commons

#2386 fix(shared): move to static version bumping to prevent issues with customers custom builds
  .github/workflows/release.yml
  Makefile
  aws_lambda_powertools/shared/version.py
  poetry.lock
  pyproject.toml
Labels: bug, dependencies, internal, size/M, github-actions, commons

#2388 chore(typing): add setLevel and addHandler to Logger for mypy/pyright
  aws_lambda_powertools/logging/logger.py
Labels: internal, size/S, logger

#2395 chore(ci): document all github action workflows and enforce least-privilege
  .github/workflows/build_changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dispatch_analytics.yml
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_closed_issues.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/on_push_docs.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/quality_check.yml
  .github/workflows/rebuild_latest_docs.yml
  .github/workflows/record_pr.yml
  .github/workflows/release-drafter.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_export_pr_details.yml
  .github/workflows/reusable_publish_changelog.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/secure_workflows.yml
  README.md
Labels: internal, size/L, github-actions

#2396 chore(ci): fix PR labeling permission scope
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_merged_pr.yml
Labels: size/XS, github-actions

#2358 feat(event_sources): add support for VPC Lattice events
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
  docs/utilities/data_classes.md
  examples/event_sources/src/vpc_lattice.py
  examples/event_sources/src/vpc_lattice_payload.json
  tests/events/vpcLatticeEvent.json
  tests/functional/test_data_classes.py
Labels: documentation, feature, size/L, tests

#2425 docs(we-made-this): new article about idempotency design
  docs/we_made_this.md
Labels: documentation, size/XS

#2335 feat(parser): support for CloudFormation Custom Resources
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/cloudformation_custom_resource.py
  docs/utilities/parser.md
  tests/events/cloudformationCustomResourceCreate.json
  tests/events/cloudformationCustomResourceDelete.json
  tests/events/cloudformationCustomResourceUpdate.json
  tests/unit/parser/test_cloudformation_custom_resource.py
Labels: documentation, feature, size/L, tests

#2419 feat(logger): type log record in LambdaPowertoolsFormatter with TypedDict
  .pre-commit-config.yaml
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/formatters/datadog.py
  aws_lambda_powertools/logging/types.py
  docs/core/logger.md
  examples/logger/src/bring_your_own_formatter.py
Labels: documentation, feature, internal, size/M, logger

#2458 fix(event_handler): prioritize static over dynamic route to prevent order of route registration mismatch
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: bug, size/M, tests, event_handlers

#2434 docs(idempotency): add cdk table example
  docs/utilities/idempotency.md
  examples/idempotency/cdk.py
  examples/idempotency/sam.yaml
Labels: documentation, size/L, idempotency

#2175 feat(event_sources): add AWS Config Rule event data class
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/aws_config_rule_event.py
  docs/utilities/data_classes.md
  examples/event_sources/src/aws_config_rule.py
  examples/event_sources/src/aws_config_rule_item_changed.json
  examples/event_sources/src/aws_config_rule_oversized.json
  examples/event_sources/src/aws_config_rule_scheduled.json
  tests/events/awsConfigRuleConfigurationChanged.json
  tests/events/awsConfigRuleOversizedConfiguration.json
  tests/events/awsConfigRuleScheduled.json
  tests/functional/test_data_classes.py
Labels: documentation, feature, size/XL, tests, event_sources

#2468 docs(event_sources): fix DynamoDB stream event docstring
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
Labels: documentation, size/XS, event_sources

#2477 fix(idempotency): treat missing idempotency key as non-idempotent transaction (no-op) when raise_on_no_idempotency_key is False
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  docs/utilities/idempotency.md
  tests/e2e/idempotency/handlers/optional_idempotency_key_handler.py
  tests/e2e/idempotency/infrastructure.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/functional/idempotency/test_idempotency.py
Labels: bug, documentation, size/L, tests

#2480 docs(idempotency): new sequence flow when idempotency key is optional
  docs/utilities/idempotency.md
Labels: documentation, size/M

#2331 feat(feature_flags): add modulo range condition for segmented experimentation support
  aws_lambda_powertools/utilities/feature_flags/comparators.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  docs/utilities/feature_flags.md
  examples/feature_flags/src/modulo_range_feature.py
  examples/feature_flags/src/modulo_range_feature_event.json
  examples/feature_flags/src/modulo_range_features.json
  examples/feature_flags/src/modulo_range_multiple_feature.py
  examples/feature_flags/src/modulo_range_multiple_features.json
  tests/functional/feature_flags/test_feature_flags.py
  tests/functional/feature_flags/test_schema_validation.py
  tests/functional/feature_flags/test_time_based_actions.py
Labels: documentation, feature, size/XL, tests, feature_flags

#2501 chore(ci): remove GH pages action
  .github/workflows/reusable_publish_docs.yml
Labels: internal

#2496 fix(event_source): centralizing helper functions for query, header and base64
  aws_lambda_powertools/utilities/data_classes/active_mq_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/aws_config_rule_event.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_logs_event.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/data_classes/rabbit_mq_event.py
  aws_lambda_powertools/utilities/data_classes/s3_object_event.py
  aws_lambda_powertools/utilities/data_classes/shared_functions.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Labels: bug, feature

#2510 chore(ci): updates runner names in workflows
  .github/actionlint.yaml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/run-e2e-tests.yml
Labels: internal

#2512 chore(ci): introduces OSSF Scorecard
  .github/workflows/ossf_scorecard.yml
Labels: internal, size/M, github-actions

#2516 chore(ci): fix codeowners team name
  .github/CODEOWNERS
Labels: internal, size/XS

#2517 docs(navigation): make Key Feature the first section
  docs/utilities/batch.md
  docs/utilities/data_classes.md
  docs/utilities/feature_flags.md
  docs/utilities/idempotency.md
  docs/utilities/streaming.md
Labels: documentation, size/M

#2519 chore(ci): fix changelog build permissions
  .github/workflows/build_changelog.yml
Labels: internal, size/XS, github-actions

#2545 docs(homepage): add Open Source Security Foundation badge; update links to new url
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/ISSUE_TEMPLATE/tech_debt.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  MAINTAINERS.md
  README.md
  aws_lambda_powertools/utilities/batch/decorators.py
  docs/index.md
  docs/upgrade.md
  examples/event_handler_graphql/sam/template.yaml
  examples/feature_flags/src/getting_all_enabled_features.py
  examples/logger/sam/template.yaml
  examples/logger/src/powertools_formatter_setup.py
  examples/metrics/sam/template.yaml
  examples/middleware_factory/src/combining_powertools_utilities_function.py
  examples/tracer/sam/template.yaml
  examples/validation/src/getting_started_validator_decorator_function.py
  examples/validation/src/getting_started_validator_standalone_function.py
  examples/validation/src/unwrapping_popular_event_source_function.py
  pyproject.toml
Labels: documentation, dependencies, internal, size/L, github-templates

#2505 fix(docs): ensure versions.json is updated
  .github/workflows/reusable_publish_docs.yml
Labels: bug, size/S, github-actions

#2549 docs(homepage): fix .NET repository link
  README.md
Labels: documentation, internal, size/XS

#2544 feat(event_handler): support to enable or disable compression in custom responses
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/utilities/data_classes/common.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/compressing_responses_using_response.py
  examples/event_handler_rest/src/compressing_responses_using_route.py
  tests/functional/event_handler/test_api_gateway.py
Labels: documentation, feature, size/L, tests, event_handlers

#2560 chore(analytics): update docs base origin url
  docs/javascript/extra.js
Labels: documentation, internal, size/XS

#2506 refactor(event_source): convert functional tests to unit tests
  aws_lambda_powertools/utilities/data_classes/active_mq_event.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  tests/functional/data_classes/test_amazon_mq.py
  tests/functional/data_classes/test_lambda_function_url.py
  tests/functional/test_data_classes.py
  tests/unit/data_classes/test_active_mq_event.py
  tests/unit/data_classes/test_alb_event.py
  tests/unit/data_classes/test_api_gateway_authorizer.py
  tests/unit/data_classes/test_api_gateway_authorizer_event.py
  tests/unit/data_classes/test_api_gateway_proxy_event.py
  tests/unit/data_classes/test_appsync_authorizer_event.py
  tests/unit/data_classes/test_appsync_resolver_event.py
  tests/unit/data_classes/test_aws_config_rule_event.py
  tests/unit/data_classes/test_cloud_watch_custom_widget_event.py
  tests/unit/data_classes/test_cloud_watch_logs_event.py
  tests/unit/data_classes/test_code_pipeline_job_event.py
  tests/unit/data_classes/test_cognito_user_pool_event.py
  tests/unit/data_classes/test_connect_contact_flow_event.py
  tests/unit/data_classes/test_dynamo_db_stream_event.py
  tests/unit/data_classes/test_event_bridge_event.py
  tests/unit/data_classes/test_kafka_event.py
  tests/unit/data_classes/test_kinesis_firehose_event.py
  tests/unit/data_classes/test_kinesis_stream_event.py
  tests/unit/data_classes/test_lambda_function_url.py
  tests/unit/data_classes/test_rabbit_mq_event.py
  tests/unit/data_classes/test_s3_event.py
  tests/unit/data_classes/test_s3_eventbridge_notification.py
  tests/unit/data_classes/test_s3_object_event.py
  tests/unit/data_classes/test_ses_event.py
  tests/unit/data_classes/test_sns_event.py
  tests/unit/data_classes/test_sqs_event.py
  tests/unit/data_classes/test_vpc_lattice_event.py
  tests/unit/test_data_classes.py
Labels: documentation, dependencies, size/XXL, tests, github-actions, event_handlers, enhancement, commons

#2492 docs(idempotency): split snippets, improve wording and lint examples
  .pre-commit-config.yaml
  docs/utilities/idempotency.md
  examples/idempotency/src/bring_your_own_persistent_store.py
  examples/idempotency/src/customize_persistence_layer.py
  examples/idempotency/src/getting_started_with_idempotency.py
  examples/idempotency/src/getting_started_with_idempotency_payload.json
  examples/idempotency/src/integrate_idempotency_with_batch_processor.py
  examples/idempotency/src/integrate_idempotency_with_batch_processor_payload.json
  examples/idempotency/src/integrate_idempotency_with_validator.py
  examples/idempotency/src/integrate_idempotency_with_validator_payload.json
  examples/idempotency/src/working_with_composite_key.py
  examples/idempotency/src/working_with_composite_key_payload.json
  examples/idempotency/src/working_with_custom_config.py
  examples/idempotency/src/working_with_custom_config_payload.json
  examples/idempotency/src/working_with_custom_session.py
  examples/idempotency/src/working_with_exceptions.py
  examples/idempotency/src/working_with_idempotency_key_required.py
  examples/idempotency/src/working_with_idempotency_key_required_payload_error.json
  examples/idempotency/src/working_with_idempotency_key_required_payload_success.json
  examples/idempotency/src/working_with_idempotent_function_dataclass.py
  examples/idempotency/src/working_with_idempotent_function_pydantic.py
  examples/idempotency/src/working_with_lambda_timeout.py
  examples/idempotency/src/working_with_local_cache.py
  examples/idempotency/src/working_with_local_cache_payload.json
  examples/idempotency/src/working_with_payload_subset.py
  examples/idempotency/src/working_with_payload_subset_payload.json
  examples/idempotency/src/working_with_record_expiration.py
  examples/idempotency/src/working_with_record_expiration_payload.json
  examples/idempotency/src/working_with_validation_payload.py
  examples/idempotency/src/working_with_validation_payload_payload1.json
  examples/idempotency/src/working_with_validation_payload_payload2.json
  examples/idempotency/templates/cdk.py
  examples/idempotency/templates/sam.yaml
  examples/idempotency/templates/terraform.tf
  examples/idempotency/tests/app_test_disabling_idempotency_utility.py
  examples/idempotency/tests/app_test_dynamodb_local.py
  examples/idempotency/tests/app_test_io_operations.py
  examples/idempotency/tests/test_disabling_idempotency_utility.py
  examples/idempotency/tests/test_with_dynamodb_local.py
  examples/idempotency/tests/test_with_io_operations.py
Labels: documentation, internal, size/XXL

#2569 [I Made This]: idempotency with cdk and powertools
  docs/we_made_this.md
Labels: documentation, size/XS, community-content, revisit

#2576 fix(e2e): fix idempotency tests
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  tests/e2e/event_handler/infrastructure.py
  tests/functional/idempotency/test_idempotency.py
Labels: bug, size/M, tests

#2495 chore(ci): replace flake8 with Ruff as a linter
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  poetry.lock
  pyproject.toml
  ruff.toml
Labels: dependencies, internal, size/L

#2584 feat(parser): add support to VpcLatticeModel
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/vpc_lattice.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/vpc_lattice.py
  docs/utilities/parser.md
  tests/functional/parser/schemas.py
  tests/unit/parser/test_vpc_lattice.py
Labels: documentation, feature, size/L, tests, parser

#2587 chore(ci): enable Ruff rule E501 and fix errors
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  aws_lambda_powertools/utilities/validation/validator.py
  ruff.toml
Labels: internal, size/S, logger, metrics

#2591 chore(ci): enable Ruff rule ERA001 and fix errors
  aws_lambda_powertools/logging/compat.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/tracing/tracer.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/jmespath_utils/__init__.py
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
  aws_lambda_powertools/utilities/parser/models/sqs.py
  examples/idempotency/tests/test_with_dynamodb_local.py
  poetry.lock
  ruff.toml
  tests/functional/event_handler/test_api_gateway.py
Labels: dependencies, internal, size/M, tests, logger, metrics, jmespath, tracer

#2593 chore(ci): enable Ruff rules PLW, PLR, PLC and PLE and fix the errors
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/metrics/metrics.py
  examples/parameters/tests/test_clear_cache_global.py
  examples/parameters/tests/test_clear_cache_method.py
  examples/parameters/tests/test_single_mock.py
  examples/parameters/tests/test_with_fixture.py
  examples/parameters/tests/test_with_monkeypatch.py
  ruff.toml
  tests/e2e/event_handler/test_header_serializer.py
  tests/e2e/utils/data_fetcher/common.py
Labels: internal, size/M, tests, event_handlers, metrics

#2597 chore(ci): enable Ruff rules ISC, I001, B018 and fix the errors
  aws_lambda_powertools/utilities/batch/types.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/parser/models/sns.py
  examples/parameters/tests/test_clear_cache_global.py
  examples/parameters/tests/test_clear_cache_method.py
  examples/parameters/tests/test_with_fixture.py
  ruff.toml
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/utils.py
  tests/unit/data_classes/test_code_pipeline_job_event.py
  tests/unit/test_data_classes.py
Labels: internal, size/S, tests

#2601 feat(event_handler): add VPCLatticeResolver
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/vpc_lattice.py
  aws_lambda_powertools/logging/correlation_paths.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/getting_started_vpclattice_resolver.json
  examples/event_handler_rest/src/getting_started_vpclattice_resolver.py
  tests/events/vpcLatticeEventPathTrailingSlash.json
  tests/functional/event_handler/conftest.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_vpc_lattice.py
Labels: documentation, feature, size/L, tests, logger, event_handlers

#2349 feat(event_source): decode nested messages on SQS events
  aws_lambda_powertools/utilities/data_classes/sns_event.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/unit/data_classes/test_sqs_event.py
Labels: feature, size/L, tests, github-actions, github-templates, event_sources, revisit
