Repository aws-powertools/powertools-lambda-python, pull requests merged in 2023-04, with the labels that each got.

#2087 feat(idempotency): allow custom sdk clients in DynamoDBPersistenceLayer
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  tests/functional/idempotency/test_idempotency.py
  tests/unit/idempotency/__init__.py
  tests/unit/idempotency/test_dynamodb_persistence.py
Labels: feature, size/L, tests

#2073 docs(idempotency): fixes to testing your code section
  docs/utilities/idempotency.md
Labels: documentation, size/S

#2098 docs(homepage): remove banner for end-of-support v1
  docs/overrides/main.html
  docs/upgrade.md
Labels: documentation, size/XS

#2099 fix(batch): handle early validation errors for pydantic models (poison pill) #2091
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
  aws_lambda_powertools/utilities/parser/models/kinesis.py
  aws_lambda_powertools/utilities/parser/models/sqs.py
  aws_lambda_powertools/utilities/parser/types.py
  tests/functional/batch/__init__.py
  tests/functional/batch/sample_models.py
  tests/functional/test_utilities_batch.py
Labels: bug, size/L, tests

#2090 feat(batch): reduce boilerplate with process_partial_response
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/decorators.py
  aws_lambda_powertools/utilities/batch/types.py
  docs/utilities/batch.md
  examples/batch_processing/src/advanced_accessing_lambda_context.py
  examples/batch_processing/src/getting_started_async.py
  examples/batch_processing/src/getting_started_dynamodb.py
  examples/batch_processing/src/getting_started_kinesis.py
  examples/batch_processing/src/getting_started_sqs.py
  examples/batch_processing/src/getting_started_sqs_fifo.py
  examples/batch_processing/src/getting_started_sqs_fifo_context_manager.py
  examples/batch_processing/src/getting_started_sqs_fifo_decorator.py
  tests/functional/test_utilities_batch.py
Labels: documentation, feature, size/XL, tests

#2100 docs(batch): use newly supported Json model
  docs/utilities/batch.md
Labels: documentation, size/S

#2112 chore(maintenance): validate acknowledgement section is present
  .github/scripts/constants.js
  .github/scripts/label_missing_acknowledgement_section.js
  .github/workflows/on_opened_pr.yml
Labels: internal, size/M, github-actions

#2120 fix(ci): update layer version on logger, tracer and metrics docs
  layer/scripts/update_layer_arn.sh
Labels: bug, documentation, size/XS

#2121 chore(ci): bump the cdk-aws-lambda-powertools-layer version
  layer/poetry.lock
  layer/pyproject.toml
Labels: dependencies, internal, size/XS

#2101 Fix #1852 - Add Capital One support for Lambda Powertools
  docs/media/logos/C1_Core_NG_RGB_R.svg
Labels: documentation, size/XS

#2088 feat(parameters): Configure max_age and decrypt parameters via environment variables
  aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  docs/index.md
  docs/utilities/parameters.md
  tests/functional/test_utilities_parameters.py
  tests/unit/test_shared_functions.py
Labels: documentation, feature, size/L, tests, commons

#2122 chore(ci): add support for x86-64 regions only
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  layer/app.py
  layer/layer/canary_stack.py
  layer/layer/layer_stack.py
  layer/poetry.lock
  layer/pyproject.toml
Labels: dependencies, internal, size/L, github-actions

#2137 feat(runtime): add support for python 3.10
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/static_typing.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/python_build.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
  layer/poetry.lock
  layer/pyproject.toml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tests/e2e/idempotency/handlers/function_thread_safety_handler.py
  tests/e2e/utils/infrastructure.py
Labels: dependencies, feature, size/M, tests, github-actions, github-templates

#2144 chore: add Python 3.10 PyPi language classifier
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/XS

#2146 feat(event_sources): add queue_url field in SQS EventSource DataClass
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/functional/test_data_classes.py
Labels: feature, size/S, tests

#2152 fix(e2e): fix test brittleness
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/streaming/handlers/s3_object_handler.py
Labels: bug, size/S, tests

#2155 chore(batch): safeguard custom use of BatchProcessingError exception
  aws_lambda_powertools/utilities/batch/exceptions.py
Labels: internal, size/XS

#2161 feat(ci): dispatch GitHub analytics action
  .github/workflows/dispatch_analytics.yml
  .github/workflows/reusable_dispatch_analytics.yml
Labels: feature, size/M, tests, github-actions

#2159 docs(homepage): add customer references section
  README.md
  docs/index.md
  docs/media/logos/cloudzero-logo.png
  docs/media/logos/cpqi.png
  docs/media/logos/cyberark-logo-dark.svg
  docs/media/logos/globaldatanet.png
  docs/media/logos/ims-logo.png
  docs/media/logos/propellor-ai.png
  docs/media/logos/topsport.svg
  docs/media/logos/trek10-logo.jpeg
Labels: documentation, internal, size/L

#2129 feat(event_sources): Add __str__ to Data Classes base DictWrapper
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  docs/utilities/data_classes.md
  examples/event_sources/src/debugging.py
  examples/event_sources/src/debugging_event.json
  examples/event_sources/src/debugging_output.json
  tests/functional/test_data_classes.py
Labels: documentation, feature, size/L, tests

#2167 docs(tutorial): use newer sam cli template; update to py3.10
  docs/index.md
  docs/tutorial/index.md
Labels: documentation, size/S

#2171 feat(metrics): add flush_metrics() method to allow manual flushing of metrics
  aws_lambda_powertools/metrics/base.py
  docs/core/metrics.md
  examples/metrics/src/flush_metrics.py
  tests/functional/test_metrics.py
Labels: documentation, feature, size/M, tests, metrics
