Repository aws-powertools/powertools-lambda-python, pull requests merged in 2024-06, with the labels that each got.

#4391 fix(idempotency): POWERTOOLS_IDEMPOTENCY_DISABLED should respect truthy values
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/warnings/__init__.py
  tests/functional/idempotency/test_idempotency.py
Labels: bug, size/L, tests, commons

#4421 fix(event_handler): security scheme unhashable list when working with router
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/exceptions.py
  aws_lambda_powertools/event_handler/util.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/conftest.py
  tests/functional/event_handler/test_openapi_security.py
Labels: bug, size/L, tests, event_handlers, openapi-schema

#4415 fix(event_handler): raise more specific SerializationError exception for unsupported types in data validation
  aws_lambda_powertools/event_handler/openapi/encoders.py
  aws_lambda_powertools/event_handler/openapi/exceptions.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/test_openapi_encoders.py
Labels: bug, documentation, size/L, tests, event_handlers, openapi-schema

#4491 docs(public reference): add Recast as a public reference
  README.md
  docs/index.md
Labels: documentation, size/XS

#4492 fix(event_handler): do not skip middleware and exception handlers on 404 error
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_middlewares.py
Labels: bug, size/L, tests, event_handlers

#4500 fix(event_handler): regression making pydantic required (it should not)
  aws_lambda_powertools/event_handler/util.py
Labels: bug, size/XS, event_handlers

#4515 fix(event_sources): change partition and offset field types in KafkaEventRecord
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
Labels: bug, size/XS

#4518 docs(i-made-this): add new article about best practices for accelerating serverless development
  docs/we_made_this.md
Labels: documentation, size/M

#4537 chore(ci): introduce tests with Nox
  .github/workflows/quality_check.yml
  CONTRIBUTING.md
  Makefile
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/functional/logger/test_logger.py
  tests/functional/logger/test_logger_powertools_formatter.py
  tests/functional/logger/test_logger_utils.py
  tests/functional/logger/test_logger_with_package_logger.py
Labels: dependencies, internal, size/L, tests, github-actions

#4508 feat(validation): support JSON Schema referencing in validation utils
  Makefile
  aws_lambda_powertools/utilities/validation/base.py
  aws_lambda_powertools/utilities/validation/exceptions.py
  aws_lambda_powertools/utilities/validation/validator.py
  docs/utilities/validation.md
  examples/validation/src/custom_handlers.py
  examples/validation/src/custom_handlers_payload.json
  examples/validation/src/custom_handlers_schema.py
  tests/functional/validator/conftest.py
  tests/functional/validator/test_validator.py
Labels: feature, size/L, tests, commons

#4552 chore(ci): add the Metrics feature to nox tests
  noxfile.py
  tests/functional/logger/__init__.py
  tests/functional/logger/required_dependencies/__init__.py
  tests/functional/logger/required_dependencies/test_logger.py
  tests/functional/logger/required_dependencies/test_logger_powertools_formatter.py
  tests/functional/logger/required_dependencies/test_logger_utils.py
  tests/functional/logger/required_dependencies/test_logger_with_package_logger.py
  tests/functional/metrics/__init__.py
  tests/functional/metrics/datadog/__init__.py
  tests/functional/metrics/datadog/test_metrics_datadog.py
  tests/functional/metrics/required_dependencies/__init__.py
  tests/functional/metrics/required_dependencies/test_metrics_cloudwatch_emf.py
  tests/functional/metrics/required_dependencies/test_metrics_provider.py
Labels: internal, size/S, tests

#4567 chore(ci): add the Tracer feature to nox tests
  noxfile.py
  tests/functional/tracing/__init__.py
  tests/functional/tracing/aws_xray_sdk/__init__.py
  tests/functional/tracing/aws_xray_sdk/test_tracing.py
Labels: internal, size/S, tests

#4569 chore(ci): add the Parameters feature to nox tests
  noxfile.py
  tests/functional/parameters/__init__.py
  tests/functional/parameters/_boto3/test_utilities_parameters.py
Labels: internal, size/S, tests

#4570 chore(ci): add the Feature Flags feature to nox tests
  noxfile.py
  tests/functional/feature_flags/_boto3/__init__.py
  tests/functional/feature_flags/_boto3/test_feature_flags.py
  tests/functional/feature_flags/_boto3/test_schema_validation.py
  tests/functional/feature_flags/_boto3/test_time_based_actions.py
Labels: internal, size/XS, tests

#4571 chore(ci): add the Validation feature to nox tests
  noxfile.py
  tests/functional/validator/_fastjsonschema/__init__.py
  tests/functional/validator/_fastjsonschema/test_validator.py
Labels: internal, size/S, tests

#4572 chore(ci): add the Typing feature to nox tests
  noxfile.py
  tests/functional/typing/__init__.py
  tests/functional/typing/required_dependencies/__init__.py
  tests/functional/typing/required_dependencies/test_utilities_typing.py
Labels: internal, size/XS, tests

#4574 chore(ci): add the Data Masking feature to nox tests
  noxfile.py
  tests/functional/data_masking/_aws_encryption_sdk/__init__.py
  tests/functional/data_masking/_aws_encryption_sdk/test_aws_encryption_sdk.py
  tests/unit/data_masking/__init__.py
  tests/unit/data_masking/_aws_encryption_sdk/__init__.py
  tests/unit/data_masking/_aws_encryption_sdk/test_kms_provider.py
  tests/unit/data_masking/_aws_encryption_sdk/test_unit_data_masking.py
Labels: internal, size/S, tests

#4575 chore(ci): add the Streaming feature to nox tests
  noxfile.py
  tests/functional/streaming/_boto3/__init__.py
  tests/functional/streaming/_boto3/test_s3_object.py
  tests/functional/streaming/_boto3/test_s3_seekable_io.py
Labels: internal, size/XS, tests

#4581 chore(ci): add the Event Handler feature to nox tests
  noxfile.py
  tests/__init__.py
  tests/functional/event_handler/_pydantic/__init__.py
  tests/functional/event_handler/_pydantic/conftest.py
  tests/functional/event_handler/_pydantic/test_api_gateway.py
  tests/functional/event_handler/_pydantic/test_bedrock_agent.py
  tests/functional/event_handler/_pydantic/test_openapi_encoders.py
  tests/functional/event_handler/_pydantic/test_openapi_params.py
  tests/functional/event_handler/_pydantic/test_openapi_responses.py
  tests/functional/event_handler/_pydantic/test_openapi_schema_pydantic_v1.py
  tests/functional/event_handler/_pydantic/test_openapi_schema_pydantic_v2.py
  tests/functional/event_handler/_pydantic/test_openapi_security.py
  tests/functional/event_handler/_pydantic/test_openapi_security_schemes.py
  tests/functional/event_handler/_pydantic/test_openapi_serialization.py
  tests/functional/event_handler/_pydantic/test_openapi_servers.py
  tests/functional/event_handler/_pydantic/test_openapi_swagger.py
  tests/functional/event_handler/_pydantic/test_openapi_tags.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
  tests/functional/event_handler/required_dependencies/__init__.py
  tests/functional/event_handler/required_dependencies/conftest.py
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
  tests/functional/event_handler/required_dependencies/test_api_middlewares.py
  tests/functional/event_handler/required_dependencies/test_appsync.py
  tests/functional/event_handler/required_dependencies/test_base_path.py
  tests/functional/event_handler/required_dependencies/test_lambda_function_url.py
  tests/functional/event_handler/required_dependencies/test_router.py
  tests/functional/event_handler/required_dependencies/test_vpc_lattice.py
  tests/functional/event_handler/required_dependencies/test_vpc_latticev2.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
  tests/unit/test_tracing.py
Labels: internal, size/L, tests

#4584 chore(ci): add the Parser feature to nox tests
  noxfile.py
  tests/unit/parser/_pydantic/__init__.py
  tests/unit/parser/_pydantic/schemas.py
  tests/unit/parser/_pydantic/test_alb.py
  tests/unit/parser/_pydantic/test_apigw.py
  tests/unit/parser/_pydantic/test_apigwv2.py
  tests/unit/parser/_pydantic/test_bedrock_agent.py
  tests/unit/parser/_pydantic/test_cloudformation_custom_resource.py
  tests/unit/parser/_pydantic/test_cloudwatch.py
  tests/unit/parser/_pydantic/test_dynamodb.py
  tests/unit/parser/_pydantic/test_eventbridge.py
  tests/unit/parser/_pydantic/test_kafka.py
  tests/unit/parser/_pydantic/test_kinesis.py
  tests/unit/parser/_pydantic/test_kinesis_firehose.py
  tests/unit/parser/_pydantic/test_lambda_function_url.py
  tests/unit/parser/_pydantic/test_s3.py
  tests/unit/parser/_pydantic/test_s3_batch_operation.py
  tests/unit/parser/_pydantic/test_s3_notification.py
  tests/unit/parser/_pydantic/test_s3_object_event.py
  tests/unit/parser/_pydantic/test_ses.py
  tests/unit/parser/_pydantic/test_sns.py
  tests/unit/parser/_pydantic/test_sqs.py
  tests/unit/parser/_pydantic/test_vpc_lattice.py
  tests/unit/parser/_pydantic/test_vpc_latticev2.py
Labels: internal, size/M, tests

#4585 chore(ci): add the Idempotency feature to nox tests
  noxfile.py
  tests/functional/idempotency/_boto3/__init__.py
  tests/functional/idempotency/_boto3/conftest.py
  tests/functional/idempotency/_boto3/test_idempotency.py
  tests/functional/idempotency/_pydantic/__init__.py
  tests/functional/idempotency/_pydantic/test_idempotency_with_pydantic.py
  tests/functional/idempotency/_redis/__init__.py
  tests/functional/idempotency/_redis/test_redis_layer.py
  tests/functional/idempotency/utils.py
Labels: internal, size/L, tests

#4586 chore(ci): add the Batch Processor feature to nox tests
  Makefile
  noxfile.py
  tests/functional/batch/_pydantic/__init__.py
  tests/functional/batch/_pydantic/sample_models.py
  tests/functional/batch/_pydantic/test_utilities_batch_pydantic.py
  tests/functional/batch/required_dependencies/__init__.py
  tests/functional/batch/required_dependencies/test_utilities_batch.py
Labels: internal, size/XXL, tests

#4535 chore(ci): introduce daily pre-releases
  .github/workflows/build_changelog.yml
  .github/workflows/pre-release.yml
  docs/index.md
  docs/maintainers.md
  examples/homepage/install/sar/cdk_sar.py
Labels: internal, size/XL, github-actions

#4597 docs(public reference): add Brsk as a public reference
  README.md
  docs/index.md
Labels: documentation, size/XS

#4502 feat(parser): Allow primitive data types to be parsed using TypeAdapter
  aws_lambda_powertools/utilities/parser/__init__.py
  aws_lambda_powertools/utilities/parser/compat.py
  aws_lambda_powertools/utilities/parser/envelopes/base.py
  aws_lambda_powertools/utilities/parser/functions.py
  aws_lambda_powertools/utilities/parser/parser.py
  aws_lambda_powertools/utilities/parser/pydantic.py
  aws_lambda_powertools/utilities/parser/types.py
  docs/utilities/parser.md
  examples/batch_processing/src/pydantic_dynamodb.py
  examples/parser/src/multiple_model_parsing.py
  tests/e2e/parser/__init__.py
  tests/e2e/parser/conftest.py
  tests/e2e/parser/handlers/handler_with_basic_model.py
  tests/e2e/parser/handlers/handler_with_dataclass.py
  tests/e2e/parser/handlers/handler_with_union_tag.py
  tests/e2e/parser/infrastructure.py
  tests/e2e/parser/test_parser.py
  tests/functional/parser/test_parser.py
  tests/performance/parser/__init__.py
  tests/performance/parser/test_parser_performance.py
  tests/performance/test_high_level_imports.py
Labels: feature, size/XL, tests, github-actions

#1998 feat(event-handler): add appsync batch resolvers
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/graphql_appsync/__init__.py
  aws_lambda_powertools/event_handler/graphql_appsync/_registry.py
  aws_lambda_powertools/event_handler/graphql_appsync/base.py
  aws_lambda_powertools/event_handler/graphql_appsync/exceptions.py
  aws_lambda_powertools/event_handler/graphql_appsync/router.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/sam/template.yaml
  examples/event_handler_graphql/src/advanced_batch_async_resolver.py
  examples/event_handler_graphql/src/advanced_batch_query.graphql
  examples/event_handler_graphql/src/advanced_batch_resolver.py
  examples/event_handler_graphql/src/advanced_batch_resolver_handling_error.py
  examples/event_handler_graphql/src/advanced_batch_resolver_individual.py
  examples/event_handler_graphql/src/advanced_batch_resolver_payload.json
  examples/event_handler_graphql/src/custom_models.py
  examples/event_handler_graphql/src/enable_exceptions_batch_resolver.py
  examples/event_handler_graphql/src/enable_exceptions_batch_resolver_payload.json
  examples/event_handler_graphql/src/split_operation_append_context_module.py
  examples/event_handler_graphql/src/split_operation_module.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/e2e/event_handler_appsync/__init__.py
  tests/e2e/event_handler_appsync/conftest.py
  tests/e2e/event_handler_appsync/files/schema.graphql
  tests/e2e/event_handler_appsync/handlers/appsync_resolver_handler.py
  tests/e2e/event_handler_appsync/infrastructure.py
  tests/e2e/event_handler_appsync/test_appsync_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/__init__.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_batch_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
  tests/unit/data_classes/required_dependencies/test_appsync_resolver_event.py
Labels: documentation, dependencies, feature, size/XXL, tests, event_handlers

#4630 chore(ci): add the aws-encryption-sdk dependency in the Lambda layer
  examples/event_handler_bedrock_agents/cdk/bedrock_agent_stack.py
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/S

#4652 fix(event_handler): current_event regression AppSyncResolver Router
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/graphql_appsync/router.py
  tests/events/appSyncBatchEvent.json
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_batch_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
Labels: bug, size/L, tests, event_handlers
