Repository aws-powertools/powertools-lambda-python, pull requests merged in 2024-09, with the labels that each got.

#5108 chore(ci): add workflow dispatch for SAR
  .github/workflows/reusable_deploy_v3_sar.yml
Labels: internal, size/S, github-actions

#5109 chore(ci): allow sar beta app
  .github/workflows/publish_v3_layer.yml
Labels: internal, size/M, github-actions

#5088 refactor(typing): move more types into TYPE_CHECKING
  aws_lambda_powertools/event_handler/openapi/compat.py
  aws_lambda_powertools/event_handler/openapi/types.py
Labels: size/S, event_handlers

#5148 docs(maintainers): update the maintainers table
  docs/maintainers.md
Labels: documentation, size/S

#5028 docs(upgrade_guide): create upgrade guide from v2 to v3
  docs/upgrade.md
Labels: documentation, size/L, do-not-merge

#5211 chore(ci): fix bump poetry version
  .github/workflows/publish_v3_layer.yml
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Labels: dependencies, internal, size/S, github-actions, commons

#5224 docs(v3): fix small things in the documentation
  docs/index.md
  docs/overrides/main.html
  docs/versioning.md
Labels: documentation, size/S

#5219 feat(event_source): add CodeDeploy Lifecycle Hook event
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/code_deploy_lifecycle_hook_event.py
  docs/utilities/data_classes.md
  tests/events/codeDeployLifecycleHookEvent.json
  tests/unit/data_classes/required_dependencies/test_code_deploy_lifecycle_hook_event.py
Labels: documentation, feature, size/M, tests

#5191 docs(idempotency): fix description in `Advanced` table
  docs/utilities/idempotency.md
Labels: documentation, size/XS

#5240 docs(versioning): add v2 maintainance mode banner
  docs/overrides/main.html
  docs/utilities/data_classes.md
  docs/versioning.md
Labels: documentation, size/S

#5251 fix(idempotency): fix response hook invocation when function returns None
  aws_lambda_powertools/utilities/idempotency/base.py
  tests/e2e/idempotency/handlers/response_hook.py
  tests/e2e/idempotency/infrastructure.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/idempotency_redis/handlers/response_hook.py
  tests/e2e/idempotency_redis/test_idempotency_redis.py
  tests/functional/idempotency/_boto3/test_idempotency.py
Labels: bug, size/L, tests

#5259 fix(parser): revert a regression in v3 when raising ValidationError
  aws_lambda_powertools/utilities/parser/parser.py
  tests/functional/parser/test_parser.py
Labels: bug, size/S, tests

#5265 docs(metrics): fix test references
  docs/core/metrics.md
  docs/core/metrics/datadog.md
Labels: documentation, size/XS
