Repository aws-powertools/powertools-lambda-python, pull requests merged in 2024-04, with the labels that each got.

#4053 fix(event_source): fix typo in physicalname attribute for AmazonMQ events
  aws_lambda_powertools/utilities/data_classes/active_mq_event.py
  tests/events/activeMQEvent.json
  tests/unit/data_classes/test_active_mq_event.py
Labels: bug, size/S, tests

#4061 chore(ci): prevent deprecated custom runner from being used
  .github/actionlint.yaml
Labels: bug, internal, size/XS

#4068 docs(we-made-this): new article on how to stream data with AWS Lambda & Powertools for AWS Lambda
  docs/we_made_this.md
Labels: documentation, size/XS

#4037 feat(Idempotency): add feature for manipulating idempotent responses
  aws_lambda_powertools/utilities/idempotency/__init__.py
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/config.py
  aws_lambda_powertools/utilities/idempotency/hook.py
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_response_hook.py
  examples/idempotency/src/working_with_response_hook_payload.json
  tests/functional/idempotency/test_idempotency.py
Labels: feature, size/L, tests, idempotency

#4075 chore(ci): add monthly roadmap reminder workflow
  .github/workflows/on_schedule_monthly_roadmap_reminder.yml
Labels: internal, size/S, github-actions

#4101 fix(docs): clarified usage of validation with fine grained responses
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/data_validation_fine_grained_response.py
Labels: bug, documentation, size/M, event_handlers

#4033 feat(logger): add method to return currently configured keys
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  examples/logger/src/bring_your_own_formatter_from_scratch.py
  examples/logger/src/get_current_keys.py
  tests/functional/test_logger.py
Labels: feature, size/M, tests, logger

#4114 fix(typing): improve overloads to ensure the return type follows the default_value type
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/data_classes/s3_object_event.py
  aws_lambda_powertools/utilities/data_classes/shared_functions.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
  examples/event_handler_graphql/src/custom_models.py
Labels: bug, size/L, typing

#4128 fix(typing): make the case_sensitive field a boolean only
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/s3_object_event.py
  aws_lambda_powertools/utilities/data_classes/shared_functions.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Labels: bug, size/M, typing, event_sources

#4131 chore(docs): update highlighted lines on the Typing examples
  docs/utilities/typing.md
Labels: documentation, internal, size/XS

#4103 feat(event_handler): add support for OpenAPI security schemes
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/event_handler/openapi/models.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/__init__.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/sam/swagger_ui_oauth2_template.yaml
  examples/event_handler_rest/src/security_schemes_global.py
  examples/event_handler_rest/src/security_schemes_per_operation.py
  examples/event_handler_rest/src/swagger_ui_oauth2.py
  examples/event_handler_rest/src/swagger_with_oauth2.py
  tests/functional/event_handler/test_openapi_security.py
  tests/functional/event_handler/test_openapi_security_schemes.py
  tests/functional/event_handler/test_openapi_swagger.py
Labels: feature, size/XL, tests, event_handlers, openapi-schema

#4154 docs(idempotency): fix highlight and import path
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_response_hook.py
Labels: documentation, size/XS

#4181 docs(roadmap): april updates
  .github/workflows/on_schedule_monthly_roadmap_reminder.yml
  docs/roadmap.md
Labels: documentation, size/L, github-actions

#4183 refactor(parser): only infer type hints when necessary
  aws_lambda_powertools/utilities/parser/parser.py
Labels: size/S, enhancement

#4232 chore(ci): add branch v3 to quality check and e2e actions
  .github/workflows/quality_check.yml
  .github/workflows/run-e2e-tests.yml
Labels: internal, size/XS, github-actions

#4234 docs(general): update documentation to add info about v3
  docs/overrides/main.html
  docs/versioning.md
Labels: documentation, size/XS

#4235 chore(ci): bump pydantic library to 2.0+ and boto3 to 1.34.32
  aws_lambda_powertools/event_handler/api_gateway.py
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/S, event_handlers
