Repository aws-powertools/powertools-lambda-python, pull requests merged in 2024-08, with the labels that each got.

#4858 docs(public_reference): add LocalStack as a public reference
  README.md
  docs/index.md
Labels: documentation, size/XS

#4863 fix(data_class): ensure DynamoDBStreamEvent conforms to decimal limits
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  tests/unit/data_classes/required_dependencies/test_dynamo_db_stream_event.py
Labels: bug, size/M, tests

#4885 docs(public_reference): add CHS Inc. as a public reference
  README.md
  docs/index.md
Labels: documentation, size/XS

#4882 refactor(test): make CORS test consistent with expected behavior
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
Labels: internal, size/M, tests, event_handlers, enhancement

#4839 feat(validation): returns output from validate function
  aws_lambda_powertools/utilities/validation/base.py
  aws_lambda_powertools/utilities/validation/validator.py
  docs/utilities/validation.md
  tests/functional/validator/_fastjsonschema/test_validator.py
  tests/functional/validator/conftest.py
Labels: feature, size/M, tests, validator

#4796 refactor(tracer): make capture_lambda_handler type more generic
  aws_lambda_powertools/shared/types.py
  aws_lambda_powertools/tracing/tracer.py
Labels: size/XS, enhancement, commons, tracer

#4692 refactor(typing): enable boto3 implicit type annotations
  aws_lambda_powertools/utilities/data_classes/s3_object_event.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  aws_lambda_powertools/utilities/parameters/types.py
  aws_lambda_powertools/utilities/streaming/_s3_seekable_io.py
  aws_lambda_powertools/utilities/streaming/s3_object.py
  docs/utilities/data_classes.md
  examples/feature_flags/src/custom_s3_store_provider.py
  examples/idempotency/src/bring_your_own_persistent_store.py
  examples/parameters/src/custom_boto3_all_providers.py
  examples/tracer/src/disable_capture_response_streaming_body.py
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/e2e/utils/auth.py
  tests/e2e/utils/data_fetcher/common.py
  tests/e2e/utils/data_fetcher/logs.py
  tests/e2e/utils/data_fetcher/metrics.py
  tests/e2e/utils/data_fetcher/traces.py
  tests/e2e/utils/infrastructure.py
Labels: dependencies, size/L, tests, typing, enhancement, streaming

#4893 refactor(parameters): deprecate the config parameter in favor of boto_config
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  aws_lambda_powertools/warnings/__init__.py
  docs/utilities/parameters.md
  examples/parameters/src/custom_boto_config.py
  tests/functional/test_utilities_parameters.py
Labels: size/L, tests, enhancement

#4896 refactor(typing): reduce aws_lambda_powertools.shared.types usage
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/base.py
  aws_lambda_powertools/event_handler/openapi/models.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/event_handler/openapi/types.py
  aws_lambda_powertools/logging/types.py
  aws_lambda_powertools/metrics/functions.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/types.py
  aws_lambda_powertools/metrics/types.py
  aws_lambda_powertools/shared/cookies.py
  aws_lambda_powertools/shared/types.py
  aws_lambda_powertools/utilities/batch/types.py
  aws_lambda_powertools/utilities/data_classes/s3_batch_operation_event.py
  aws_lambda_powertools/utilities/data_classes/secrets_manager_event.py
  aws_lambda_powertools/utilities/feature_flags/__init__.py
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/feature_flags/comparators.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  aws_lambda_powertools/utilities/feature_flags/types.py
  aws_lambda_powertools/utilities/idempotency/hook.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  aws_lambda_powertools/utilities/parameters/types.py
  aws_lambda_powertools/utilities/parser/models/cloudwatch.py
  aws_lambda_powertools/utilities/parser/types.py
  aws_lambda_powertools/utilities/streaming/s3_object.py
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  examples/event_handler_bedrock_agents/src/assert_bedrock_agent_response_module.py
  examples/event_handler_graphql/src/assert_async_graphql_response_module.py
  examples/event_handler_graphql/src/assert_graphql_response_module.py
  examples/event_handler_graphql/src/async_resolvers.py
  examples/event_handler_graphql/src/custom_models.py
  examples/event_handler_graphql/src/getting_started_graphql_api_resolver.py
  examples/event_handler_graphql/src/graphql_transformer_merchant_info.py
  examples/event_handler_graphql/src/graphql_transformer_search_merchant.py
  examples/event_handler_graphql/src/nested_mappings.py
  examples/event_handler_graphql/src/split_operation_append_context_module.py
  examples/event_handler_graphql/src/split_operation_module.py
  examples/event_handler_rest/src/validating_headers.py
  examples/event_handler_rest/src/validating_path.py
  examples/event_handler_rest/src/validating_payload_subset.py
  examples/event_handler_rest/src/validating_query_strings.py
  examples/event_handler_rest/src/working_with_headers_multi_value.py
  examples/event_handler_rest/src/working_with_multi_query_values.py
  examples/middleware_factory/src/combining_powertools_utilities_function.py
  examples/parser/src/multiple_model_parsing.py
  tests/functional/event_handler/test_bedrock_agent.py
  tests/functional/event_handler/test_openapi_params.py
  tests/functional/event_handler/test_openapi_schema_pydantic_v1.py
  tests/functional/event_handler/test_openapi_schema_pydantic_v2.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
  tests/functional/feature_flags/test_time_based_actions.py
  tests/functional/parser/test_parser.py
  tests/performance/parser/test_parser_performance.py
Labels: size/L, logger, event_handlers, enhancement, metrics, commons, streaming

#4904 feat(metrics): add unit None for CloudWatch EMF Metrics
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/metric_properties.py
Labels: feature, size/XS, metrics

#4907 refactor(jmespath_utils): deprecate extract_data_from_envelope in favor of query
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/jmespath_utils/__init__.py
  aws_lambda_powertools/utilities/validation/validator.py
  docs/utilities/jmespath_functions.md
  examples/jmespath_functions/src/extract_data_from_builtin_envelope.py
  examples/jmespath_functions/src/powertools_base64_gzip_jmespath_function.py
  examples/jmespath_functions/src/powertools_base64_jmespath_function.py
  examples/jmespath_functions/src/powertools_custom_jmespath_function.py
  examples/jmespath_functions/src/powertools_json_jmespath_function.py
  examples/jmespath_functions/src/query.py
  examples/middleware_factory/src/combining_powertools_utilities_function.py
  examples/middleware_factory/src/getting_started_middleware_before_logic_function.py
  examples/middleware_factory/src/getting_started_middleware_with_params_function.py
  tests/functional/idempotency/conftest.py
  tests/unit/jmespath_util/test_jmespath_util.py
Labels: size/L, tests, logger, enhancement, jmespath

#4910 refactor(batch_processing): mark batch_processor and async_batch_processor as deprecated
  aws_lambda_powertools/utilities/batch/decorators.py
  docs/utilities/batch.md
  tests/functional/test_utilities_batch.py
Labels: size/M, tests, enhancement

#4932 fix(event_source): fix regression when working with zero numbers in DynamoDBStreamEvent
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  tests/unit/data_classes/required_dependencies/test_dynamo_db_stream_event.py
Labels: bug, size/S, tests

#4948 refactor(event_handler): correct typo in exception docstring
  aws_lambda_powertools/event_handler/exceptions.py
Labels: size/XS, event_handlers, enhancement

#4949 feat(layers): add ARM64 support for ca-west-1
  .github/workflows/reusable_deploy_v2_layer_stack.yml
Labels: feature, size/XS, github-actions

#4930 fix(event_handler): correct URL for OpenAPI spec in Swagger UI
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  tests/functional/event_handler/_pydantic/test_openapi_swagger.py
Labels: size/M, tests, event_handlers

#4974 revert(deps): "chore(deps-dev): bump cdklabs-generative-ai-cdk-constructs from 0.1.246 to 0.1.247"
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/XS, do-not-merge, need-issue, need-license-agreement-acknowledge

#4977 refactor(parser): add from __future__ import annotations
  aws_lambda_powertools/utilities/parser/envelopes/apigw.py
  aws_lambda_powertools/utilities/parser/envelopes/apigwv2.py
  aws_lambda_powertools/utilities/parser/envelopes/base.py
  aws_lambda_powertools/utilities/parser/envelopes/bedrock_agent.py
  aws_lambda_powertools/utilities/parser/envelopes/cloudwatch.py
  aws_lambda_powertools/utilities/parser/envelopes/dynamodb.py
  aws_lambda_powertools/utilities/parser/envelopes/event_bridge.py
  aws_lambda_powertools/utilities/parser/envelopes/kafka.py
  aws_lambda_powertools/utilities/parser/envelopes/kinesis.py
  aws_lambda_powertools/utilities/parser/envelopes/kinesis_firehose.py
  aws_lambda_powertools/utilities/parser/envelopes/lambda_function_url.py
  aws_lambda_powertools/utilities/parser/envelopes/sns.py
  aws_lambda_powertools/utilities/parser/envelopes/sqs.py
  aws_lambda_powertools/utilities/parser/envelopes/vpc_lattice.py
  aws_lambda_powertools/utilities/parser/envelopes/vpc_latticev2.py
  tests/e2e/parser/handlers/handler_with_union_tag.py
Labels: size/L, tests, enhancement

#4976 refactor(parameters): add from __future__ import annotations
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/constants.py
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
Labels: size/L, enhancement

#4962 refactor(jmespath_utils): add from __future__ import annotations
  aws_lambda_powertools/utilities/jmespath_utils/__init__.py
Labels: size/S, enhancement, jmespath

#4942 refactor(shared): add from __future__ import annotations
  aws_lambda_powertools/shared/cookies.py
  aws_lambda_powertools/shared/dynamodb_deserializer.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/shared/headers_serializer.py
  aws_lambda_powertools/shared/json_encoder.py
Labels: size/M, enhancement, commons, tracer

#4985 refactor(typing): add from __future__ import annotations
  aws_lambda_powertools/utilities/typing/lambda_client_context.py
  aws_lambda_powertools/utilities/typing/lambda_context.py
Labels: size/M, typing, enhancement

#4975 refactor(event_handler): add from __future__ import annotations in the Middlewares
  aws_lambda_powertools/event_handler/middlewares/base.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/middlewares/schema_validation.py
Labels: size/L, event_handlers, enhancement

#4984 refactor(validation): add from __future__ import annotations
  aws_lambda_powertools/utilities/validation/base.py
  aws_lambda_powertools/utilities/validation/exceptions.py
  aws_lambda_powertools/utilities/validation/validator.py
Labels: size/M, enhancement

#4945 refactor(data_masking): add from __future__ import annotations
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
  aws_lambda_powertools/utilities/data_masking/provider/kms/aws_encryption_sdk.py
Labels: size/M, enhancement

#4943 refactor(tracing): add from __future__ import annotations
  aws_lambda_powertools/tracing/base.py
  aws_lambda_powertools/tracing/tracer.py
  tests/e2e/parser/handlers/handler_with_union_tag.py
Labels: size/L, tests, enhancement, tracer

#4940 refactor(logging): add from __future__ import annotations
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/formatters/datadog.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/logging/types.py
  aws_lambda_powertools/logging/utils.py
Labels: size/L, logger, enhancement

#4944 refactor(metrics): add from __future__ import annotations
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/functions.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/types.py
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  aws_lambda_powertools/metrics/provider/datadog/metrics.py
Labels: size/L, enhancement, metrics

#4961 refactor(idempotency): add from __future__ import annotations
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/config.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/hook.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/datarecord.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  aws_lambda_powertools/utilities/idempotency/serialization/base.py
  aws_lambda_powertools/utilities/idempotency/serialization/custom_dict.py
  aws_lambda_powertools/utilities/idempotency/serialization/dataclass.py
  aws_lambda_powertools/utilities/idempotency/serialization/no_op.py
  aws_lambda_powertools/utilities/idempotency/serialization/pydantic.py
Labels: size/L, enhancement, jmespath

#4992 refactor(event_handler): add from __future__ import annotations
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/event_handler/router.py
  aws_lambda_powertools/event_handler/util.py
  aws_lambda_powertools/event_handler/vpc_lattice.py
Labels: size/XL, event_handlers, enhancement

#4990 refactor(openapi): add from __future__ import annotations
  aws_lambda_powertools/event_handler/openapi/compat.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  aws_lambda_powertools/event_handler/openapi/encoders.py
  aws_lambda_powertools/event_handler/openapi/models.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
  aws_lambda_powertools/event_handler/openapi/types.py
  tests/e2e/utils/data_fetcher/common.py
Labels: size/XL, tests, event_handlers, enhancement

#4993 refactor(batch): add from __future__ import annotations
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/decorators.py
  aws_lambda_powertools/utilities/batch/exceptions.py
  aws_lambda_powertools/utilities/batch/sqs_fifo_partial_processor.py
  aws_lambda_powertools/utilities/batch/types.py
Labels: size/L, do-not-merge, enhancement

#4960 refactor(feature_flags): add from __future__ import annotations
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/feature_flags/base.py
  aws_lambda_powertools/utilities/feature_flags/comparators.py
  aws_lambda_powertools/utilities/feature_flags/constants.py
  aws_lambda_powertools/utilities/feature_flags/exceptions.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  aws_lambda_powertools/utilities/feature_flags/types.py
Labels: size/L, enhancement

#4983 refactor(parser): add from __future__ import annotations
  aws_lambda_powertools/utilities/parser/functions.py
  aws_lambda_powertools/utilities/parser/models/apigw.py
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  aws_lambda_powertools/utilities/parser/models/cloudformation_custom_resource.py
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
  aws_lambda_powertools/utilities/parser/models/kafka.py
  aws_lambda_powertools/utilities/parser/models/kinesis.py
  aws_lambda_powertools/utilities/parser/models/s3.py
  aws_lambda_powertools/utilities/parser/models/s3_batch_operation.py
  aws_lambda_powertools/utilities/parser/models/ses.py
  aws_lambda_powertools/utilities/parser/models/sns.py
  aws_lambda_powertools/utilities/parser/models/sqs.py
  aws_lambda_powertools/utilities/parser/parser.py
  ruff.toml
Labels: size/M, enhancement

#4939 refactor(data_classes): add from __future__ import annotations
  aws_lambda_powertools/utilities/data_classes/active_mq_event.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/aws_config_rule_event.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_alarm_event.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_custom_widget_event.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_logs_event.py
  aws_lambda_powertools/utilities/data_classes/cloudformation_custom_resource_event.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/connect_contact_flow_event.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  aws_lambda_powertools/utilities/data_classes/event_bridge_event.py
  aws_lambda_powertools/utilities/data_classes/event_source.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_stream_event.py
  aws_lambda_powertools/utilities/data_classes/rabbit_mq_event.py
  aws_lambda_powertools/utilities/data_classes/s3_batch_operation_event.py
  aws_lambda_powertools/utilities/data_classes/s3_event.py
  aws_lambda_powertools/utilities/data_classes/s3_object_event.py
  aws_lambda_powertools/utilities/data_classes/ses_event.py
  aws_lambda_powertools/utilities/data_classes/sns_event.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Labels: size/XL, enhancement

#5017 refactor(typing): enable TCH, UP and FA100 ruff rules
  aws_lambda_powertools/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/event_handler/openapi/types.py
  aws_lambda_powertools/logging/types.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/types.py
  aws_lambda_powertools/shared/cache_dict.py
  aws_lambda_powertools/shared/lazy_import.py
  aws_lambda_powertools/utilities/__init__.py
  aws_lambda_powertools/utilities/batch/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/exceptions.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  aws_lambda_powertools/utilities/parameters/__init__.py
  aws_lambda_powertools/utilities/typing/__init__.py
  aws_lambda_powertools/utilities/typing/lambda_client_context.py
  aws_lambda_powertools/utilities/typing/lambda_client_context_mobile_client.py
  aws_lambda_powertools/utilities/typing/lambda_cognito_identity.py
  aws_lambda_powertools/utilities/typing/lambda_context.py
  docs/utilities/batch.md
  examples/batch_processing/src/context_manager_access.py
  examples/idempotency/src/bring_your_own_persistent_store.py
  ruff.toml
  tests/e2e/parser/handlers/handler_with_union_tag.py
  tests/functional/data_masking/test_aws_encryption_sdk.py
  tests/functional/event_handler/test_openapi_serialization.py
  tests/functional/idempotency/persistence/test_redis_layer.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
  tests/functional/metrics/test_metrics_cloudwatch_emf.py
  tests/functional/metrics/test_metrics_provider.py
  tests/functional/parser/test_parser.py
  tests/functional/test_logger_powertools_formatter.py
  tests/functional/test_utilities_parameters.py
  tests/functional/validator/test_validator.py
  tests/unit/parser/test_vpc_latticev2.py
  tests/unit/test_tracing.py
Labels: size/L, tests, typing, logger, event_handlers, enhancement, metrics, commons

#5039 docs(logger): fix typo for the INFO log_level example
  docs/core/logger.md
Labels: documentation, size/XS

#5036 docs(public_reference): add Pushpay as a public reference
  README.md
  docs/index.md
Labels: documentation, size/XS

#5026 chore(ci): add temporary pipeline for v3
  .github/workflows/publish_v3_layer.yml
  .github/workflows/release-v3.yml
  .github/workflows/reusable_deploy_v3_layer_stack.yml
  .github/workflows/reusable_deploy_v3_sar.yml
Labels: internal, size/XXL, github-actions, on-hold

#5077 chore(docs): load self hosted mermaid.js
  mkdocs.yml
Labels: internal, size/XS

#5082 feat(idempotency): simplify access to expiration time in `DataRecord` class
  aws_lambda_powertools/utilities/idempotency/persistence/datarecord.py
  examples/idempotency/src/working_with_response_hook.py
  tests/functional/idempotency/test_idempotency.py
Labels: feature, size/M, tests

#5087 fix(v3): revert unnecessary changes that impacts v3
  aws_lambda_powertools/event_handler/openapi/constants.py
  aws_lambda_powertools/event_handler/openapi/models.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
  aws_lambda_powertools/event_handler/openapi/types.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/shared_functions.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
  docs/utilities/batch.md
  examples/batch_processing/src/advanced_accessing_lambda_context_decorator.py
  examples/batch_processing/src/getting_started_dynamodb_decorator.py
  examples/batch_processing/src/getting_started_kinesis_decorator.py
  examples/batch_processing/src/getting_started_sqs_decorator.py
  examples/batch_processing/src/getting_started_sqs_fifo_decorator.py
  examples/event_handler_rest/src/accessing_request_details_headers.py
  tests/unit/data_classes/test_api_gateway_authorizer_event.py
  tests/unit/data_classes/test_appsync_resolver_event.py
  tests/unit/data_classes/test_vpc_lattice_eventv2.py
Labels: bug, size/XL, tests, event_handlers
