Repository aws-powertools/powertools-lambda-python, pull requests merged in 2024-01, with the labels that each got.

#3579 fix(ci): fail dispatch analytics job when Lambda call fails
  .github/workflows/dispatch_analytics.yml
Labels: size/S, github-actions

#3582 chore(ci): Remove dev dependencies locked to Pydantic v1 within the Pydantic v2 workflow.
  .github/workflows/quality_check_pydanticv2.yml
Labels: size/XS, github-actions

#3587 refactor(parser): Improve error message when parsing models and envelopes
  aws_lambda_powertools/utilities/parser/parser.py
Labels: size/S, parser

#3605 docs(i-made-this): added new article on how to create a serverless API with CDK and Powertools
  docs/we_made_this.md
Labels: documentation, size/XS, community-content

#3606 fix(event_handler): escape OpenAPI schema on Swagger UI
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
Labels: size/M, event_handlers

#3571 feat(event_handler): add support to download OpenAPI spec file
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  tests/functional/event_handler/test_openapi_swagger.py
Labels: documentation, size/M, tests, event_handlers

#3562 refactor(event-handler): Inject CSS and JS files into SwaggerUI route when no custom CDN is used.
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui-bundle.min.js
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui.min.css
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/sam/template.yaml
  tests/functional/event_handler/test_openapi_swagger.py
Labels: documentation, size/M, tests, event_handlers

#2567 feat(idempotency): adding redis as idempotency backend
  .github/workflows/quality_check_pydanticv2.yml
  Makefile
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/idempotency/__init__.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  docs/utilities/idempotency.md
  examples/idempotency/src/customize_persistence_layer_redis.py
  examples/idempotency/src/getting_started_with_idempotency_redis_client.py
  examples/idempotency/src/getting_started_with_idempotency_redis_config.py
  examples/idempotency/src/integrate_idempotency_with_batch_processor_payload.json
  examples/idempotency/src/using_redis_client_with_aws_secrets.py
  examples/idempotency/src/using_redis_client_with_local_certs.py
  examples/idempotency/templates/cfn_redis_serverless.yaml
  examples/idempotency/templates/sam_redis_vpc.yaml
  examples/idempotency/tests/mock_redis.py
  examples/idempotency/tests/test_with_mock_redis.py
  examples/idempotency/tests/test_with_real_redis.py
  poetry.lock
  pyproject.toml
  tests/e2e/idempotency_redis/__init__.py
  tests/e2e/idempotency_redis/conftest.py
  tests/e2e/idempotency_redis/handlers/function_thread_safety_handler.py
  tests/e2e/idempotency_redis/handlers/optional_idempotency_key_handler.py
  tests/e2e/idempotency_redis/handlers/parallel_execution_handler.py
  tests/e2e/idempotency_redis/handlers/ttl_cache_expiration_handler.py
  tests/e2e/idempotency_redis/handlers/ttl_cache_timeout_handler.py
  tests/e2e/idempotency_redis/infrastructure.py
  tests/e2e/idempotency_redis/test_idempotency_redis.py
  tests/e2e/utils/lambda_layer/powertools_layer.py
  tests/functional/idempotency/persistence/test_redis_layer.py
  tests/integration/__init__.py
  tests/integration/idempotency/__init__.py
  tests/integration/idempotency/test_idempotency_redis.py
  tests/unit/test_shared_functions.py
Labels: documentation, dependencies, feature, internal, size/XXL, tests, github-actions, commons, idempotency

#3618 docs(homepage): add banner about Python 3.7 deprecation
  docs/overrides/main.html
  tests/e2e/idempotency_redis/test_idempotency_redis.py
Labels: documentation, size/XS, tests

#3624 feat(event_source): Add support for policyLevel field in CloudWatch Logs event and parser
  aws_lambda_powertools/utilities/data_classes/cloud_watch_logs_event.py
  aws_lambda_powertools/utilities/parser/models/cloudwatch.py
  tests/events/cloudWatchLogEventWithPolicyLevel.json
  tests/unit/data_classes/test_cloud_watch_logs_event.py
  tests/unit/parser/test_cloudwatch.py
Labels: size/M, tests, event_sources, parser

#3632 chore(ci): update boto3 library version to 1.26.164+
  poetry.lock
  pyproject.toml
Labels: dependencies, size/XS

#3591 feat(event_handler): add support for additional response models
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/event_handler/openapi/types.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/test_openapi_responses.py
Labels: documentation, size/L, tests, event_handlers

#3572 feat(event_source): Add support for S3 batch operations
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/s3_batch_operation_event.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/s3_batch_operation.py
  docs/utilities/data_classes.md
  docs/utilities/parser.md
  examples/event_sources/src/s3_batch_operation.py
  tests/events/s3BatchOperationEventSchemaV1.json
  tests/events/s3BatchOperationEventSchemaV2.json
  tests/unit/data_classes/test_s3_batch_operation_event.py
  tests/unit/data_classes/test_s3_batch_operation_response.py
  tests/unit/parser/test_s3_batch_operation.py
  tests/unit/parser/test_s3_object_event.py
Labels: documentation, size/XL, tests

#3645 refactor(event_handler): fix BedrockAgentResolver docstring
  aws_lambda_powertools/event_handler/bedrock_agent.py
Labels: size/XS, event_handlers

#3652 chore(ci): Disable Redis e2e until we drop Python 3.7
  tests/e2e/idempotency_redis/conftest.py
Labels: size/S, tests

#3446 feat(idempotency): leverage new DynamoDB Failed conditional writes behavior with ReturnValuesOnConditionCheckFailure
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/datarecord.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  docs/media/idempotency_first_execution.png
  docs/media/idempotency_second_execution.png
  docs/utilities/idempotency.md
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
  tests/unit/idempotency/test_dynamodb_persistence.py
Labels: documentation, dependencies, size/L, tests, idempotency

#3660 docs(metrics): fix empty metric warning filter
  docs/core/metrics.md
  docs/core/metrics/datadog.md
Labels: documentation, size/XS

#3667 feat(event_handler): add support for multiValueQueryStringParameters in OpenAPI schema
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/working_with_multi_query_values.py
  tests/events/albMultiValueQueryStringEvent.json
  tests/events/lambdaFunctionUrlEventWithHeaders.json
  tests/events/vpcLatticeV2EventWithHeaders.json
  tests/functional/event_handler/test_openapi_params.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
Labels: documentation, size/XL, tests, event_handlers

#3682 docs(proccess): add versioning and maintenance policy
  docs/versioning.md
  mkdocs.yml
Labels: documentation, size/M
