Repository aws-powertools/powertools-lambda-python, pull requests merged in 2024-07, with the labels that each got.

#4664 fix(event_handler): custom serializer recursive values when using data validation
  aws_lambda_powertools/event_handler/openapi/encoders.py
  noxfile.py
  tests/functional/event_handler/_pydantic/test_openapi_encoders.py
Labels: bug, size/M, tests, event_handlers

#4682 chore: Add token to codecov action
  .github/workflows/quality_check.yml
Labels: internal, size/XS, github-actions

#4683 fix(event_handler): convert null body to empty string in ALBResolver to avoid HTTP 502
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/getting_started_resolvers_response_serialization.py
  examples/event_handler_rest/src/getting_started_resolvers_response_serialization_output.json
  tests/e2e/event_handler/handlers/alb_handler_with_body_none.py
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/event_handler/test_response_code.py
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
Labels: bug, size/L, tests, event_handlers

#4638 fix(event_handler): disable allow-credentials header when origin allow_origin is *
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/events/apiGatewayProxyEventNoOrigin.json
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
Labels: bug, size/L, tests, event_handlers

#4705 docs(i-made-this): Bedrock agents with Powertools for AWS Lambda
  docs/we_made_this.md
Labels: documentation, size/S

#4713 docs(public_reference): add BusPatrol as a public reference
  README.md
  docs/index.md
Labels: documentation, size/XS

#4718 feat(parser): add support for API Gateway Lambda authorizer events
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/apigw.py
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  docs/utilities/parser.md
  tests/events/apiGatewayAuthorizerRequestEvent.json
  tests/events/apiGatewayAuthorizerV2Event.json
  tests/unit/parser/_pydantic/test_apigw.py
  tests/unit/parser/_pydantic/test_apigwv2.py
Labels: feature, size/M, tests

#4719 feat(batch): add option to not raise `BatchProcessingError` exception when the entire batch fails
  aws_lambda_powertools/utilities/batch/base.py
  docs/utilities/batch.md
  examples/batch_processing/src/working_with_entire_batch_fail.py
  tests/functional/batch/required_dependencies/test_utilities_batch.py
Labels: feature, size/L, tests

#4731 fix(event_handler): make the max_age attribute comply with RFC specification
  aws_lambda_powertools/shared/cookies.py
  tests/unit/test_cookie_class.py
Labels: bug, size/L, tests, commons

#4739 chore(layers): downgrade aws cdk to 2.145.0
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/XS

#4703 feat(event_handler): add OpenAPI extensions
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/event_handler/openapi/compat.py
  aws_lambda_powertools/event_handler/openapi/models.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/working_with_openapi_extensions.py
  noxfile.py
  tests/e2e/event_handler/handlers/openapi_handler.py
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/event_handler/test_openapi.py
  tests/functional/event_handler/_pydantic/conftest.py
  tests/functional/event_handler/_pydantic/test_openapi_extensions.py
  tests/unit/event_handler/__init__.py
  tests/unit/event_handler/_pydantic/__init__.py
  tests/unit/event_handler/_pydantic/conftest.py
  tests/unit/event_handler/_pydantic/test_openapi_models_pydantic_v1.py
  tests/unit/event_handler/_pydantic/test_openapi_models_pydantic_v2.py
Labels: feature, size/XL, tests, event_handlers

#4773 fix(idempotency): ensure in_progress_expiration field is set on Lambda timeout.
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
Labels: bug, size/XS

#4793 chore(logger): use package logger over source logger to reduce noise
  aws_lambda_powertools/logging/utils.py
Labels: internal, size/S, logger

#4811 chore(docs): Add lambda layer policy to versioning docs
  docs/versioning.md
Labels: internal, size/S

#4613 docs(idempotency): improve navigation, wording, and new section on guarantees
  docs/utilities/idempotency.md
  examples/idempotency/src/customize_persistence_layer.py
  examples/idempotency/src/customize_persistence_layer_redis.py
  examples/idempotency/src/getting_started_with_idempotency.py
  examples/idempotency/src/getting_started_with_idempotency_redis_client.py
  examples/idempotency/src/getting_started_with_idempotency_redis_config.py
  examples/idempotency/src/integrate_idempotency_with_batch_processor.py
  examples/idempotency/src/integrate_idempotency_with_validator.py
  examples/idempotency/src/using_redis_client_with_aws_secrets.py
  examples/idempotency/src/using_redis_client_with_local_certs.py
  examples/idempotency/src/working_with_composite_key.py
  examples/idempotency/src/working_with_custom_config.py
  examples/idempotency/src/working_with_custom_session.py
  examples/idempotency/src/working_with_dataclass_deduced_output_serializer.py
  examples/idempotency/src/working_with_dataclass_explicitly_output_serializer.py
  examples/idempotency/src/working_with_exceptions.py
  examples/idempotency/src/working_with_idempotency_key_required.py
  examples/idempotency/src/working_with_idempotent_function_custom_output_serializer.py
  examples/idempotency/src/working_with_idempotent_function_dataclass.py
  examples/idempotency/src/working_with_idempotent_function_pydantic.py
  examples/idempotency/src/working_with_lambda_timeout.py
  examples/idempotency/src/working_with_local_cache.py
  examples/idempotency/src/working_with_payload_subset.py
  examples/idempotency/src/working_with_pydantic_deduced_output_serializer.py
  examples/idempotency/src/working_with_pydantic_explicitly_output_serializer.py
  examples/idempotency/src/working_with_record_expiration.py
  examples/idempotency/src/working_with_response_hook.py
  examples/idempotency/src/working_with_validation_payload.py
  examples/idempotency/templates/cfn_redis_serverless.yaml
  examples/idempotency/templates/sam.yaml
  examples/idempotency/templates/sam_redis_vpc.yaml
  includes/abbreviations.md
  mkdocs.yml
Labels: documentation, size/XL, do-not-merge, idempotency

#4822 docs(public_reference): add Caylent as a public reference
  README.md
  docs/index.md
Labels: documentation, size/XS

#4832 docs: fix type vs. field in comment
  examples/event_handler_graphql/src/getting_started_schema.graphql
Labels: documentation, size/XS

#4606 feat(data_classes): return empty dict or list instead of None
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/middlewares/base.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/util.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_alarm_event.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_logs_event.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/data_classes/s3_batch_operation_event.py
  aws_lambda_powertools/utilities/data_classes/s3_object_event.py
  aws_lambda_powertools/utilities/data_classes/ses_event.py
  aws_lambda_powertools/utilities/data_classes/shared_functions.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
  docs/core/event_handler/api_gateway.md
  docs/utilities/data_classes.md
  examples/event_handler_graphql/src/custom_models.py
  examples/event_handler_rest/src/accessing_request_details.py
  examples/event_handler_rest/src/accessing_request_details_headers.py
  examples/event_handler_rest/src/exception_handling.py
  examples/event_handler_rest/src/middleware_extending_middlewares.py
  examples/event_handler_rest/src/middleware_global_middlewares_module.py
  examples/event_handler_rest/src/split_route_module.py
  examples/event_handler_rest/src/split_route_prefix_module.py
  tests/functional/event_handler/test_api_middlewares.py
  tests/functional/event_handler/test_appsync.py
  tests/unit/data_classes/test_alb_event.py
  tests/unit/data_classes/test_api_gateway_authorizer_event.py
  tests/unit/data_classes/test_api_gateway_proxy_event.py
  tests/unit/data_classes/test_appsync_resolver_event.py
  tests/unit/data_classes/test_cloud_watch_alarm_event.py
  tests/unit/data_classes/test_cloud_watch_logs_event.py
  tests/unit/data_classes/test_code_pipeline_job_event.py
  tests/unit/data_classes/test_cognito_user_pool_event.py
  tests/unit/data_classes/test_dynamo_db_stream_event.py
  tests/unit/data_classes/test_kafka_event.py
  tests/unit/data_classes/test_lambda_function_url.py
  tests/unit/data_classes/test_s3_batch_operation_event.py
  tests/unit/data_classes/test_s3_object_event.py
  tests/unit/data_classes/test_ses_event.py
  tests/unit/data_classes/test_vpc_lattice_event.py
  tests/unit/data_classes/test_vpc_lattice_eventv2.py
  tests/unit/test_data_classes.py
Labels: documentation, size/XXL, event_handlers

#4841 chore(maintenance): add Banxware customer refernece
  README.md
  docs/index.md
Labels: internal, size/S

#4852 chore(ci): fix Redis e2e tests in v3 branch
  tests/e2e/idempotency_redis/infrastructure.py
Labels: internal, size/XS, tests
