Repository aws-powertools/powertools-lambda-python, pull requests merged in 2024-10, with the labels that each got.

#5226 fix(layers): rename Lambda layer name from x86 to x86_64
  .github/workflows/publish_v2_layer.yml
  .github/workflows/publish_v3_layer.yml
  docs/diagram_src/cicd_steps.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  docs/maintainers.md
  docs/roadmap.md
  examples/homepage/install/sar/cdk_sar.py
  examples/homepage/install/sar/sam.yaml
  examples/homepage/install/sar/scoped_down_iam.yaml
  examples/homepage/install/sar/serverless.yml
  examples/homepage/install/sar/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
  layer_v3/app.py
  layer_v3/layer/layer_stack.py
Labels: bug, size/L, github-actions, on-hold

#5280 chore(tests): fix e2e tests in Idempotency utility
  tests/e2e/idempotency_redis/handlers/response_hook.py
Labels: internal, size/XS, tests

#5283 fix(ci): layer rename
  .github/workflows/layer_rename.yml
Labels: bug, size/L, github-actions

#5291 fix(ci): Layer Rename Fix
  .github/workflows/layer_rename.yml
Labels: bug, size/XS, github-actions, do-not-merge, need-issue

#5322 docs(public_reference): add Flyweight as a public reference
  README.md
  docs/index.md
Labels: documentation, size/XS

#5315 refactor(examples): fix issues reported by SonarCloud and Scorecard
  .github/workflows/layer_rename.yml
  docs/core/event_handler/api_gateway.md
  docs/utilities/middleware_factory.md
  examples/event_handler_rest/src/compressing_responses_using_route.py
  examples/event_handler_rest/src/dynamic_routes.py
  examples/event_handler_rest/src/setting_cors.py
  examples/event_handler_rest/src/setting_cors_extra_origins.py
  examples/event_handler_rest/src/split_route_module.py
  examples/event_handler_rest/src/split_route_prefix_module.py
  examples/middleware_factory/src/combining_powertools_utilities_function.py
  examples/middleware_factory/src/getting_started_middleware_before_logic_function.py
  examples/middleware_factory/src/getting_started_middleware_with_params_function.py
Labels: size/M, github-actions, enhancement

#5318 feat(openapi): enable direct list input in Examples model
  aws_lambda_powertools/event_handler/openapi/models.py
  tests/functional/event_handler/_pydantic/test_openapi_params.py
Labels: feature, size/M, tests, event_handlers

#5316 docs(upgrade_guide): update upgrade guide with Pydantic information
  docs/upgrade.md
Labels: documentation, size/S

#5313 fix(parser): fallback to `validate_python` when using `type[Model]` and nested models
  aws_lambda_powertools/utilities/parser/envelopes/base.py
  aws_lambda_powertools/utilities/parser/functions.py
  aws_lambda_powertools/utilities/parser/parser.py
  tests/e2e/parser/handlers/handler_with_model_type_class.py
  tests/e2e/parser/test_parser.py
  tests/functional/parser/test_parser.py
Labels: bug, size/L, tests

#5340 fix(layer): reverting SSM parameter name
  layer_v3/app.py
Labels: bug, size/XS

#5344 docs(layer): update layer version number
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Labels: documentation, size/XL

#5347 docs(upgrade_guide): update Lambda layer name
  docs/upgrade.md
Labels: documentation, size/S

#5351 docs(event_handler): add Terraform payload info for API Gateway HTTP API
  docs/core/event_handler/api_gateway.md
Labels: documentation, size/XS

#5360 docs(examples): temporarily fix SAR version to v2.x
  examples/homepage/install/sar/cdk_sar.py
  examples/homepage/install/sar/sam.yaml
  examples/homepage/install/sar/serverless.yml
  examples/homepage/install/sar/terraform.tf
Labels: documentation, size/S

#5261 feat(ci): GovCloud Layer Workflow
  .github/workflows/layer_govcloud.yml
Labels: feature, size/L, github-actions

#5379 fix(layer): update partition name in the GovCloud workflow
  .github/workflows/layer_govcloud.yml
Labels: bug, size/XS, github-actions

#5380 fix(ci): Update partition name
  .github/workflows/layer_govcloud.yml
Labels: bug, size/XS, github-actions

#5381 fix: test command in verify step
  .github/workflows/layer_govcloud.yml
Labels: bug, size/XS, github-actions

#5382 fix(ci): GovCloud layer verification
  .github/workflows/layer_govcloud.yml
Labels: size/M, github-actions

#5377 chore(docs): remove layer callout from data masking docs
  docs/utilities/data_masking.md
Labels: documentation, internal, size/XS

#5414 docs: Add GovCloud layer info
  docs/index.md
Labels: documentation, size/S

#5416 fix(ci): Tables are nicer
  .github/workflows/layer_govcloud.yml
  .github/workflows/layer_govcloud_verify.yml
Labels: bug, size/S, github-actions, do-not-merge, need-issue

#5141 feat(logger): add thread safe logging keys
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  docs/core/event_handler/api_gateway.md
  docs/core/logger.md
  examples/logger/src/thread_safe_append_keys.py
  examples/logger/src/thread_safe_append_keys_output.json
  examples/logger/src/thread_safe_clear_keys.py
  examples/logger/src/thread_safe_clear_keys_output.json
  examples/logger/src/thread_safe_get_current_keys.py
  examples/logger/src/thread_safe_remove_keys.py
  examples/logger/src/thread_safe_remove_keys_output.json
  tests/functional/event_handler/_pydantic/conftest.py
  tests/functional/logger/required_dependencies/test_logger_powertools_formatter.py
Labels: documentation, feature, size/L, tests, github-actions, logger

#5433 fix(ci): remove space
  .github/workflows/layer_govcloud.yml
Labels: bug, size/XS, github-actions, do-not-merge, need-issue

#5446 chore(ci): bump minimum required pydantic version
  docs/utilities/parser.md
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/XS

#5317 fix(appsync): make contextual data accessible for async functions
  aws_lambda_powertools/event_handler/appsync.py
  docs/core/event_handler/appsync.md
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_batch_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
Labels: bug, size/M, tests, event_handlers
