Repository aws-powertools/powertools-lambda-python, pull requests merged in 2024-03, with the labels that each got.

#3860 fix(event_handler): OpenAPI schema version respects Pydantic version
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/constants.py
  aws_lambda_powertools/event_handler/openapi/models.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui-bundle.min.js
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui.min.css
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/conftest.py
  tests/functional/event_handler/test_openapi_encoders.py
  tests/functional/event_handler/test_openapi_schema_pydantic_v1.py
  tests/functional/event_handler/test_openapi_schema_pydantic_v2.py
Labels: bug, size/L, tests, event_handlers

#3869 refactor(logger): improve typing
  aws_lambda_powertools/logging/logger.py
Labels: size/M, logger, enhancement

#3602 docs(event_handler): add bedrock agent resolver documentation
  aws_lambda_powertools/event_handler/bedrock_agent.py
  docs/core/event_handler/_openapi_customization_metadata.md
  docs/core/event_handler/_openapi_customization_operations.md
  docs/core/event_handler/_openapi_customization_parameters.md
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/bedrock_agents.md
  docs/core/event_handler/bedrock_agents.mermaid
  docs/core/event_handler/bedrock_agents_getting_started.mermaid
  docs/core/event_handler/bedrock_agents_validation_sequence_diagram.mermaid
  examples/event_handler_bedrock_agents/cdk/bedrock_agent_stack.py
  examples/event_handler_bedrock_agents/sam/template.yaml
  examples/event_handler_bedrock_agents/src/accessing_request_fields.py
  examples/event_handler_bedrock_agents/src/assert_bedrock_agent_response.py
  examples/event_handler_bedrock_agents/src/assert_bedrock_agent_response_module.py
  examples/event_handler_bedrock_agents/src/customizing_bedrock_api_metadata.py
  examples/event_handler_bedrock_agents/src/customizing_bedrock_api_operations.py
  examples/event_handler_bedrock_agents/src/customizing_bedrock_api_parameters.py
  examples/event_handler_bedrock_agents/src/generating_openapi_schema.json
  examples/event_handler_bedrock_agents/src/generating_openapi_schema.py
  examples/event_handler_bedrock_agents/src/getting_started.json
  examples/event_handler_bedrock_agents/src/getting_started.py
  examples/event_handler_bedrock_agents/src/getting_started_output.json
  examples/event_handler_bedrock_agents/src/getting_started_schema.json
  examples/event_handler_bedrock_agents/src/getting_started_with_validation.json
  examples/event_handler_bedrock_agents/src/getting_started_with_validation.py
  examples/event_handler_bedrock_agents/src/getting_started_with_validation_output.json
  examples/event_handler_bedrock_agents/src/getting_started_with_validation_schema.json
  examples/event_handler_bedrock_agents/src/validation_failure_input.json
  examples/event_handler_bedrock_agents/src/validation_failure_output.json
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/functional/event_handler/test_bedrock_agent.py
Labels: documentation, dependencies, size/XXL, tests, event_handlers

#3889 chore(docs): add Bedrock Agents to feature list
  README.md
Labels: internal, size/XS

#3901 fix(internal): call ruff with correct args
  Makefile
Labels: bug, size/XS

#3898 fix(data_sources): ensure correct types on SQSMessageAttributes
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/unit/data_classes/test_sqs_event.py
Labels: bug, size/S, tests, event_sources

#3903 fix(event_handler): validate POST bodies on BedrockAgentResolver
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  tests/functional/event_handler/test_bedrock_agent.py
Labels: bug, size/M, tests

#3900 feat(event_handler): use custom serializer during openapi serialization
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/encoders.py
  tests/functional/event_handler/test_openapi_serialization.py
Labels: feature, size/M, tests, event_handlers

#3910 refactor(parameters): improve typing for get_secret method
  aws_lambda_powertools/utilities/parameters/secrets.py
Labels: size/M, enhancement

#3868 feat(data_classes): Add CloudWatchAlarmEvent data class
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_alarm_event.py
  docs/utilities/data_classes.md
  examples/event_sources/src/cloudwatch_alarm_event.py
  tests/events/cloudWatchAlarmEventCompositeMetric.json
  tests/events/cloudWatchAlarmEventSingleMetric.json
  tests/unit/data_classes/test_cloud_watch_alarm_event.py
Labels: feature, size/XL, tests

#3937 fix(event_handler): make decoded_body field optional in ApiGateway resolver
  aws_lambda_powertools/utilities/data_classes/common.py
  tests/unit/test_data_classes.py
Labels: bug, size/S, tests

#3948 docs(bedrock-agents): fix type in Bedrock operation example
  examples/event_handler_bedrock_agents/src/customizing_bedrock_api_operations.py
Labels: documentation, size/XS

#3946 feat(event-handler): add compress option when serving Swagger HTML
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/test_openapi_swagger.py
Labels: feature, size/S, tests, event_handlers

#3962 docs(tutorial): fix "Simplifying with Tracer" section in the tutorial
  docs/tutorial/index.md
Labels: documentation, size/XS

#3979 feat(event_handler): define exception_handler directly from the router
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Labels: feature, size/M, tests, event_handlers

#3949 feat(tracer): auto-disable tracer when for AWS SAM and Chalice environments
  aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/tracing/tracer.py
  docs/core/tracer.md
  tests/functional/test_tracing.py
Labels: feature, size/L, tests, commons, tracer

#3954 feat(batch): add flag in SqsFifoProcessor to enable continuous message processing
  aws_lambda_powertools/utilities/batch/exceptions.py
  aws_lambda_powertools/utilities/batch/sqs_fifo_partial_processor.py
  docs/utilities/batch.md
  examples/batch_processing/src/getting_started_sqs_fifo_skip_on_error.py
  tests/functional/test_utilities_batch.py
Labels: feature, size/L, tests

#3988 refactor(logger): add type annotation for append_keys method
  aws_lambda_powertools/logging/logger.py
Labels: size/XS, logger, enhancement

#3995 fix(event_handler): always add 422 response to the schema
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/types.py
  tests/functional/event_handler/test_openapi_params.py
  tests/functional/event_handler/test_openapi_responses.py
Labels: bug, size/M, tests, event_handlers

#2858 feat(parameters): add feature for creating and updating Parameters and Secrets
  aws_lambda_powertools/utilities/parameters/__init__.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/exceptions.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  aws_lambda_powertools/utilities/parameters/types.py
  docs/utilities/parameters.md
  examples/parameters/src/getting_started_set_single_ssm_parameter.py
  examples/parameters/src/getting_started_set_ssm_parameter_overwrite.py
  examples/parameters/src/getting_started_setting_secret.py
  tests/functional/test_utilities_parameters.py
Labels: feature, size/XL, tests, parameters

#4024 docs(batch): improved the example demonstrating how to create a custom partial processor.
  docs/utilities/batch.md
  examples/batch_processing/sam/custom_partial_processor_dynamodb_table.yaml
  examples/batch_processing/src/custom_partial_processor.py
  examples/batch_processing/src/custom_partial_processor_payload.json
Labels: documentation, size/M
