Repository aws-powertools/powertools-lambda-python, pull requests merged in 2024-12, with the labels that each got.

#5681 fix(docs): typo in homepage extra dependencies command
  docs/index.md
Labels: documentation, size/XS

#5752 chore(ci): add workflow to balance layers per region
  .github/workflows/bootstrap_region.yml
Labels: internal, size/L, github-actions

#5768 chore(ci): disable dry run in layer balancing workflow
  .github/workflows/bootstrap_region.yml
Labels: internal, size/XS, github-actions

#5769 feat(layer): add new ap-southeast-5 region
  .github/workflows/reusable_deploy_v3_layer_stack.yml
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
Labels: feature, size/S, github-actions

#5732 feat(event_handler): mark API operation as deprecated for OpenAPI documentation
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  aws_lambda_powertools/utilities/parser/models/apigw_websocket.py
  docs/core/event_handler/_openapi_customization_operations.md
  tests/functional/event_handler/_pydantic/test_openapi_params.py
  tests/unit/metrics/test_functions.py
  tests/unit/parser/_pydantic/test_apigw_websockets.py
Labels: feature, size/L, tests, event_handlers, metrics

#5754 feat(ssm): Parameters for resolving to versioned layers
  .github/workflows/update_ssm.yml
  docs/index.md
Labels: feature, size/L, github-actions

#5775 fix(ci): add overwrite to SSM workflow
  .github/workflows/update_ssm.yml
Labels: bug, size/M, github-actions

#5742 fix(parser): remove AttributeError validation from event_parser function
  aws_lambda_powertools/utilities/parser/parser.py
  tests/functional/parser/test_parser.py
Labels: bug, size/M, tests

#5777 chore(ci): adding missing region in matrix
  .github/workflows/reusable_deploy_v3_layer_stack.yml
Labels: internal, size/XS, github-actions

#5785 docs(layer): update layer version number - v3.4.0
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Labels: documentation, size/XL

#5590 fix(idempotency): add support for Optional type when serializing output
  aws_lambda_powertools/utilities/idempotency/serialization/dataclass.py
  aws_lambda_powertools/utilities/idempotency/serialization/functions.py
  aws_lambda_powertools/utilities/idempotency/serialization/pydantic.py
  docs/utilities/idempotency.md
  tests/functional/idempotency/_boto3/test_idempotency.py
  tests/functional/idempotency/_pydantic/test_idempotency_with_pydantic.py
Labels: bug, size/L, tests

#5798 docs(home): fix date typo and shorten message.
  docs/overrides/main.html
Labels: documentation, size/S

#5801 fix(appsync): enhance consistency for custom resolver field naming in AppSync
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/parser/parser.py
  tests/events/appSyncCustomResolverEvent.json
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
  tests/functional/parser/test_parser.py
Labels: bug, size/L, tests
