Repository aws-powertools/powertools-lambda-python, pull requests merged in 2024-02, with the labels that each got.

#3687 feat(event_handler): support Header parameter validation in OpenAPI schema
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/validating_headers.py
  examples/event_handler_rest/src/working_with_headers_multi_value.py
  tests/events/albMultiValueQueryStringEvent.json
  tests/events/apiGatewayProxyEvent.json
  tests/events/lambdaFunctionUrlEventWithHeaders.json
  tests/events/vpcLatticeEvent.json
  tests/events/vpcLatticeV2EventWithHeaders.json
  tests/functional/event_handler/test_openapi_params.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
Labels: documentation, size/XXL, tests, event_handlers, openapi-schema

#3718 chore(ci): enable Redis e2e tests
  poetry.lock
  pyproject.toml
  tests/e2e/idempotency_redis/conftest.py
Labels: dependencies, size/S, tests

#3727 docs: Add nathan hanks post community
  docs/we_made_this.md
Labels: documentation, size/XS, do-not-merge, need-issue

#3730 chore(deps): revert aws-cdk-lib as a runtime dep
  poetry.lock
  pyproject.toml
Labels: dependencies, size/S

#3745 fix(typing): make Response headers covariant
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: size/S, typing, event_handlers

#3692 feat(feature_flags): add intersect actions for conditions
  aws_lambda_powertools/utilities/feature_flags/comparators.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  docs/utilities/feature_flags.md
Labels: documentation, size/M, do-not-merge

#3768 docs(homepage): discord flat badge style; remove former devax email
  README.md
Labels: size/XS

#3755 docs(roadmap): latest roadmap update; use new grid to de-clutter homepage
  .github/actions/create-pr/action.yml
  .github/workflows/release.yml
  README.md
  docs/index.md
  docs/overrides/main.html
  docs/roadmap.md
  docs/tutorial/index.md
  mkdocs.yml
Labels: documentation, size/XXL, github-actions

#3766 fix(event-handler): handle aliased parameters e.g., Query(alias="categoryType")
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
Labels: size/S, tests, event_handlers

#3770 docs(home): add note about POWERTOOLS_DEV side effects in CloudWatch Logs
  docs/index.md
Labels: documentation, size/S

#3778 docs(home): update layer version to 62 for package version 2.33.1
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Labels: documentation, size/L

#3783 docs(homepage): remove leftover announcement banner
  docs/overrides/main.html
Labels: documentation, size/XS

#3775 refactor(feature-flags): add intersection tests; structure refinement
  aws_lambda_powertools/utilities/feature_flags/__init__.py
  aws_lambda_powertools/utilities/feature_flags/comparators.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  ruff.toml
  tests/functional/feature_flags/test_feature_flags.py
  tests/functional/feature_flags/test_schema_validation.py
Labels: size/XL, tests

#3796 fix(event-handler): swagger schema respects api stage
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_openapi_swagger.py
Labels: size/M, tests, event_handlers

#3792 docs(feature_flags): fix incorrect line markers and envelope name
  docs/utilities/feature_flags.md
  examples/feature_flags/src/extracting_envelope.py
Labels: documentation, size/XS, feature_flags

#3790 docs(we-made-this): add reinvent 2023 session
  docs/we_made_this.md
Labels: documentation, size/S

#3795 fix(event-handler): multi-value query string and validation of scalar parameters
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
  tests/functional/event_handler/conftest.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
Labels: size/L, tests, event_handlers

#3808 fix(ci): create one layer artifact per region & merge
  .github/workflows/publish_v2_layer.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
Labels: size/S, github-actions

#3799 docs(we-made-this): add swagger post
  docs/we_made_this.md
Labels: documentation, size/XS

#3809 chore(tests): increase idempotency coverage with nested payload tampering tests
  tests/e2e/idempotency/handlers/payload_tampering_validation_handler.py
  tests/e2e/idempotency/infrastructure.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
Labels: size/L, tests

#3818 fix(ci): revert layer version bump write-only back to append
  .github/workflows/reusable_deploy_v2_layer_stack.yml
Labels: bug, size/XS, github-actions

#3819 fix(ci): inject PR_LABELS env for PR Label automation
  .github/scripts/constants.js
  .github/scripts/label_pr_based_on_title.js
  .github/workflows/label_pr_on_title.yml
Labels: size/XS, github-actions

#3822 fix(idempotency): validate before saving to cache
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  poetry.lock
  pyproject.toml
  tests/functional/idempotency/persistence/test_redis_layer.py
  tests/functional/idempotency/test_idempotency.py
Labels: bug, dependencies, size/M, tests

#3824 fix(event-handler): return dict on missing multi_value_headers
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
Labels: bug, size/S, tests

#3834 docs(install): make minimum install the default option then extra
  docs/index.md
Labels: documentation, size/L

#3840 fix(typing): ensure return type is a str when default_value is set
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
Labels: bug, size/S

#3846 feat(event-source): add function to get multi-value query string params by name
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/shared_functions.py
  examples/event_handler_rest/src/accessing_request_details.py
  tests/unit/data_classes/test_alb_event.py
  tests/unit/test_data_classes.py
Labels: feature, size/M, tests

#3853 chore(ci): remove aws-encryption-sdk from Lambda layer due to cffi being tied to python version
  Makefile
  docs/utilities/data_masking.md
  poetry.lock
  pyproject.toml
  tests/e2e/utils/lambda_layer/powertools_layer.py
Labels: dependencies, internal, size/S, tests
