Repository aws-powertools/powertools-lambda-python, pull requests merged in 2024-05, with the labels that each got.

#4078 fix(ci): apply lessons learned to monthly roadmap reminder cross-repo
  .github/workflows/on_schedule_monthly_roadmap_reminder.yml
  .github/workflows/secure_workflows.yml
Labels: bug, size/S, github-actions

#4267 chore(v3): merging develop into v3
  .github/actions/download-artifact/action.yml
  .github/actions/seal-restore/action.yml
  .github/workflows/dependency-review.yml
  .github/workflows/on_schedule_monthly_roadmap_reminder.yml
  .github/workflows/quality_check.yml
  .github/workflows/release.yml
  .github/workflows/secure_workflows.yml
  CHANGELOG.md
  docs/Dockerfile
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/L, github-actions

#4279 refactor(parameters): increase default max_age (cache) to 5 minutes
  aws_lambda_powertools/utilities/parameters/base.py
  docs/utilities/parameters.md
  tests/unit/data_classes/test_sqs_event.py
  tests/unit/parser/test_sqs.py
Labels: documentation, size/S, tests, enhancement, v3

#4275 feat(event_handler): add decorator for HTTP HEAD verb
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/test_api_gateway.py
Labels: feature, size/M, tests, event_handlers

#4148 fix(typing): resolved_headers_field is not Optional
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/compat.py
  aws_lambda_powertools/event_handler/openapi/pydantic_loader.py
  aws_lambda_powertools/utilities/batch/types.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
  aws_lambda_powertools/utilities/parser/compat.py
  pyproject.toml
Labels: bug, dependencies, size/M, typing, event_handlers

#4173 fix(parser): make etag optional field on S3 notification events
  aws_lambda_powertools/utilities/data_classes/s3_event.py
  aws_lambda_powertools/utilities/parser/models/s3.py
  tests/events/s3EventBridgeNotificationObjectDeletedEvent.json
  tests/unit/data_classes/test_s3_eventbridge_notification.py
  tests/unit/parser/test_s3_notification.py
Labels: bug, size/S, tests

#4297 chore(governance): add FastAPI third party license attribution
  THIRD-PARTY-LICENSES
Labels: internal, size/S

#4305 refactor(general): drop pydantic v1
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/compat.py
  aws_lambda_powertools/event_handler/openapi/constants.py
  aws_lambda_powertools/event_handler/openapi/encoders.py
  aws_lambda_powertools/event_handler/openapi/models.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/event_handler/openapi/pydantic_loader.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
  aws_lambda_powertools/event_handler/openapi/types.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/serialization/pydantic.py
  aws_lambda_powertools/utilities/parser/compat.py
  aws_lambda_powertools/utilities/parser/envelopes/apigw.py
  aws_lambda_powertools/utilities/parser/envelopes/apigwv2.py
  aws_lambda_powertools/utilities/parser/envelopes/base.py
  aws_lambda_powertools/utilities/parser/envelopes/bedrock_agent.py
  aws_lambda_powertools/utilities/parser/envelopes/cloudwatch.py
  aws_lambda_powertools/utilities/parser/envelopes/dynamodb.py
  aws_lambda_powertools/utilities/parser/envelopes/event_bridge.py
  aws_lambda_powertools/utilities/parser/envelopes/kafka.py
  aws_lambda_powertools/utilities/parser/envelopes/kinesis.py
  aws_lambda_powertools/utilities/parser/envelopes/kinesis_firehose.py
  aws_lambda_powertools/utilities/parser/envelopes/lambda_function_url.py
  aws_lambda_powertools/utilities/parser/envelopes/sns.py
  aws_lambda_powertools/utilities/parser/envelopes/sqs.py
  aws_lambda_powertools/utilities/parser/envelopes/vpc_lattice.py
  aws_lambda_powertools/utilities/parser/envelopes/vpc_latticev2.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/apigw.py
  aws_lambda_powertools/utilities/parser/models/cloudwatch.py
  aws_lambda_powertools/utilities/parser/models/kafka.py
  aws_lambda_powertools/utilities/parser/models/kinesis.py
  aws_lambda_powertools/utilities/parser/models/kinesis_firehose.py
  aws_lambda_powertools/utilities/parser/models/kinesis_firehose_sqs.py
  aws_lambda_powertools/utilities/parser/models/s3.py
  aws_lambda_powertools/utilities/parser/models/s3_batch_operation.py
  aws_lambda_powertools/utilities/parser/models/sns.py
  aws_lambda_powertools/utilities/parser/models/vpc_latticev2.py
  aws_lambda_powertools/utilities/parser/parser.py
  docs/utilities/parser.md
  poetry.lock
  tests/functional/batch/sample_models.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/event_handler/test_bedrock_agent.py
  tests/functional/event_handler/test_openapi_encoders.py
  tests/functional/event_handler/test_openapi_responses.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/test_utilities_batch.py
Labels: size/XXL, tests, event_handlers, enhancement

#4312 feat(event_handler): add support for persisting authorization session in OpenAPI
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/test_openapi_swagger.py
Labels: feature, size/M, tests, event_handlers

#4295 fix(logger): correctly pick powertools or custom handler in custom environments
  .gitignore
  .markdownlint.yaml
  aws_lambda_powertools/logging/constants.py
  aws_lambda_powertools/logging/exceptions.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/shared/constants.py
  docs/core/logger.md
  tests/functional/test_logger.py
Labels: bug, size/L, tests, logger, commons

#4334 refactor(data-masking): remove Non-GA comments
  aws_lambda_powertools/utilities/data_masking/__init__.py
  aws_lambda_powertools/utilities/data_masking/base.py
Labels: size/S, enhancement

#4299 feat(logger-utils): preserve log level for discovered third-party top-level loggers
  aws_lambda_powertools/logging/utils.py
  docs/core/logger.md
  tests/functional/test_logger_utils.py
Labels: feature, size/M, tests, logger

#4355 chore(ci): bump upload artifact action to v4
  .github/actions/seal/action.yml
  .github/actions/upload-artifact/action.yml
Labels: internal, size/XS

#4358 chore(ci): bump download artifact action to v4
  .github/actions/upload-release-provenance/action.yml
Labels: internal, size/XS

#4363 fix(logger): reverting logger child modification
  aws_lambda_powertools/logging/constants.py
  aws_lambda_powertools/logging/exceptions.py
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  tests/functional/test_logger.py
Labels: bug, size/L, tests, logger

#4351 docs(homepage): Change installation to CDK v2
  .pre-commit-config.yaml
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk.py
  examples/homepage/install/arm64/pulumi.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/sar/cdk.py
  examples/homepage/install/sar/sam.yaml
  examples/homepage/install/sar/scoped_down_iam.yaml
  examples/homepage/install/sar/serverless.yml
  examples/homepage/install/sar/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk.py
  examples/homepage/install/x86_64/pulumi.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
Labels: documentation, size/XL

#4342 feat(event_source): add CloudFormationCustomResourceEvent data class.
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/cloudformation_custom_resource_event.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/cloudformation_custom_resource.py
  docs/utilities/data_classes.md
  examples/event_sources/src/cloudformation_custom_resource_handler.py
  tests/events/cloudformationCustomResourceDelete.json
  tests/events/cloudformationCustomResourceUpdate.json
  tests/unit/data_classes/test_cloudformation_custom_resource_event.py
  tests/unit/data_classes/test_sqs_event.py
  tests/unit/parser/test_cloudformation_custom_resource.py
  tests/unit/parser/test_sqs.py
Labels: documentation, feature, size/L, tests, logger

#4401 feat(parser): Adds DDB deserialization to DynamoDBStreamChangedRecordModel
  aws_lambda_powertools/shared/dynamodb_deserializer.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
  tests/functional/batch/sample_models.py
  tests/functional/test_utilities_batch.py
  tests/unit/parser/schemas.py
  tests/unit/parser/test_dynamodb.py
  tests/unit/shared/test_dynamodb_deserializer.py
Labels: feature, size/L, tests, commons

#4422 chore(libraries): add jmespath as a required dependency
  poetry.lock
  pyproject.toml
Labels: dependencies, size/XS
