Repository aws-powertools/powertools-lambda-python, pull requests merged in 2024-11, with the labels that each got.

#5484 feat(event_handler): mutualTLS Security Scheme for OpenAPI
  aws_lambda_powertools/event_handler/openapi/models.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/_pydantic/test_openapi_security_schemes.py
Labels: feature, size/M, tests, event_handlers

#5515 fix(parameters): fix force_fetch feature when working with get_parameters
  aws_lambda_powertools/utilities/parameters/ssm.py
Labels: bug, size/XS

#5262 docs(parser): change parser documentation
  .github/workflows/quality_check.yml
  docs/utilities/parser.md
  examples/parser/src/bring_your_own_envelope.json
  examples/parser/src/bring_your_own_envelope.py
  examples/parser/src/custom_data_model_with_eventbridge.py
  examples/parser/src/data_model_eventbridge.json
  examples/parser/src/envelope_payload.json
  examples/parser/src/envelope_with_event_parser.py
  examples/parser/src/example_event_parser.json
  examples/parser/src/extending_built_in_models_with_json_mypy.py
  examples/parser/src/extending_built_in_models_with_json_validator.py
  examples/parser/src/field_validator.py
  examples/parser/src/field_validator_all_values.py
  examples/parser/src/getting_started_with_parser.py
  examples/parser/src/json_data_string.json
  examples/parser/src/model_validator.py
  examples/parser/src/multiple_model_parsing.py
  examples/parser/src/parser_function.py
  examples/parser/src/serialization_parser.py
  examples/parser/src/sqs_model_event.json
  examples/parser/src/sqs_model_event.py
  examples/parser/src/string_fields_contain_json.py
  examples/parser/src/string_fields_contain_json_pydantic_validator.py
  examples/parser/src/using_the_model_from_event.py
Labels: documentation, size/XXL, github-actions

#5320 feat(layers): introduce new CDK Python constructor for Powertools Lambda Layer
  .github/workflows/quality_check.yml
  .github/workflows/quality_code_cdk_constructor.yml
  layer_v3/__init__.py
  layer_v3/layer/layer_stack.py
  layer_v3/layer_constructors/__init__.py
  layer_v3/layer_constructors/helpers.py
  layer_v3/layer_constructors/layer_stack.py
  layer_v3/layer_constructors/tests/__init__.py
  layer_v3/layer_constructors/tests/unit/__init__.py
  layer_v3/layer_constructors/tests/unit/test_new_cdk_constructor_stack.py
  layer_v3/poetry.lock
  layer_v3/pyproject.toml
Labels: feature, size/L, github-actions

#5535 fix(parser): support TypeAdapter instances as models
  aws_lambda_powertools/utilities/parser/functions.py
  tests/functional/parser/test_parser.py
Labels: bug, size/M, tests

#5542 fix(metrics): add warning for invalid dimension values; prevent their addition to EMF blobs
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  docs/core/metrics.md
  tests/functional/metrics/required_dependencies/test_metrics_cloudwatch_emf.py
Labels: bug, size/M, tests, metrics

#5555 chore(ci): Bump CDK version to build layers and fix imports
  layer_v3/layer/layer_stack.py
  layer_v3/layer_constructors/layer_stack.py
  package-lock.json
  package.json
Labels: internal, size/XS

#5557 chore(ci): fix imports to build Lambda layer
  layer_v3/layer/layer_stack.py
Labels: internal, size/XS

#5562 docs(layer): update layer version number - v3.3.0
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  docs/upgrade.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Labels: documentation, size/XL

#5579 chore(layers): balance Python 3.13 layers in GovCloud partition
  .github/workflows/layer_govcloud_python313.yml
Labels: internal, size/L, github-actions

#5448 feat(event_source): Extend CodePipeline Artifact Capabilities
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  docs/utilities/data_classes.md
  tests/events/codePipelineEventData.json
  tests/unit/data_classes/_boto3/test_code_pipeline_job_event.py
Labels: documentation, size/L, tests

#5575 fix(openapi): Allow values of any type in the examples of the Schema Object.
  aws_lambda_powertools/event_handler/openapi/models.py
  tests/functional/event_handler/_pydantic/test_openapi_params.py
Labels: bug, size/M, tests, event_handlers

#5588 feat(event_handler): add exception handling mechanism for AppSyncResolver
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/exception_handling_graphql.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_batch_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
Labels: feature, size/L, tests, event_handlers

#5602 refactor(event_handler): add type annotations for `resolve` function
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: size/XS, event_handlers, enhancement

#5626 chore(ci): remove poetry cache in quality check pipeline
  .github/workflows/quality_check.yml
Labels: internal, size/XS, github-actions

#5601 refactor(event_handler): add type annotations for router decorators
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: bug, internal, size/S, event_handlers

#5597 feat(parser): add models for API GW Websockets events
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  aws_lambda_powertools/utilities/parser/envelopes/apigw_websocket.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/apigw_websocket.py
  docs/utilities/parser.md
  tests/events/apiGatewayWebSocketApiConnect.json
  tests/events/apiGatewayWebSocketApiDisconnect.json
  tests/events/apiGatewayWebSocketApiMessage.json
  tests/unit/parser/_pydantic/schemas.py
  tests/unit/parser/_pydantic/test_apigw_websockets.py
Labels: documentation, feature, size/L, tests, do-not-merge, need-issue

#5641 chore(ci): replace closed-issue-message action with powertools action
  .github/workflows/on_closed_issues.yml
Labels: internal, size/XS, github-actions
