Repository aws-powertools/powertools-lambda-python, pull requests merged in 2025-05, with the labels that each got.

#6591 docs(i-made-this): adding Michael's MCP server
  docs/we_made_this.md
Labels: documentation, size/S

#6593 chore(docs): fix youtube embed link in we made this
  docs/we_made_this.md
Labels: internal, size/XS

#6610 docs(community): add Ran Isenberg blog post
  docs/we_made_this.md
Labels: documentation, size/XS

#6639 feat(event_source): export SQSRecord in data_classes module
  aws_lambda_powertools/utilities/data_classes/__init__.py
  examples/event_sources/src/sqs_event.py
Labels: feature, size/S

#6658 feat(event_source): add support for tumbling windows in Kinesis and DynamoDB events
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_stream_event.py
  tests/events/dynamoStreamTumblingWindowEvent.json
  tests/events/kinesisStreamEvent.json
  tests/events/kinesisStreamTumblingWindowEvent.json
  tests/unit/data_classes/required_dependencies/test_dynamo_db_stream_event.py
  tests/unit/data_classes/required_dependencies/test_kinesis_stream_event.py
Labels: feature, size/L, tests

#6656 feat(parser): add support to decompress Kinesis CloudWatch logs in Kinesis envelope
  aws_lambda_powertools/utilities/parser/envelopes/kinesis.py
  tests/unit/parser/_pydantic/test_kinesis.py
Labels: feature, size/M, tests

#6618 chore(ci): include allowed licenses file in dependency review workflow
  .github/dependency-review-config.yml
  .github/workflows/dependency-review.yml
  .github/workflows/quality_check.yml
  Makefile
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/M, github-actions

#6693 chore(docs): Add llms.txt to documentation
  docs/requirements.in
  docs/requirements.txt
  mkdocs.yml
Labels: internal, size/L

#6717 chore(ci): add missing dependency to build docs
  mkdocs.yml
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/XS

#6601 feat(event_handler): enable support for custom deserializer to parse the request body
  .github/workflows/quality_check.yml
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/event_handler/vpc_lattice.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/custom_json_deserializer.py
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
Labels: feature, size/M, tests, github-actions, event_handlers
