Repository aws-powertools/powertools-lambda-python, pull requests merged in 2025-08, with the labels that each got.

#7083 fix(parameters): fix _transform_and_cache_get_parameters_response
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  tests/functional/parameters/_boto3/test_utilities_parameters.py
Labels: bug, size/M, tests

#7100 refactor(parser): Improve ALB models with examples and descriptions
  aws_lambda_powertools/utilities/parser/models/alb.py
Labels: size/M, enhancement

#7094 docs(event_handler): improve routing rules syntax documentation
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/dynamic_routes_catch_all.py
  examples/event_handler_rest/src/routing_advanced_examples.py
  examples/event_handler_rest/src/routing_syntax_basic.py
Labels: documentation, size/L

#7133 docs(logger): fix typo in sampling examples
  examples/logger/src/sampling_debug_logs_with_decorator.py
  examples/logger/src/sampling_debug_logs_with_standalone_function.py
Labels: documentation, size/XS

#7137 chore(git): add LLM tools to .gitignore file
  .gitignore
Labels: internal, size/XS

#7173 chore(automation): update PR template to include closes command
  .github/PULL_REQUEST_TEMPLATE.md
Labels: internal, size/M, github-templates

#7163 docs(build_recipes): add initial build recipes structure
  .pre-commit-config.yaml
  docs/build_recipes/getting-started.md
  docs/build_recipes/index.md
  mkdocs.yml
Labels: documentation, size/L

#7234 refactor(parser): Improve VPC Lattice with examples and descriptions
  aws_lambda_powertools/utilities/parser/models/vpc_lattice.py
  aws_lambda_powertools/utilities/parser/models/vpc_latticev2.py
Labels: size/L, enhancement

#7272 docs: Add installation snippet for uv package manager
  docs/index.md
Labels: documentation, size/XS
