Repository aws-powertools/powertools-lambda-python, pull requests merged in 2025-07, with the labels that each got.

#6914 chore(ci): incorporate SSM update workflow into release pipeline
  .github/workflows/release-v3.yml
  .github/workflows/update_ssm.yml
Labels: internal, size/M, github-actions

#6936 fix: enable response compression when using multi-value headers
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/_pydantic/test_openapi_swagger.py
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
Labels: size/S, tests, event_handlers

#6937 docs(event-handler): remove Amplify transformers section
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/amplify_graphql_transformer_schema.graphql
  examples/event_handler_graphql/src/graphql_transformer_common_field.json
  examples/event_handler_graphql/src/graphql_transformer_find_merchant.json
  examples/event_handler_graphql/src/graphql_transformer_list_locations.json
  examples/event_handler_graphql/src/graphql_transformer_merchant_info.py
  examples/event_handler_graphql/src/graphql_transformer_search_merchant.py
Labels: documentation, size/L

#6947 docs(event_handler): revert deleted file
  examples/event_handler_graphql/src/graphql_transformer_list_locations.json
Labels: documentation, size/S

#6955 docs(roadmap): update roadmap items
  docs/roadmap.md
Labels: documentation, size/S

#6851 docs(we_made_this): add MCP server template
  docs/we_made_this.md
Labels: documentation, size/S

#6737 feat(parser): Added Cognito trigger schemas
  .github/workflows/quality_check.yml
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/cognito.py
  docs/utilities/parser.md
  tests/events/cognitoCreateAuthChallengeEvent.json
  tests/events/cognitoCustomEmailSenderEvent.json
  tests/events/cognitoCustomMessageEvent.json
  tests/events/cognitoCustomSMSSenderEvent.json
  tests/events/cognitoDefineAuthChallengeEvent.json
  tests/events/cognitoVerifyAuthChallengeResponseEvent.json
  tests/unit/parser/_pydantic/test_cognito_triggers.py
Labels: feature, size/L, tests, github-actions

#6985 feat(typing): add tenant_id property
  aws_lambda_powertools/utilities/typing/lambda_context.py
  docs/utilities/typing.md
  tests/functional/typing/required_dependencies/test_utilities_typing.py
Labels: feature, size/S, tests, typing

#6999 feat(parser): add AppSync Events models
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/appsync_events.py
  docs/utilities/parser.md
  tests/events/appSyncEventsEvent.json
  tests/unit/parser/_pydantic/test_appsync_events.py
Labels: feature, size/M, tests

#7017 docs(parameters): fix typo in transform auto instruction
  docs/utilities/parameters.md
Labels: documentation, size/XS

#7026 feat(metrics): add runtime validations for the metric name
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/constants.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/exceptions.py
  tests/functional/metrics/required_dependencies/test_metrics_cloudwatch_emf.py
Labels: feature, size/M, tests, metrics

#7028 feat(event_handler): add support for form data in OpenAPI utility
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  aws_lambda_powertools/event_handler/openapi/params.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/working_with_form_data.py
  tests/functional/event_handler/_pydantic/test_openapi_params.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Labels: feature, size/L, tests, event_handlers

#7047 chore(ci): remove closed-issue and opened-pr workflows
  .github/workflows/on_closed_issues.yml
  .github/workflows/on_opened_pr.yml
Labels: internal, size/M, github-actions

#7051 chore(ci): improve feature flags UA
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
Labels: internal, size/S

#7050 fix(event_handler): split OpenAPI validation to respect middleware returns
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/middleware_and_data_validation.py
  tests/e2e/event_handler/handlers/data_validation_and_middleware.py
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/event_handler/test_openapi.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Labels: bug, size/XL, tests, event_handlers
