Repository aws-powertools/powertools-lambda-python, pull requests merged in 2025-03, with the labels that each got.

#6197 refactor(tracer): fix capture_lambda_handler return type annotation
  aws_lambda_powertools/tracing/tracer.py
Labels: size/XS, enhancement, tracer

#6221 docs(layer): Fix SSM parameter name for looking up layer ARN
  docs/index.md
Labels: documentation, size/XS

#6060 feat(logger): add logger buffer feature
  aws_lambda_powertools/logging/buffer/__init__.py
  aws_lambda_powertools/logging/buffer/cache.py
  aws_lambda_powertools/logging/buffer/config.py
  aws_lambda_powertools/logging/buffer/functions.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/shared/functions.py
  docs/core/logger.md
  examples/logger/src/getting_started_with_buffering_logs.py
  examples/logger/src/working_with_buffering_logs_creating_instance.py
  examples/logger/src/working_with_buffering_logs_different_levels.py
  examples/logger/src/working_with_buffering_logs_disable_on_error.py
  examples/logger/src/working_with_buffering_logs_reusing_function.py
  examples/logger/src/working_with_buffering_logs_reusing_handler.py
  examples/logger/src/working_with_buffering_logs_when_raise_exception.py
  noxfile.py
  tests/e2e/logger/handlers/buffer_logs_with_flush.py
  tests/e2e/logger/handlers/buffer_logs_without_flush.py
  tests/e2e/logger/test_logger.py
  tests/functional/logger/required_dependencies/test_powertools_logger_buffer.py
  tests/unit/logger/__init__.py
  tests/unit/logger/required_dependencies/__init__.py
  tests/unit/logger/required_dependencies/test_logger_buffer_cache.py
  tests/unit/logger/required_dependencies/test_logger_buffer_config.py
  tests/unit/logger/required_dependencies/test_logger_buffer_functions.py
Labels: feature, size/XXL, tests, logger, commons

#6234 fix(event_handler): revert regression when validating response
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Labels: bug, size/M, tests, event_handlers

#6214 refactor(tests): add LambdaContext type in tests
  docs/core/event_handler/appsync.md
  docs/core/event_handler/bedrock_agents.md
  docs/core/metrics.md
  docs/utilities/data_masking.md
  examples/batch_processing/src/getting_started_with_test.py
  examples/data_masking/tests/test_lambda_mask.py
  examples/event_handler_bedrock_agents/src/assert_bedrock_agent_response.py
  examples/event_handler_graphql/src/assert_async_graphql_response.py
  examples/event_handler_graphql/src/assert_graphql_response.py
  examples/event_handler_rest/src/assert_alb_api_resolver_response.py
  examples/event_handler_rest/src/assert_function_url_api_resolver_response.py
  examples/event_handler_rest/src/assert_http_api_resolver_response.py
  examples/event_handler_rest/src/assert_rest_api_resolver_response.py
  examples/idempotency/tests/test_disabling_idempotency_utility.py
  examples/idempotency/tests/test_with_dynamodb_local.py
  examples/idempotency/tests/test_with_io_operations.py
  examples/logger/src/fake_lambda_context_for_logger.py
  examples/metrics/src/assert_multiple_emf_blobs.py
  tests/functional/idempotency/_boto3/conftest.py
  tests/functional/idempotency/_redis/test_redis_layer.py
  tests/integration/idempotency/test_idempotency_redis.py
Labels: size/L, tests, enhancement

#6242 docs(homepage): update layer instructions link
  docs/index.md
Labels: documentation, size/XS

#6189 feat(event_handler): add custom response validation in OpenAPI utility
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/exceptions.py
  aws_lambda_powertools/event_handler/vpc_lattice.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/customizing_response_validation.py
  examples/event_handler_rest/src/customizing_response_validation_exception.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Labels: feature, size/L, tests, event_handlers

#6204 feat(event_handler): add custom method for OpenAPI configuration
  Makefile
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/config.py
  aws_lambda_powertools/event_handler/openapi/constants.py
  docs/core/event_handler/_openapi_customization_metadata.md
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/customizing_api_metadata.py
  examples/event_handler_rest/src/security_schemes_global.py
  examples/event_handler_rest/src/security_schemes_global_and_optional.py
  examples/event_handler_rest/src/security_schemes_per_operation.py
  tests/functional/event_handler/_pydantic/test_openapi_config.py
  tests/functional/event_handler/_pydantic/test_openapi_params.py
Labels: documentation, dependencies, feature, internal, size/L, tests, event_handlers, commons

#6289 refactor(data_classes): simplify nested data classes
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_stream_event.py
  aws_lambda_powertools/utilities/data_classes/s3_event.py
  aws_lambda_powertools/utilities/data_classes/ses_event.py
  tests/unit/data_classes/required_dependencies/test_cognito_user_pool_event.py
  tests/unit/data_classes/required_dependencies/test_kinesis_stream_event.py
Labels: size/XL, tests, enhancement

#6280 fix(metrics): ensure proper type conversion for `DD_FLUSH_TO_LOG` env var
  Makefile
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/functional/metrics/datadog/test_metrics_datadog.py
Labels: bug, dependencies, size/M, tests, metrics

#6287 feat(data_classes): add API Gateway Websocket event
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_websocket_event.py
  tests/unit/data_classes/required_dependencies/test_api_gateway_websocket_event.py
Labels: feature, size/L, tests, event_sources

#6288 refactor(data_classes): remove duplicated code
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Labels: size/M, enhancement, event_sources

#6297 refactor(data_classes): Add base class with common code
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
Labels: size/M, enhancement

#6314 chore(logger): clear prev request buffers in manual mode
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  tests/functional/logger/required_dependencies/test_powertools_logger_buffer.py
Labels: internal, size/M, tests, logger

#6315 feat(metrics): allow change ColdStart function_name dimension
  aws_lambda_powertools/metrics/functions.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  aws_lambda_powertools/shared/constants.py
  docs/core/metrics.md
  docs/index.md
  examples/metrics/sam/template.yaml
  examples/metrics/src/working_with_custom_cold_start_function_name.py
  tests/functional/metrics/datadog/test_metrics_datadog.py
  tests/functional/metrics/required_dependencies/test_metrics_cloudwatch_emf.py
Labels: feature, size/L, tests, metrics, commons

#6342 docs(public_reference): add Guild as a public reference
  README.md
  docs/index.md
Labels: documentation, size/XS

#6343 chore(documentation): v2 end of support
  docs/overrides/main.html
  docs/upgrade.md
  docs/versioning.md
Labels: internal, size/S

#6347 docs(homepage): add SAR documentation
  docs/index.md
  examples/homepage/install/sar/cdk_sar.py
  examples/homepage/install/sar/sam.yaml
  examples/homepage/install/sar/scoped_down_iam.yaml
  examples/homepage/install/sar/serverless.yml
  examples/homepage/install/sar/terraform.tf
Labels: documentation, size/M
