Repository aws-powertools/powertools-lambda-python, pull requests merged in 2025-06, with the labels that each got.

#6821 feat(kafka): New Kafka utility
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/kafka/__init__.py
  aws_lambda_powertools/utilities/kafka/consumer_records.py
  aws_lambda_powertools/utilities/kafka/deserializer/__init__.py
  aws_lambda_powertools/utilities/kafka/deserializer/avro.py
  aws_lambda_powertools/utilities/kafka/deserializer/base.py
  aws_lambda_powertools/utilities/kafka/deserializer/default.py
  aws_lambda_powertools/utilities/kafka/deserializer/deserializer.py
  aws_lambda_powertools/utilities/kafka/deserializer/json.py
  aws_lambda_powertools/utilities/kafka/deserializer/protobuf.py
  aws_lambda_powertools/utilities/kafka/exceptions.py
  aws_lambda_powertools/utilities/kafka/kafka_consumer.py
  aws_lambda_powertools/utilities/kafka/schema_config.py
  aws_lambda_powertools/utilities/kafka/serialization/__init__.py
  aws_lambda_powertools/utilities/kafka/serialization/base.py
  aws_lambda_powertools/utilities/kafka/serialization/custom_dict.py
  aws_lambda_powertools/utilities/kafka/serialization/dataclass.py
  aws_lambda_powertools/utilities/kafka/serialization/pydantic.py
  aws_lambda_powertools/utilities/kafka/serialization/serialization.py
  aws_lambda_powertools/utilities/kafka/serialization/types.py
  aws_lambda_powertools/utilities/parser/models/kafka.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/events/kafkaEventMsk.json
  tests/functional/kafka_consumer/__init__.py
  tests/functional/kafka_consumer/_avro/__init__.py
  tests/functional/kafka_consumer/_avro/test_kafka_consumer_with_avro.py
  tests/functional/kafka_consumer/_protobuf/__init__.py
  tests/functional/kafka_consumer/_protobuf/test_kafka_consumer_with_protobuf.py
  tests/functional/kafka_consumer/_protobuf/user.proto
  tests/functional/kafka_consumer/_protobuf/user_pb2.py
  tests/functional/kafka_consumer/_pydantic/test_kafka_consumer_with_pydantic.py
  tests/functional/kafka_consumer/conftest.py
  tests/functional/kafka_consumer/required_dependencies/__init__.py
  tests/functional/kafka_consumer/required_dependencies/test_kafka_consumer.py
  tests/unit/data_classes/required_dependencies/test_kafka_event.py
  tests/unit/parser/_pydantic/test_kafka.py
Labels: dependencies, feature, size/XXL, tests, event_handlers

#6833 feat(kafka): add support for Confluence Producers
  aws_lambda_powertools/utilities/kafka/deserializer/protobuf.py
  tests/functional/kafka_consumer/_protobuf/confluent_protobuf.proto
  tests/functional/kafka_consumer/_protobuf/confluent_protobuf_pb2.py
  tests/functional/kafka_consumer/_protobuf/test_kafka_consumer_with_protobuf.py
Labels: feature, size/L, tests

#6841 feat(kafka): add logic to handle protobuf deserialization
  aws_lambda_powertools/utilities/kafka/consumer_records.py
  aws_lambda_powertools/utilities/kafka/deserializer/avro.py
  aws_lambda_powertools/utilities/kafka/deserializer/default.py
  aws_lambda_powertools/utilities/kafka/deserializer/deserializer.py
  aws_lambda_powertools/utilities/kafka/deserializer/json.py
  aws_lambda_powertools/utilities/kafka/deserializer/protobuf.py
  aws_lambda_powertools/utilities/kafka/exceptions.py
  aws_lambda_powertools/utilities/kafka/serialization/custom_dict.py
  aws_lambda_powertools/utilities/kafka/serialization/dataclass.py
  aws_lambda_powertools/utilities/kafka/serialization/pydantic.py
  tests/functional/kafka_consumer/_avro/test_kafka_consumer_with_avro.py
  tests/functional/kafka_consumer/_protobuf/schemas/__init__.py
  tests/functional/kafka_consumer/_protobuf/schemas/complex_schema_with_confuent.py
  tests/functional/kafka_consumer/_protobuf/schemas/complex_schema_with_glue.py
  tests/functional/kafka_consumer/_protobuf/test_kafka_consumer_with_protobuf.py
  tests/functional/kafka_consumer/_protobuf/user_prof.proto
  tests/functional/kafka_consumer/_protobuf/user_prof_pb2.py
  tests/functional/kafka_consumer/required_dependencies/test_kafka_consumer.py
Labels: feature, size/XL, tests

#6867 feat(ci): Deploy to AWS China partitions
  .github/workflows/layers_partition_verify.yml
  .github/workflows/layers_partitions.yml
Labels: feature, size/L, github-actions

#6878 fix(event_source): fix decode headers with signed bytes
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/kafka/consumer_records.py
  aws_lambda_powertools/utilities/parser/models/kafka.py
  tests/events/kafkaEventMsk.json
  tests/unit/data_classes/required_dependencies/test_kafka_event.py
  tests/unit/parser/_pydantic/test_kafka.py
Labels: bug, size/M, tests, commons

#6847 fix(logger): caplog working with parent Logger
  aws_lambda_powertools/logging/logger.py
  tests/functional/logger/required_dependencies/test_logger.py
Labels: bug, dependencies, size/S, tests, github-actions, logger, commons

#6895 chore(ci): remove v2 deployment files
  .github/workflows/publish_v2_layer.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_deploy_v3_sar.yml
  layer/.gitignore
  layer/README.md
  layer/app.py
  layer/cdk.json
  layer/layer/__init__.py
  layer/layer/canary/app.py
  layer/layer/canary_stack.py
  layer/layer/layer_stack.py
  layer/poetry.lock
  layer/pyproject.toml
  layer/sar/template.txt
  layer/scripts/update_layer_arn.sh
Labels: dependencies, internal, size/XXL, github-actions

#6899 chore(ci): stop publishing to gh-pages branch
  .github/workflows/reusable_publish_docs.yml
  Makefile
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/S, github-actions

#6903 chore(ci): stop publishing to gh-pages branch
  .github/workflows/reusable_publish_docs.yml
  docs/requirements.in
  docs/requirements.txt
Labels: internal, size/L, github-actions
