Repository aws-powertools/powertools-lambda-python, pull requests merged in 2025-01, with the labels that each got.

#5859 chore(ci): fix dependency resolution
  examples/event_handler_graphql/src/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1024/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_128/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1769/requirements.txt
Labels: internal, size/S, tests

#5862 chore(ci): change token permissions
  .github/workflows/dispatch_analytics.yml
  .github/workflows/layer_govcloud_python313.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_deploy_v3_sar.yml
Labels: internal, size/M, github-actions

#5865 chore(ci): change token permissions
  .github/workflows/publish_v3_layer.yml
Labels: size/XS, github-actions

#5866 chore(ci): fix permissions for gh pages
  .github/workflows/publish_v3_layer.yml
  .github/workflows/reusable_publish_docs.yml
Labels: internal, size/XS, github-actions

#5867 chore(ci): adjust token permission
  .github/workflows/publish_v3_layer.yml
  .github/workflows/reusable_publish_docs.yml
Labels: size/XS, github-actions

#5880 fix(parser): make identitySource optional for ApiGatewayAuthorizerRequestV2 model
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  tests/unit/parser/_pydantic/test_apigwv2.py
Labels: bug, size/S, tests

#5885 fix(event_handler): fix forward references resolution in OpenAPI
  aws_lambda_powertools/event_handler/openapi/dependant.py
Labels: bug, size/XS, event_handlers

#5886 fix(event_handler): add tests for PEP 563 compatibility with OpenAPI
  tests/e2e/event_handler/handlers/openapi_handler_with_pep563.py
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/event_handler/test_openapi.py
  tests/functional/event_handler/_pydantic/test_openapi_with_pep563.py
Labels: bug, size/L, tests

#5883 feat(logger): add context manager for logger keys
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  examples/logger/src/append_context_keys.json
  examples/logger/src/append_context_keys.py
  tests/functional/logger/required_dependencies/test_logger.py
Labels: feature, size/L, tests, need-issue, logger

#5895 docs(event_handler): demonstrate handling optional security routes
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/security_schemes_global_and_optional.py
Labels: documentation, size/M

#5902 chore(ci): make `pyproject.toml` fully compatible with Poetryv2
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/M

#5898 feat(idempotency): add support for custom Idempotency key prefix
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_custom_idempotency_key_prefix.py
  examples/idempotency/src/working_with_custom_idempotency_key_prefix_standalone.py
  tests/functional/idempotency/_boto3/test_idempotency.py
Labels: feature, size/L, tests, idempotency

#5896 chore(ci): drop support for Python 3.8
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/static_typing.yml
  .github/workflows/layer_govcloud.yml
  .github/workflows/layer_govcloud_verify.yml
  .github/workflows/publish_v3_layer.yml
  .github/workflows/quality_check.yml
  .github/workflows/reusable_deploy_v3_layer_stack.yml
  .github/workflows/reusable_deploy_v3_sar.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/update_ssm.yml
  aws_lambda_powertools/utilities/idempotency/serialization/functions.py
  benchmark/template.yaml
  docs/automation.md
  docs/contributing/setup.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  docs/upgrade.md
  layer/sar/template.txt
  layer_v3/docker/Dockerfile
  layer_v3/docker/install_libraries.sh
  layer_v3/layer/canary_stack.py
  layer_v3/layer/layer_stack.py
  layer_v3/layer_constructors/tests/unit/test_new_cdk_constructor_stack.py
  layer_v3/poetry.lock
  layer_v3/pyproject.toml
  poetry.lock
  pyproject.toml
  tests/e2e/utils/infrastructure.py
Labels: dependencies, internal, size/L, tests, github-actions, github-templates

#5906 feat(parser): add AWS Transfer Family model
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/transfer_family.py
  docs/utilities/parser.md
  tests/events/TransferFamily.json
  tests/unit/parser/_pydantic/test_aws_transfer_family.py
Labels: feature, size/M, tests, parser

#5916 docs(data_classes): improve Event Source Data Classes documentation
  docs/media/utilities_data_classes.png
  docs/utilities/data_classes.md
  examples/event_sources/events/active_mq_event_example.json
  examples/event_sources/events/apigw_event.json
  examples/event_sources/events/aws_config_rule_scheduled.json
  examples/event_sources/events/debugging_event.json
  examples/event_sources/events/debugging_output.json
  examples/event_sources/events/s3ObjectEvent.json
  examples/event_sources/events/vpc_lattice_payload.json
  examples/event_sources/events/vpc_lattice_v2_payload.json
  examples/event_sources/src/active_mq_example.py
  examples/event_sources/src/albEvent.py
  examples/event_sources/src/apigw_auth_v2.py
  examples/event_sources/src/apigw_authorizer_request.py
  examples/event_sources/src/apigw_authorizer_token.py
  examples/event_sources/src/apigw_proxy_decorator.py
  examples/event_sources/src/apigw_proxy_v2.py
  examples/event_sources/src/appSyncAuthorizer.py
  examples/event_sources/src/appSyncResolver.py
  examples/event_sources/src/aws_config_rule.py
  examples/event_sources/src/aws_config_rule_item_changed.json
  examples/event_sources/src/aws_config_rule_oversized.json
  examples/event_sources/src/bedrock_agent.py
  examples/event_sources/src/cloudWatchDashboard.py
  examples/event_sources/src/cloudformation_custom_resource_handler.py
  examples/event_sources/src/cloudwatch_logs.py
  examples/event_sources/src/code_pipeline_job.py
  examples/event_sources/src/codedeploy_lifecycle_hook.py
  examples/event_sources/src/cognito_create_auth.py
  examples/event_sources/src/cognito_define_auth.py
  examples/event_sources/src/cognito_post_confirmation.py
  examples/event_sources/src/cognito_verify_auth.py
  examples/event_sources/src/connect_contact_flow.py
  examples/event_sources/src/dynamodb_multiple_records.py
  examples/event_sources/src/dynamodb_stream.py
  examples/event_sources/src/eventBridgeEvent.py
  examples/event_sources/src/getting_started_data_classes.py
  examples/event_sources/src/kafka_event.py
  examples/event_sources/src/kinesisStreamCloudWatchLogs.py
  examples/event_sources/src/kinesis_batch_example.py
  examples/event_sources/src/kinesis_streams.py
  examples/event_sources/src/lambdaFunctionUrl.py
  examples/event_sources/src/rabbit_mq_example.py
  examples/event_sources/src/s3Event.py
  examples/event_sources/src/s3_event_bridge.py
  examples/event_sources/src/s3_object_lambda.py
  examples/event_sources/src/secrets_manager_event.json
  examples/event_sources/src/ses_event.py
  examples/event_sources/src/sns_event.py
  examples/event_sources/src/sqs_event.py
Labels: documentation, size/XXL

#5912 feat(event_source): add AWS Transfer Family classes
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/transfer_family_event.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/transfer_family.py
  docs/utilities/data_classes.md
  docs/utilities/parser.md
  tests/events/TransferFamily.json
  tests/events/transferFamilyAuthorizer.json
  tests/unit/data_classes/required_dependencies/test_transfer_family_event.py
  tests/unit/parser/_pydantic/test_transfer_family.py
Labels: documentation, feature, size/L, tests

#5925 docs(parser): improve documentation with Pydantic best practices
  docs/utilities/parser.md
Labels: documentation, size/XS

#5936 chore(ci): update poetry version to v2
  .github/workflows/pre-release.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/publish_v3_layer.yml
  .github/workflows/release-v3.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v3_layer_stack.yml
  Makefile
Labels: internal, size/M, github-actions

#5938 chore(ci): adding poetry export plugin to support v2
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/XS, github-actions

#5941 chore(ci): adding poetry export plugin to support v2
  .github/workflows/publish_v3_layer.yml
  .github/workflows/reusable_deploy_v3_layer_stack.yml
Labels: internal, size/XS, github-actions

#5944 fix(docs): typo in a service name in Event Handler
  docs/core/event_handler/api_gateway.md
Labels: bug, size/XS

#5950 fix(logger): child logger must respect log level
  aws_lambda_powertools/logging/logger.py
  tests/functional/logger/required_dependencies/test_logger.py
Labels: bug, size/S, tests, logger

#5952 docs(layer): update layer version number - v3.5.0
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Labels: documentation, size/XL

#5959 chore(ci): install & configure mkdocstrings plugin
  mkdocs.yml
  poetry.lock
  pyproject.toml
Labels: documentation, dependencies, internal, size/M

#5972 docs(api): migrating the validation utility to mkdocstrings
  aws_lambda_powertools/utilities/validation/__init__.py
  aws_lambda_powertools/utilities/validation/exceptions.py
  docs/api_doc/validation.md
  mkdocs.yml
Labels: documentation, size/S

#5956 feat(logger): add clear_state method
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  examples/logger/src/after_clear_state.json
  examples/logger/src/before_clear_state.json
  examples/logger/src/clear_state_method.py
  tests/functional/logger/required_dependencies/test_logger.py
Labels: feature, size/L, tests, logger
