Repository aws-powertools/powertools-lambda-python, pull requests merged in 2025-04, with the labels that each got.

#6403 fix(event_source): fix HomeDirectoryDetails type in TransferFamilyAuthorizerResponse method
  aws_lambda_powertools/utilities/data_classes/transfer_family_event.py
  tests/unit/data_classes/required_dependencies/test_transfer_family_event.py
Labels: bug, size/S, tests

#6400 feat(parser): add AppSyncResolver model
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/appsync.py
  docs/utilities/parser.md
  tests/events/appsync_resolver_event.json
  tests/unit/parser/_pydantic/test_appsync.py
Labels: documentation, feature, size/L, tests

#6411 fix(event_source): Added missing properties in APIGatewayWebSocketEvent class
  aws_lambda_powertools/utilities/data_classes/api_gateway_websocket_event.py
  tests/events/apiGatewayWebSocketApiConnect.json
  tests/events/apiGatewayWebSocketApiDisconnect.json
  tests/unit/data_classes/required_dependencies/test_api_gateway_websocket_event.py
Labels: bug, size/M, tests, event_sources

#6417 fix(logger): improve behavior with `exc_info=True` to prevent errors
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/utilities/parser/models/appsync.py
  tests/functional/logger/required_dependencies/test_logger.py
  tests/unit/parser/_pydantic/test_appsync.py
Labels: bug, size/M, tests, logger

#6436 docs(bedrock): fix BedrockServiceRole in template.yaml
  examples/event_handler_bedrock_agents/sam/template.yaml
Labels: size/XS

#6341 feat(event_handler): add route-level custom response validation in OpenAPI utility
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/exceptions.py
  aws_lambda_powertools/event_handler/openapi/types.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/customizing_response_validation.py
  ruff.toml
  tests/functional/event_handler/_pydantic/test_openapi_responses.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Labels: documentation, feature, size/L, tests, event_handlers

#6413 feat(data-masking): add support for Pydantic models, dataclasses, and standard classes
  aws_lambda_powertools/utilities/data_masking/base.py
  docs/utilities/data_masking.md
  examples/data_masking/src/working_with_custom_types.py
  examples/data_masking/src/working_with_dataclass_types.py
  examples/data_masking/src/working_with_pydantic_types.py
  tests/functional/data_masking/_pydantic/test_data_masking_with_pydantic.py
Labels: documentation, dependencies, feature, size/L, tests, commons

#6454 feat(event_handler): add extras HTTP Error Code Exceptions
  aws_lambda_powertools/event_handler/exceptions.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/raising_http_errors.py
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
Labels: feature, size/L, tests, event_handlers

#6471 refactor(logger): use standard collections for types
  aws_lambda_powertools/logging/buffer/functions.py
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/formatters/datadog.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/logging/utils.py
  tests/functional/logger/required_dependencies/test_logger.py
  tests/functional/logger/required_dependencies/test_logger_powertools_formatter.py
  tests/functional/logger/required_dependencies/test_logger_utils.py
  tests/functional/logger/required_dependencies/test_logger_with_package_logger.py
  tests/functional/logger/required_dependencies/test_powertools_logger_buffer.py
  tests/unit/logger/required_dependencies/test_logger_buffer_cache.py
  tests/unit/logger/required_dependencies/test_logger_buffer_config.py
  tests/unit/logger/required_dependencies/test_logger_buffer_functions.py
Labels: size/M, tests, logger, enhancement

#6468 docs(bedrock_agents): remove Pydantic v1 recommendation
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/bedrock_agents.md
Labels: documentation, size/XS

#6475 refactor(batch): use standard collections for types
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/decorators.py
  tests/functional/batch/required_dependencies/test_utilities_batch.py
Labels: size/S, tests, enhancement

#6472 refactor(metrics): use standard collections for types
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metrics.py
  tests/functional/metrics/conftest.py
  tests/functional/metrics/datadog/test_metrics_datadog.py
  tests/functional/metrics/required_dependencies/test_metrics_cloudwatch_emf.py
  tests/functional/metrics/required_dependencies/test_metrics_provider.py
  tests/unit/metrics/conftest.py
  tests/unit/metrics/test_functions.py
  tests/unit/metrics/test_unit_datadog.py
Labels: size/M, tests, enhancement, metrics

#6473 refactor(tracer): use standard collections for types
  aws_lambda_powertools/tracing/base.py
  aws_lambda_powertools/tracing/tracer.py
  tests/functional/tracer/_aws_xray_sdk/test_tracing.py
  tests/unit/test_tracing.py
Labels: size/S, tests, enhancement, tracer

#6479 refactor(event_source): use standard collections for types
  aws_lambda_powertools/utilities/data_classes/active_mq_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  aws_lambda_powertools/utilities/data_classes/event_source.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_stream_event.py
  aws_lambda_powertools/utilities/data_classes/s3_batch_operation_event.py
  aws_lambda_powertools/utilities/data_classes/s3_event.py
  aws_lambda_powertools/utilities/data_classes/ses_event.py
  aws_lambda_powertools/utilities/data_classes/sns_event.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/unit/data_classes/_boto3/test_code_pipeline_job_event.py
  tests/unit/data_classes/required_dependencies/test_active_mq_event.py
  tests/unit/data_classes/required_dependencies/test_alb_event.py
  tests/unit/data_classes/required_dependencies/test_api_gateway_authorizer.py
  tests/unit/data_classes/required_dependencies/test_api_gateway_authorizer_event.py
  tests/unit/data_classes/required_dependencies/test_api_gateway_authorizer_websocket_event.py
  tests/unit/data_classes/required_dependencies/test_api_gateway_proxy_event.py
  tests/unit/data_classes/required_dependencies/test_api_gateway_websocket_event.py
  tests/unit/data_classes/required_dependencies/test_appsync_authorizer_event.py
  tests/unit/data_classes/required_dependencies/test_appsync_resolver_event.py
  tests/unit/data_classes/required_dependencies/test_aws_config_rule_event.py
  tests/unit/data_classes/required_dependencies/test_bedrock_agent_event.py
  tests/unit/data_classes/required_dependencies/test_cloud_watch_alarm_event.py
  tests/unit/data_classes/required_dependencies/test_cloud_watch_custom_widget_event.py
  tests/unit/data_classes/required_dependencies/test_cloud_watch_logs_event.py
  tests/unit/data_classes/required_dependencies/test_cloudformation_custom_resource_event.py
  tests/unit/data_classes/required_dependencies/test_code_deploy_lifecycle_hook_event.py
  tests/unit/data_classes/required_dependencies/test_cognito_user_pool_event.py
  tests/unit/data_classes/required_dependencies/test_connect_contact_flow_event.py
  tests/unit/data_classes/required_dependencies/test_dynamo_db_stream_event.py
  tests/unit/data_classes/required_dependencies/test_event_bridge_event.py
  tests/unit/data_classes/required_dependencies/test_iot_registry_events.py
  tests/unit/data_classes/required_dependencies/test_kafka_event.py
  tests/unit/data_classes/required_dependencies/test_kinesis_firehose_event.py
  tests/unit/data_classes/required_dependencies/test_kinesis_firehose_response.py
  tests/unit/data_classes/required_dependencies/test_kinesis_stream_event.py
  tests/unit/data_classes/required_dependencies/test_lambda_function_url.py
  tests/unit/data_classes/required_dependencies/test_rabbit_mq_event.py
  tests/unit/data_classes/required_dependencies/test_s3_batch_operation_event.py
  tests/unit/data_classes/required_dependencies/test_s3_batch_operation_response.py
  tests/unit/data_classes/required_dependencies/test_s3_event.py
  tests/unit/data_classes/required_dependencies/test_s3_eventbridge_notification.py
  tests/unit/data_classes/required_dependencies/test_s3_object_event.py
  tests/unit/data_classes/required_dependencies/test_secrets_manager_event.py
  tests/unit/data_classes/required_dependencies/test_ses_event.py
  tests/unit/data_classes/required_dependencies/test_sns_event.py
  tests/unit/data_classes/required_dependencies/test_sqs_event.py
  tests/unit/data_classes/required_dependencies/test_transfer_family_event.py
  tests/unit/data_classes/required_dependencies/test_vpc_lattice_event.py
  tests/unit/data_classes/required_dependencies/test_vpc_lattice_eventv2.py
  tests/unit/data_classes/test_cloudformation_custom_resource_event.py
Labels: size/L, tests, enhancement

#6485 refactor(middleware_factory): use standard collections for types
  aws_lambda_powertools/middleware_factory/__init__.py
  aws_lambda_powertools/middleware_factory/factory.py
  tests/functional/middleware_factory/required_dependencies/test_middleware_factory.py
Labels: size/S, tests, enhancement, middleware_factory

#6481 refactor(parameters): use standard collections for types
  aws_lambda_powertools/utilities/parameters/base.py
  tests/functional/parameters/_boto3/test_utilities_parameters.py
Labels: size/M, tests, enhancement

#6493 refactor(data_masking): use standard collections for types
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
  aws_lambda_powertools/utilities/data_masking/provider/kms/aws_encryption_sdk.py
  tests/functional/data_masking/_aws_encryption_sdk/test_aws_encryption_sdk.py
  tests/functional/data_masking/_pydantic/test_data_masking_with_pydantic.py
  tests/functional/data_masking/conftest.py
  tests/functional/data_masking/required_dependencies/test_erase_data_masking.py
  tests/unit/data_masking/_aws_encryption_sdk/test_kms_provider.py
  tests/unit/data_masking/required_dependencies/test_base_functions.py
Labels: size/M, tests, enhancement

#6483 refactor(streaming): use standard collections for types
  aws_lambda_powertools/shared/dynamodb_deserializer.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/shared/types.py
  aws_lambda_powertools/utilities/serialization.py
  aws_lambda_powertools/utilities/streaming/_s3_seekable_io.py
  aws_lambda_powertools/utilities/streaming/s3_object.py
  tests/functional/streaming/_boto3/test_s3_object.py
  tests/functional/streaming/_boto3/test_s3_seekable_io.py
  tests/unit/shared/test_dynamodb_deserializer.py
  tests/unit/test_cookie_class.py
  tests/unit/test_data_classes.py
  tests/unit/test_json_encoder.py
  tests/unit/test_lru_cache.py
  tests/unit/test_shared_functions.py
Labels: size/M, tests, enhancement, commons, streaming

#6489 refactor(feature_flags): use standard collections for type
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  tests/functional/feature_flags/_boto3/test_feature_flags.py
  tests/functional/feature_flags/_boto3/test_schema_validation.py
  tests/functional/feature_flags/_boto3/test_time_based_actions.py
Labels: size/M, tests, enhancement

#6497 refactor(tests): use standard collections for types + refactor code
  ruff.toml
  tests/e2e/utils/data_fetcher/traces.py
  tests/functional/batch/required_dependencies/test_utilities_batch.py
  tests/functional/event_handler/_pydantic/test_openapi_with_pep563.py
  tests/functional/feature_flags/_boto3/test_time_based_actions.py
  tests/functional/logger/required_dependencies/test_logger.py
  tests/functional/metrics/required_dependencies/test_metrics_cloudwatch_emf.py
  tests/functional/metrics/required_dependencies/test_metrics_provider.py
  tests/unit/data_classes/_boto3/test_code_pipeline_job_event.py
  tests/unit/data_classes/required_dependencies/test_sqs_event.py
  tests/unit/test_tracing.py
Labels: size/M, tests, enhancement

#6495 refactor(event_handler): use standard collections for types + refactor code
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/event_handler/graphql_appsync/_registry.py
  aws_lambda_powertools/event_handler/graphql_appsync/base.py
  aws_lambda_powertools/event_handler/graphql_appsync/router.py
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/compat.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  aws_lambda_powertools/event_handler/openapi/encoders.py
  aws_lambda_powertools/event_handler/openapi/exceptions.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/event_handler/openapi/types.py
  aws_lambda_powertools/event_handler/util.py
  aws_lambda_powertools/event_handler/vpc_lattice.py
  tests/functional/event_handler/_pydantic/conftest.py
  tests/functional/event_handler/_pydantic/test_api_gateway.py
  tests/functional/event_handler/_pydantic/test_openapi_config.py
  tests/functional/event_handler/_pydantic/test_openapi_encoders.py
  tests/functional/event_handler/_pydantic/test_openapi_extensions.py
  tests/functional/event_handler/_pydantic/test_openapi_params.py
  tests/functional/event_handler/_pydantic/test_openapi_security.py
  tests/functional/event_handler/_pydantic/test_openapi_security_schemes.py
  tests/functional/event_handler/_pydantic/test_openapi_servers.py
  tests/functional/event_handler/_pydantic/test_openapi_swagger.py
  tests/functional/event_handler/_pydantic/test_openapi_tags.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_batch_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
  tests/functional/event_handler/required_dependencies/test_api_middlewares.py
  tests/functional/event_handler/required_dependencies/test_base_path.py
  tests/functional/event_handler/required_dependencies/test_lambda_function_url.py
  tests/functional/event_handler/required_dependencies/test_router.py
  tests/functional/event_handler/required_dependencies/test_vpc_lattice.py
  tests/functional/event_handler/required_dependencies/test_vpc_latticev2.py
Labels: size/L, tests, event_handlers, enhancement

#6509 fix(logger): warn customers when the ALC log level is less verbose than log buffer
  aws_lambda_powertools/logging/logger.py
  tests/functional/logger/required_dependencies/test_powertools_logger_buffer.py
Labels: bug, size/M, tests, logger

#6510 feat(bedrock): add `openapi_extensions` in BedrockAgentResolver
  aws_lambda_powertools/event_handler/bedrock_agent.py
  docs/core/event_handler/bedrock_agents.md
  examples/event_handler_bedrock_agents/src/enabling_user_confirmation.py
  tests/functional/event_handler/_pydantic/test_bedrock_agent.py
Labels: feature, size/M, tests, event_handlers

#6523 fix(parser): make key attribute optional in Kafka model
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/parser/models/kafka.py
  tests/events/kafkaEventMsk.json
  tests/events/kafkaEventSelfManaged.json
  tests/unit/data_classes/required_dependencies/test_kafka_event.py
  tests/unit/parser/_pydantic/test_kafka.py
Labels: bug, size/L, tests

#6536 docs(event_handler): fix typo in api keys swagger url
  docs/core/event_handler/api_gateway.md
Labels: documentation, size/XS

#6557 docs(event_handler): add docs for AppSync event resolver
  docs/core/event_handler/appsync_events.md
  examples/event_handler_appsync_events/src/accessing_event_and_context.py
  examples/event_handler_appsync_events/src/getting_started_with_publish_events.py
  examples/event_handler_appsync_events/src/getting_started_with_subscribe_events.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_publish.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_publish_event.json
  examples/event_handler_appsync_events/src/getting_started_with_testing_subscribe.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_subscribe_event.json
  examples/event_handler_appsync_events/src/payload_request.json
  examples/event_handler_appsync_events/src/payload_response.json
  examples/event_handler_appsync_events/src/payload_response_fail_request.json
  examples/event_handler_appsync_events/src/payload_response_with_error.json
  examples/event_handler_appsync_events/src/working_with_aggregated_events.py
  examples/event_handler_appsync_events/src/working_with_async_resolvers.py
  examples/event_handler_appsync_events/src/working_with_error_handling.py
  examples/event_handler_appsync_events/src/working_with_error_handling_multiple.py
  examples/event_handler_appsync_events/src/working_with_error_handling_response.json
  examples/event_handler_appsync_events/src/working_with_wildcard_resolvers.py
  mkdocs.yml
Labels: documentation, size/XL

#6558 feat(event_handler): add AppSync events resolver
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/events_appsync/__init__.py
  aws_lambda_powertools/event_handler/events_appsync/_registry.py
  aws_lambda_powertools/event_handler/events_appsync/appsync_events.py
  aws_lambda_powertools/event_handler/events_appsync/base.py
  aws_lambda_powertools/event_handler/events_appsync/exceptions.py
  aws_lambda_powertools/event_handler/events_appsync/functions.py
  aws_lambda_powertools/event_handler/events_appsync/router.py
  aws_lambda_powertools/event_handler/events_appsync/types.py
  aws_lambda_powertools/event_handler/exception_handling.py
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_events_event.py
  docs/core/event_handler/appsync_events.md
  examples/event_handler_appsync_events/src/accessing_event_and_context.py
  examples/event_handler_appsync_events/src/getting_started_with_publish_events.py
  examples/event_handler_appsync_events/src/getting_started_with_subscribe_events.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_publish.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_subscribe.py
  examples/event_handler_appsync_events/src/working_with_aggregated_events.py
  examples/event_handler_appsync_events/src/working_with_error_handling.py
  examples/event_handler_appsync_events/src/working_with_error_handling_multiple.py
  examples/event_handler_appsync_events/src/working_with_wildcard_resolvers.py
  tests/events/appSyncEventsEvent.json
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_events_resolvers.py
  tests/unit/data_classes/required_dependencies/test_appsync_events_event.py
  tests/unit/event_handler/_required_dependencies/__init__.py
  tests/unit/event_handler/_required_dependencies/appsync_events/__init__.py
  tests/unit/event_handler/_required_dependencies/appsync_events/test_functions.py
  tests/unit/event_handler/_required_dependencies/test_exception_handler_manager.py
Labels: feature, size/XXL, tests, event_handlers

#6572 docs(appsync_events): improve AppSync events documentation
  .cfnlintrc.yaml
  docs/core/event_handler/appsync_events.md
  examples/event_handler_appsync_events/sam/getting_started_with_appsync_events.yaml
  examples/event_handler_appsync_events/src/accessing_event_and_context.py
  examples/event_handler_appsync_events/src/fail_entire_batch.py
  examples/event_handler_appsync_events/src/fail_entire_batch_response.json
  examples/event_handler_appsync_events/src/getting_started_with_publish_events.py
  examples/event_handler_appsync_events/src/working_with_aggregated_events.py
  examples/event_handler_appsync_events/src/working_with_async_resolvers.py
  examples/event_handler_appsync_events/src/working_with_authorization_control.py
Labels: documentation, size/L

#6336 feat(bedrock_agents): add optional fields to response payload
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  docs/core/event_handler/bedrock_agents.md
  examples/event_handler_bedrock_agents/src/working_with_bedrockresponse.py
  tests/functional/event_handler/_pydantic/test_bedrock_agent.py
Labels: feature, size/L, tests, event_handlers
