Repository aws-powertools/powertools-lambda-python, pull requests merged in 2025-02, with the labels that each got.

#5996 docs(api): migrating the typing utility to mkdocstrings
  docs/api_doc/typing.md
  mkdocs.yml
Labels: documentation, size/XS

#6000 refactor(metrics): Improve type annotations for metrics decorator
  aws_lambda_powertools/metrics/metrics.py
Labels: size/XS, enhancement, metrics

#6005 docs(api): migrating the parameters utility to mkdocstrings
  docs/api_doc/parameters/appconfig.md
  docs/api_doc/parameters/base.md
  docs/api_doc/parameters/dynamodb.md
  docs/api_doc/parameters/secrets.md
  docs/api_doc/parameters/ssm.md
  mkdocs.yml
Labels: documentation, size/S

#6006 docs(api): migrating the jmespath utility to mkdocstrings
  aws_lambda_powertools/utilities/jmespath_utils/__init__.py
  aws_lambda_powertools/utilities/parameters/base.py
  docs/api_doc/jmespath_functions.md
  mkdocs.yml
Labels: documentation, size/S, jmespath

#6007 docs(api): migrating the idempotency utility to mkdocstrings
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  aws_lambda_powertools/utilities/parameters/base.py
  docs/api_doc/idempotency/base.md
  docs/api_doc/idempotency/config.md
  docs/api_doc/idempotency/exceptions.md
  docs/api_doc/idempotency/persistence.md
  docs/api_doc/idempotency/serialization.md
  mkdocs.yml
Labels: documentation, size/M

#6008 docs(api): migrating the AppConfig utility to mkdocstrings
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/feature_flags/base.py
  aws_lambda_powertools/utilities/feature_flags/comparators.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  docs/api_doc/feature_flags/appconfig.md
  docs/api_doc/feature_flags/base.md
  docs/api_doc/feature_flags/comparators.md
  docs/api_doc/feature_flags/exceptions.md
  docs/api_doc/feature_flags/feature_flags.md
  docs/api_doc/feature_flags/schema.md
  mkdocs.yml
Labels: documentation, size/M

#6013 docs(api): migrating the data masking utility to mkdocstrings
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
  aws_lambda_powertools/utilities/data_masking/provider/kms/aws_encryption_sdk.py
  docs/api_doc/data_masking/base.md
  docs/api_doc/data_masking/exceptions.md
  docs/api_doc/data_masking/provider.md
  mkdocs.yml
Labels: documentation, size/M

#6015 docs(api): migrating the event source data classes utility to mkdocstrings
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/jmespath_utils/__init__.py
  docs/api_doc/data_classes.md
  mkdocs.yml
Labels: documentation, size/S, jmespath

#5997 feat(openapi): enhance support for tuple return type validation
  .gitignore
  aws_lambda_powertools/event_handler/openapi/params.py
  tests/functional/event_handler/_pydantic/test_openapi_params.py
Labels: feature, size/M, tests, event_handlers

#6016 docs(api): migrating the batch utility to mkdocstrings
  aws_lambda_powertools/logging/__init__.py
  aws_lambda_powertools/metrics/__init__.py
  aws_lambda_powertools/middleware_factory/__init__.py
  aws_lambda_powertools/tracing/__init__.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/decorators.py
  aws_lambda_powertools/utilities/batch/sqs_fifo_partial_processor.py
  aws_lambda_powertools/utilities/data_masking/provider/kms/aws_encryption_sdk.py
  aws_lambda_powertools/utilities/parser/__init__.py
  docs/api_doc/batch/base.md
  docs/api_doc/batch/decorators.md
  docs/api_doc/batch/exceptions.md
  mkdocs.yml
Labels: documentation, size/M, logger, metrics, middleware_factory, tracer

#6019 docs(api): migrating the Middleware Factory utility to mkdocstrings
  aws_lambda_powertools/middleware_factory/__init__.py
  docs/api_doc/middleware_factory.md
  mkdocs.yml
Labels: documentation, size/XS, middleware_factory

#6021 docs(api): migrating the logger utility to mkdocstrings
  aws_lambda_powertools/logging/exceptions.py
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  docs/api_doc/logger/datadog_formatter.md
  docs/api_doc/logger/exceptions.md
  docs/api_doc/logger/formatter.md
  docs/api_doc/logger/lambda_context.md
  docs/api_doc/logger/logger.md
  mkdocs.yml
Labels: documentation, size/M, logger

#6022 docs(api): migrating the metrics utility to mkdocstrings
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  docs/api_doc/metrics/base.md
  docs/api_doc/metrics/exceptions.md
  docs/api_doc/metrics/metrics.md
  docs/api_doc/metrics/provider_datadog.md
  docs/api_doc/metrics/provider_emf.md
  mkdocs.yml
Labels: documentation, size/S, metrics

#6023 docs(api): migrating the event handler utility to mkdocstrings
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/base.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/middlewares/schema_validation.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  aws_lambda_powertools/logging/exceptions.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  aws_lambda_powertools/tracing/base.py
  docs/api_doc/event_handler/api_gateway.md
  docs/api_doc/event_handler/appsync.md
  docs/api_doc/event_handler/middleware.md
  docs/api_doc/event_handler/openapi.md
  mkdocs.yml
Labels: documentation, size/M, logger, event_handlers, metrics, tracer

#6024 chore(ci): remove pdoc3 library
  .github/workflows/quality_check.yml
  .github/workflows/reusable_publish_docs.yml
  Makefile
  aws_lambda_powertools/event_handler/openapi/params.py
  poetry.lock
  pyproject.toml
Labels: dependencies, internal, size/M, github-actions, event_handlers

#6001 chore(ci): add new script to bump Lambda layer version
  .github/workflows/publish_v3_layer.yml
  .github/workflows/release-v3.yml
  layer_v3/scripts/update_layer_arn_v3.sh
Labels: internal, size/M, github-actions

#6036 chore(docs): enable privacy plugin in docs
  mkdocs.yml
Labels: internal, size/XS

#6058 feat(event_source): add class APIGatewayAuthorizerResponseWebSocket
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  docs/utilities/data_classes.md
  examples/event_sources/src/apigw_authorizer_request_websocket.py
  tests/events/apiGatewayAuthorizerWebSocketEvent.json
  tests/unit/data_classes/required_dependencies/test_api_gateway_authorizer_websocket_event.py
Labels: feature, size/L, tests

#5837 feat(data-masking): add custom mask functionalities
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
  docs/utilities/data_masking.md
  examples/data_masking/src/custom_data_masking.py
  examples/data_masking/src/output_custom_masking.json
  examples/data_masking/src/payload_custom_masking.json
  noxfile.py
  tests/functional/data_masking/required_dependencies/test_erase_data_masking.py
  tests/unit/data_masking/_aws_encryption_sdk/test_unit_data_masking.py
  tests/unit/data_masking/required_dependencies/test_base_functions.py
Labels: documentation, feature, size/XXL, tests

#6074 fix(security): fix encryption_context handling in data masking operations
  aws_lambda_powertools/utilities/data_masking/base.py
Labels: bug, size/S

#6077 docs(roadmap): update roadmap
  docs/roadmap.md
Labels: documentation, size/L

#6109 feat(layers): add new comercial region ap-southeast-7 and mx-central-1
  .github/workflows/reusable_deploy_v3_layer_stack.yml
  .github/workflows/update_ssm.yml
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
Labels: feature, size/M, github-actions

#6088 feat(batch): raise exception for invalid batch event
  aws_lambda_powertools/utilities/batch/decorators.py
  aws_lambda_powertools/utilities/batch/exceptions.py
  tests/functional/batch/required_dependencies/test_utilities_batch.py
Labels: feature, size/M, tests

#6086 feat(event_handler): add support for defining OpenAPI examples in parameters
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/params.py
  docs/core/event_handler/_openapi_customization_parameters.md
  tests/functional/event_handler/_pydantic/test_openapi_params.py
Labels: feature, size/L, tests, event_handlers

#5892 feat(parser): Add IoT registry events models
  aws_lambda_powertools/utilities/parser/models/iot_registry_events.py
  docs/utilities/parser.md
  tests/events/codePipelineEventWithEncryptionKey.json
  tests/events/iotRegistryEventsAddOrDeleteFromThingGroupEvent.json
  tests/events/iotRegistryEventsAddOrRemoveFromThingGroupEvent.json
  tests/events/iotRegistryEventsThingEvent.json
  tests/events/iotRegistryEventsThingGroupEvent.json
  tests/events/iotRegistryEventsThingTypeAssociationEvent.json
  tests/events/iotRegistryEventsThingTypeEvent.json
  tests/functional/parameters/_boto3/test_utilities_parameters.py
  tests/unit/parser/_pydantic/test_iot_registry_events.py
Labels: documentation, feature, size/L, tests

#6103 docs(homepage): add sitemap to documentation website
  mkdocs.yml
Labels: documentation, size/XS, do-not-merge, need-issue

#6119 fix(openapi): validate response serialization when falsy
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  tests/functional/event_handler/_pydantic/test_openapi_serialization.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Labels: bug, size/L, tests, event_handlers

#6134 fix(parser): fix EventBridgeModel when working with scheduled events
  aws_lambda_powertools/utilities/parser/models/event_bridge.py
  tests/events/eventBridgeSchedulerEvent.json
  tests/unit/parser/_pydantic/test_eventbridge.py
Labels: bug, size/S, tests

#6154 fix(parser): fix data types for `sourceIPAddress` and `sequencer` fields in S3RecordModel Model
  aws_lambda_powertools/utilities/parser/models/s3.py
  tests/events/s3EventLifecycleTransition.json
  tests/unit/parser/_pydantic/test_s3.py
Labels: bug, size/M, tests

#6123 feat(parser): Event source dataclasses for IoT Core Registry Events
  aws_lambda_powertools/utilities/data_classes/iot_registry_event.py
  docs/utilities/data_classes.md
  examples/event_sources/src/iot_registry_add_or_delete_from_thing_group_event.py
  examples/event_sources/src/iot_registry_add_or_remove_from_thing_group_event.py
  examples/event_sources/src/iot_registry_thing_event.py
  examples/event_sources/src/iot_registry_thing_group_event.py
  examples/event_sources/src/iot_registry_thing_type_association_event.py
  examples/event_sources/src/iot_registry_thing_type_event.py
  tests/functional/logger/required_dependencies/test_logger_powertools_formatter.py
  tests/unit/data_classes/required_dependencies/test_iot_registry_events.py
Labels: feature, size/XL, tests

#6142 feat(logger): add new logic to sample debug logs
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  examples/logger/src/sampling_debug_logs_with_decorator.py
  examples/logger/src/sampling_debug_logs_with_standalone_function.py
  tests/functional/logger/required_dependencies/test_logger.py
Labels: feature, size/L, tests, logger

#6104 chore(ci): enable SAR deployment
  .github/workflows/publish_v3_layer.yml
  .github/workflows/release-v3.yml
  .github/workflows/reusable_deploy_v3_sar.yml
Labels: internal, size/L, github-actions, do-not-merge
